@charset "UTF-8";


$img-page: '../images/page';

$table-rwd: false;

$grid-breakpoints: (
    xs:                   phone,
    sm:                   tablet,
    md:                   desktop,
    lg:                   wide,
);

// import
// ------------------------------------------------------------
@import "core/function";

@import "_client/setting";
@import "core/variables";
@import "core/mixins";

@import "vendor/normalize";

@import "element/basic";
@import "element/link";
@import "element/type";
@import "element/table";
@import "element/util";
@import "_client/custom";

body {
    padding: 10px 15px; height: auto;
    text-align: left;
}

img {
    max-width: 100%;
}

ul, ol {
    @extend .ml-24;
}

li {
    list-style: none;
}

//列表
.list {
    margin-top: 200px;

    ul {
        list-style-type: none;
    }

    &-each {
        position: relative;
        height: 192px;
        margin: 40px 0;
        background: #FBFBFB;
        border: 1px solid #EFEFEF;
        border-radius: 20px;

        h5 {
            @extend .text-white;
            width: 200px;
            padding-left: 50px;
            margin-top: 30px;
            vertical-align: top;
        }

        article {
            padding: 45px 10px 0 225px;
            line-height: 1.5;
        }
    }

    &-title {
        position: absolute;
        top: -15px;
        background-repeat: no-repeat;
        margin-left: 50px;
        height: 165px;
    }

    #list01 {
        border-right: 30px solid color(secondary);

        div {
            background-image: url("#{$img-page}/product/list01.gif");
        }
    }

    #list02 {
        border-right: 30px solid #289DDA;

        div {
            background-image: url("#{$img-page}/product/list02.gif");
        }
    }

    #list03 {
        border-right: 30px solid #95529C;

        div {
            background-image: url("#{$img-page}/product/list03.gif");
        }
    }

    #list04 {
        border-right: 30px solid #DE4A45;

        div {
            background-image: url("#{$img-page}/product/list04.gif");
        }
    }
}

//產品資訊
.info {
    table {
        line-height: 1.5;
        margin: 0 5%;

        td:first-child {
            width: 85px;
        }
    }

    p {
        margin: 0 5%;
    }
}

//營養標示
.table {
    margin-top: 100px;

    h2 {
        padding: 100px 0 50px;
    }

    table {
        border: 4px solid #ffffff;
        border-collapse: collapse;
        width: 85%;
        margin: 0 auto;
    }

    tr, td {
        border: 1px solid #ffffff;
        padding: 20px;
        transition: all .35s, color .5s;
    }

    tr:hover {
        background-color: #128088;
    }

    .refer {
        padding: 50px 0 100px;
    }
}

// Q & A
.paragraph {
    margin: 20px 10%;

    p:first-child {
        color: color(secondary);
        font-weight: bold;
    }
}