@charset "UTF-8";


$img-page: '../images/page';

$table-rwd: false;

$grid-breakpoints: (
    xs:                   phone,
    sm:                   tablet,
    md:                   desktop,
    lg:                   wide,
);

// import
// ------------------------------------------------------------
@import "core/function";

@import "_client/setting";
@import "core/variables";
@import "core/mixins";

@import "vendor/normalize";

@import "element/basic";
@import "element/link";
@import "element/type";
@import "element/util";
@import "_client/custom";

body {
    padding: 10px 15px; height: auto;
    text-align: left;
}

img {
    max-width: 100%;
}

ul, ol {
    @extend .ml-24;
}

li {
    list-style: none;
}

#cke_EDIT3_MOBILE{
    @extend .bg-primary-light;
}

//列表
.list-m {
    margin-top: 100px;
    max-width: 667px;
    ul {

        padding-right: 1.2em;
        list-style-type: none;

        @for $i from 1 through 4 {

            li:nth-child(#{$i}) {
                div {
                    background-image: url("#{$img-page}/product/m-list0#{$i}.gif");
                    background-size: 33%;

                    @include mq(mobile) {
                        background-size: 30%;
                    }

                    @include mq(480) {
                        background-image: url("#{$img-page}/product/mc-list0#{$i}.png"), url("#{$img-page}/product/m-list0#{$i}.gif");
                        background-position: left top 45px, left top;
                    }
                    @include mq(phone) {
                        background-size: 21%;
                    }
                }
            }
        }
    }

    .list-each {
        display: flex;
        margin: 40px 0;
        border-radius: 10px;
        min-height: 130px;
        position: relative;
        background: #FBFBFB;
        border: 1px solid #EFEFEF; 

        h5 {
            text-align: center;
            width: 21%;
            margin-top: 22px;
            margin-left: 8%;
            @extend .text-white;
            vertical-align: top;

            @include mq(phone) {

                margin-left: 3%;
                width: 18%;
            }
        }

        article {
            @extend .font-lg;
            padding: 15px 0 20px 33%;
            line-height: 1.5;

            @include mq(phone) {
                padding-left: 25%;
            }
        }
    }


    .list-title {

        top:-10px;
        background-repeat: no-repeat;
        margin-left: 10px;
        height: 165px;
        width: 100%;
        position: absolute;
    }

    #list01{
        border-right: 15px solid color(secondary);
    }
    #list02 {
        border-right: 15px solid #289DDA;
    }
    #list03 {
        border-right: 15px solid #95529C;
    }
    #list04 {
        border-right: 15px solid #DE4A45;
    }
}
.list-pc {
    margin-top: 100px;

    ul {
        list-style-type: none;
        @for $i from 1 through 4 {

            li:nth-child(#{$i}) {
                div {
                    background-image: url("#{$img-page}/product/list0#{$i}.gif");
                }
            }
        }
    }

    .list-each {
        height: 192px;
        margin: 40px 0;
        border-radius: 20px;
        position: relative;
        background: #FBFBFB;
        border: 1px solid #EFEFEF; 

        h5 {
            width: 200px;
            padding-left: 50px;
            margin-top: 30px;
            @extend .text-white;
            vertical-align: top;
        }
        article {
            @extend .font-xl;
            padding: 45px 10px 0 225px;
            line-height: 1.5;
        }
    }

    .list-title {

        top:-15px;
        background-repeat: no-repeat;
        margin-left: 50px;
        height: 165px;
        position: absolute;
    }

    #list01{
        border-right: 30px solid color(secondary);
    }
    #list02 {
        border-right: 30px solid #289DDA;
    }
    #list03 {
        border-right: 30px solid #95529C;
    }
    #list04 {
        border-right: 30px solid #DE4A45;
    }
}

//產品資訊
.info-box {
    table {
        line-height: 1.5;
        margin: 0 5%;

        td:first-child {
            width: 85px;
        }
    }

    p {
        margin: 0 5%;
    }
}

//營養標示

.table-pc {
    padding-top: 100px;
    width: 85%;
    border: 4px solid #ffffff !important;
    border-collapse: collapse;
    margin: 0 auto;

    tr,td {
        padding: 20px;
        border: 1px solid #ffffff;
        padding: 20px 10px;
        transition: all .35s, color .5s;
    }
    tr:hover {
        background-color: #128088;
    }
}

.table-m{
    padding-top: 100px;
    max-width: 667px;
    border: 4px solid #ffffff !important;
    border-collapse: collapse;
    margin: 0 auto;
    tr,td {
        border: 1px solid #ffffff;
        padding: 20px 10px;
        transition: all .35s, color .5s;
    }
    tr:hover {
        background-color: #128088;
    }
}

.refer {
    max-width: 667px;
    margin: 0 auto;
    padding: 50px 0 100px;
}

// Q & A
.paragraph {
    margin: 20px 10%;

    p:first-child {
        color: color(secondary);
        font-weight: bold;
    }
}