@charset "UTF-8";

// 本頁專用變數(把下面的setting,variables蓋掉)
$isIndex:                        true;
$img-index:                      '../images/index';


// import
// ------------------------------------------------------------
@import "core/function";     // (置頂)

@import "_client/setting";   // 前台用變數 (會覆蓋下面的變數)
@import "core/variables";    // 共用變數
@import "core/mixins";

// 由此 output css
@import "vendor/normalize";  // 重置樣式
@import "vendor/print";      // 列印樣式

@import "element/basic";
@import "element/link";
@import "element/type";
@import "element/btn";
@import "element/util";   // 共用工具樣式

@import "_client/modules/nav"; // 選單
@import "_client/modules/figure";

@import "_client/custom"; // 前台用雜項樣式
@import "_client/layout"; // 前台用版面


// main
// ------------------------------------------------------------

// == banner
$banner-h: 535px;

#banner {

    &, .swiper-slide {
        height: $banner-h;
    }
}
.banner {
    &-1 {
        @extend .bg-warning;

        color: #595757;

        .inner {
            margin-top: 42px;
            max-width: 763px;
        }
        h2 {
            margin-top: 120px;
            margin-bottom: 38px;
        }
        .lead {
            font-weight: bolder;
            @include rem('font-size', 21);
        }
    }
}

// == intro
.intro {
    position: relative;
    top: -62px;
    z-index: 2;
    // margin-top: -62px;

    .card {
        display: inline-block;

        @include grid(1, 6);
    }
}