@charset "UTF-8";

// 本頁專用變數(把下面的setting,variables蓋掉)
$isIndex:                        true;
$img-index:                      '../images/index';


// import
// ------------------------------------------------------------
@import "core/function";     // (置頂)

@import "_client/setting";   // 前台用變數 (會覆蓋下面的變數)
@import "core/variables";    // 共用變數
@import "core/mixins";

// 由此 output css
@import "vendor/normalize";  // 重置樣式
@import "vendor/print";      // 列印樣式

@import "element/basic";
@import "element/link";
@import "element/type";
@import "element/btn";
@import "element/util";   // 共用工具樣式

@import "_client/modules/nav"; // 選單
@import "_client/modules/figure";

@import "_client/custom"; // 前台用雜項樣式
@import "_client/layout"; // 前台用版面


// main
// ------------------------------------------------------------

// == banner
$banner-h: 535px;

#banner {

    &, .swiper-slide {
        height: $banner-h;
    }
}

.banner {
    &-1 {
        @extend .bg-warning;

        color: #595757;

        .inner {
            margin-top: 42px;
            max-width: 763px;
            padding: 0 6%;

            img {

                float: unset;
                max-height: 250px;
                padding: 2% 7% 0;
                
                @include mq(600) {
                    float: right;
                    max-height: unset;
                }
            }
        }
        h2 {
            margin-top: 20px;
            @include mq(600) {
                margin-top: 120px;
                margin-bottom: 38px;
            }
        }
        .lead {
            @extend .font-xl;
            font-weight: bolder;
            @include mq-max(600) {
                font-size: 18px;
            }
        }
    }
}

// == intro
.intro {
    position: relative;
    top: 62px;
    z-index: 2;

    @include mq(tablet) {
        top: -62px;
    }

    .card {
        @include grid(4, 5);
        display: inline-block;
        vertical-align: top;

        &:last-child {
            margin-top: 40px;
            
            @include mq(tablet) {
                margin-left: 3rem;
                margin-top: 0;
            }
        }
        .intro2{
            margin-bottom: 60px;
        }

        @include mq(mobile) {
            @include grid(3, 5);
        }

        @include mq(tablet) {
            @include grid(1, 3);
        }
        @include mq(desktop) {
            @include grid(1, 4);
        } 

        @include mq(wider) {
            @include grid(1, 6);
        } 
    }
}

// == 關於肽研
.about {

    padding: 120px 40px;

    @include mq(tablet) {
        padding: 120px 0;
    }

    p {
        @include mq-max(desktop) {
            margin-top: 25px;
        } 
    }

    aside .btn {
        margin-top: 120px;
        display: none;

        @include mq(tablet) {
            display: inline-block;
        } 
    }

    .btn-s {
        margin-top: 40px;
        display: inline-block;

        @include mq(tablet) {
            display: none;
        } 
    }

    img {
        width: 80%;

        @include mq(tablet) {
            width: 70%;
        } 
        @include mq(desktop) {
            width: 50%;
        } 
    }
}

// == 產品
.products {
    @extend .py-48;

    background: $bg-primary-light url(#{$img-index}/product-bg.png) 0 -10% no-repeat;

    @include mq-max(tablet) {
        background: unset;

        h2 {
            color: color(secondary);
        }
    }
    // background-size: cover;

    .card {
        width: 90%;
        margin-left: 5%;
        padding: 20px 30px;
        line-height: 1.5;
        @include mq(tablet) {
            float: left;
            width: 40%;
            margin-left: 10%;
        }
        @include mq(desktop) {
            width: (100% - 41.66 - 2%)/2;
            margin-left: unset;
        }

        &:last-child {
            margin-top: 60px;

            @include mq(tablet) {
                margin-left: 2%;
                margin-top: unset;
            }
        }

        img {
            min-height: 180px;
            max-height: 180px;
        }
    }
}

// == 五大保證
.safe {
    // 列表
    &-list {
        @extend .font-xl, .text-primary;

        li {
            $img-size: 122px;
            $img-mg: 82px;

            background: url(#{$img-index}/safe.gif) 0 0 no-repeat;
            font-weight: bolder;
            display: inline-block;
            padding-top: $img-size + 26;
            min-width: $img-size + 2;
            margin: 0 3.2%;

            @for $i from 2 through 4 {
                &:nth-child(#{$i}) {
                    background-position: -(($img-size + $img-mg) * ($i - 1)) 0;
                }
            }
            &:last-child {
                background-position: right 0;
            }
        }
    }
}

// == 最新消息
.news {
    &-list {
       
        @include mq(tablet) {

            background: $bg-primary-light;
        }

        h2{

            color: color(secondary);

            @include mq(tablet) {

                color: #ffffff;
            }
        }

    }
    &-item {

        $mgr: 3%;

        display: inline-block;
        margin-left: -4px;
        width: 90%;
        margin-top: 40px;

        // @include mq(tablet){
        //     width: (100% / 3 - $mgr - 2);
        // }
        @include mq(tablet){
            margin-top: unset;
            vertical-align: top;
            width: (100% / 3 - $mgr - 2);
            height: 500px;
        }
        @include mq(desktop){
            height: 480px;
        }

        &:not(:last-of-type) {

            @include mq(tablet){
                margin-right: $mgr;
            }
        }

        .date {
            @extend .bg-primary, .text-white, .font-md, .px-12, .py-4;
            border-radius: $border-radius/2;
        }
        .imgbox {
            overflow: hidden;

            @include mq(tablet){
                height: 170px;
                line-height: 170px;
            }
        }
        img {

            @include mq(tablet){
                max-height: 170px;
            }
        }
        figcaption {
            margin-top: -8px;
        }
        h5 {
            overflow:hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        p {
            

            @include mq(tablet){
                height: 150px;
            }

            @include mq(desktop){
                height: 105px;
            }
        }
    }
}

// == 專業服務
.sub-title {
    @extend .text-primary, .my-48;

    max-width: 800px;
    line-height: 1.4;
    padding: 0 9%;

    @include mq(tablet) {
        padding: 0;
    }
}

.img-list {
    padding-left: 0;

    li {
        $img-size: 121px;
        $img-mg: 23px;
        display: inline-block;

        background: url(#{$img-index}/service.jpg) 0 0 no-repeat;
        font-weight: bolder;
        padding-top: $img-size + 26;
        min-width: $img-size + 2;
        margin: 0 3.2%;

        @for $i from 2 through 4 {
            &:nth-child(#{$i}) {
                background-position: -(($img-size + $img-mg) * ($i - 1)) 0;
            }
        }
        &:last-child {
            background-position: right 0;
        }
    }
}
.service-list {

    padding: 0 15%;

    @include mq(tablet) {
        padding: 0;
    }

    h4{

        text-align: center;

        @include mq(tablet) {

            text-align: left;
        }
    }
}
.list-half {
    li {

        @include mq(tablet) {
            float: left;
            width: 46%;
        }

        &:nth-child(even) {

            @include mq(tablet){
                margin-left: 4%;
            }
        }
    }
}