@charset "UTF-8";

// 本頁專用變數(把下面的setting,variables蓋掉)
$isPage : true;
$img-page : '../images/page';

// import
// ------------------------------------------------------------
@import "core/function"; // (置頂)
@import "_client/setting"; // 前台用變數 (會覆蓋下面的變數)
@import "core/variables"; // 共用變數
@import "core/mixins";

// 由此 output css
@import "vendor/normalize"; // 重置樣式
@import "vendor/print"; // 列印樣式
@import "element/basic";
@import "element/link";
@import "element/type";
@import "element/btn";
@import "element/util"; // 共用工具樣式
@import "_client/modules/nav"; // 選單
@import "_client/modules/figure";
@import "_client/modules/modal";

@import "_client/custom"; // 前台用雜項樣式
@import "_client/layout"; // 前台用版面
//共用------------------------


.editor img {

    max-width: 100% !important;
}

.box-m {
    display: block;
    @include mq(phone-plus) {
        display: none;
    }
}
.box-pc {
    display: none;
    @include mq(phone-plus) {
        display: block;
    }
}


// == banner
$banner-h: 360px;

#banner {

    width: 100%;
    height: $banner-h/2;
    background-size: cover;
    background-position: center;

    @include mq(tablet) {
        height: $banner-h;
    }


    h2 {
        margin-top: 65px;
        position: absolute;
        text-align: center;
        width: 100%;
        color: color(secondary);

        @include mq(tablet) {
            margin-top: 150px;
        }
    }

    .Info &,
    .Products-Content & {
        height: 0;
    }
}


// == intro
.intro {
    position: relative;
    text-align: left;

    article {
        position: relative;
        margin: 120px auto 100px;
        width: 90%;
        color: color(words);

        @include mq(desktop) {
            width: 950px;
        }
    }
}


// == 產品頁-五大保證+服務頁-安全
.safe .wrap {

    position: relative;

    img {
        position: absolute;
        top: 0;
    }

    figcaption {

        position: relative;
        margin-bottom: 200px;
    }
}

//標題底線
.h2-line {

    border-bottom: color(secondary) 5px solid;
    margin: 0 auto;
    width: 430px;//功能性評估
}


//產品介紹頁---------------------
// == banner
.Products {

    #banner { background-image: url("#{$img-page}/banner-pro.gif");}

    // == 產品
    .products .wrap {

        padding: 0 5%;

        @include mq(desktop) {
            padding: 0 120px;
        }

        .card {

            position: relative;

            width: 90%;
            transition: all .3s;
            margin-top: 2%;
            margin-left: 5%;

            @include mq(tablet) {
                
                margin-left: unset;
                width: 48%;

                &:nth-child(even) {
                    margin-left: 2%;
                }
            }

            &:hover {
                color: color(primary);
            }

            .img {

                width: 48%;
                text-align: center;
                height: 220px;
                line-height: 220px;

                img{
                    max-height: 100%;
                }
            }

            figcaption {

                padding: 5px;
                width: 48%;
                vertical-align: middle;

                h5 {
                    font-size: 20px;
                    line-height: 1.5;
                }
            }

        }
    }

    // == 五大保證
    .fivetop .wrap {

        margin-top: 100px;
        padding: 0 5%;

        @include mq(phone) {
            padding: 0 60px;
        }
        @include mq(desktop) {
            margin-top: 250px;
            padding: 0 0 0 60px;
        }

        img {
            display: none;
            @include mq(desktop) {
                display: block;
                left: 0;
            }
        }

        figcaption {
            position: relative;
            padding-top: 40px;

            div {
                
                padding:30px 0;
                border-bottom: #757575 1px solid;

                @include mq(mobile) {
                    padding: unset;
                }

                @include mq(desktop) {
                    height: 50px;
                    border-bottom: none;
                }


                @for $i from 1 through 5 {

                    &:nth-child(#{$i}) {
                        h5 {

                            background-image: url("#{$img-page}/product/5p-#{$i}.gif");

                            @include mq(desktop) {
                                background-image: none;
                            }
                        }
                    }
                }
            }


            h5 {

                background-repeat: no-repeat;
                background-position: center 10px;

                font-size: 20px;
                padding: 70px 0 30px;
                text-align: center;
                display: block;
                margin: 0;
                vertical-align: middle;
                width: 100%;

                @include mq(mobile) {
                    display: inline-block;
                    width: 15%;
                    border-right: #757575 1px solid;
                }

                @include mq(desktop) {
                    background: none;
                    text-align: right;
                    font-size: 32px;
                    padding: unset;
                    width: unset;
                    border-right: unset;
                }
            }

            p {
                vertical-align: middle;
                color: color(words);
                padding:0 5%;

                @include mq(mobile) {
                    display: inline-block;
                    padding-left: 20px;
                }
            }

            #p2, #p3, #p4, #p5 {
                p {
                    width: 100%;
                    @include mq(mobile) {
                        width: 75%;
                    }
                }
            }

            #p1 {

                @include mq(desktop) {
                    margin-left: 430px;
                    margin-bottom: 60px;
                }

                @include mq(wide) {
                    margin-bottom: 70px;
                }

                h5 {
                    color: #E50012;
                }

                p{
                    width: 100%;
                    @include mq(mobile) {
                        width: 80%;
                    }
                }

            }

            #p2 {

                @include mq(desktop) {
                    margin-left: 540px;
                    margin-bottom: 110px;
                }

                h5 {
                    color: #5F1985;
                }
            }

            #p3 {

                @include mq(desktop) {
                    margin-left: 590px;
                    margin-bottom: 130px;
                }

                h5 {
                    color: #036EB7;
                }
            }

            #p4 {

                @include mq(desktop) {
                    margin-left: 540px;
                    margin-bottom: 70px;
                }

                h5 {
                    color: #00913A;
                }
            }

            #p5 {

                @include mq(desktop) {
                    margin-left: 430px;
                }

                h5 {
                    color: #E50012;
                }
            }
        }
    }
}

//專業服務-------------------
.Service {

    //banner
    #banner { background-image: url("#{$img-page}/banner-service.gif");}

    .title {
        text-shadow: -2px -2px rgba(230, 245, 255, 0.7), -0.5px -0.5px rgba(230, 245, 255, 0.9);
    }


    .safe{


        h2:after {
            content:" ";
            border-bottom: color(secondary) 5px solid;
            margin:0 auto;
        }

        .wrap {
            
            max-width: 800px;
            padding: 0 0 0 30px;

            @include mq(desktop) {
                background-image: url("#{$img-page}/safe.gif");
                background-repeat: no-repeat;
                max-width: 1000px;
            }

            figcaption {

                color: color(words);
                padding: 65px 10% 0;

                @include mq(tablet) {
                    padding: 65px 20% 0;
                }

                @include mq(desktop) {
                    padding: 65px 0 0;
                }

                div {
                    margin: 0 auto;

                    @include mq(desktop) {

                        height: 120px;
                        margin-bottom: 68px;
                        display: inline-flex;
                        align-items: center;
                        
                    }

                }

                h4 {
                    color: color(secondary);
                    line-height: 32px;
                    text-align: left;
                    margin: 0;
                    vertical-align: middle;

                    &:before {
                        content:"●";
                        @include mq(desktop) {
                            content:"";
                        }
                    }

                    @include mq(desktop) {
                        text-align: center;
                        color: #ffffff;
                        display: inline-block;
                        width: 200px;
                    }

                    span {
                        @include  mq(desktop){
                            display: block;
                        }
                    }
                }

                .h4-r{
                    color: color(primary);
                    margin: unset;

                    @include mq(desktop) {
                        color: #ffffff;
                        margin-left: 183px;
                    }
                }

                ul {

                    padding: 3% 10%;
                    
                    @include mq(desktop) {
                        display: inline-block;
                        margin-left: 330px;
                        padding: unset;
                    }
                }

                #test5 {
                    @include mq(phone) {
                        width: 350px;
                    }
                }

            }
        }

    }


    //實驗
    .exper {

        .wrap .card-2 {

            @extend .bg-white;

            display: inline-table;
            width: 320px;
            height: 620px;
            margin: 10px;


            @include mq(phone) {
                width: 400px;
            }

            .shadow {

                -webkit-filter: drop-shadow(5px 5px 10px rgba(#000, .2));
                filter: drop-shadow(5px 5px 10px rgba(#000, .2));
            }

            .corner {

                position: relative;
                background-color: #F1F1F1;
                clear: both;
                height: 180px;
                width: 100%;
                border-top-right-radius: $border-radius;
                border-top-left-radius: $border-radius;

                h5 {

                    margin: 0;
                    padding-top: 100px;
                    color: #1786A6;
                }

                &:after {

                    content: "";
                    position: absolute;
                    bottom: -50px;
                    left: 0;
                    background: none;
                    z-index: 1;
                    
                    @include mq(phone){
                        bottom: -70px;
                        @include arrow( bottom, 404px, 70px, #F1F1F1);
                    }

                    @include arrow( bottom, 320px, 50px, #F1F1F1);
                }
            }

            figcaption {

                @extend .font-lg, .text-white;

                height: 480px;
                background-color: #1786A6;
                padding: 90px 40px 20px;
                text-align: left;
                border-bottom-right-radius: $border-radius;
                border-bottom-left-radius: $border-radius;


                @include mq(phone){
                    padding: 110px 40px 20px;
                    height: 420px;
                }

                ul {

                    margin-bottom: 0;
                    line-height: 1.7;
                    letter-spacing: 0.5px;
                }
            }

            &:last-child {

                h5 {
                    color: #2BB7BB;
                }

                figcaption {
                    background-color: #2BB7BB;
                }
            }
        }
    }
}



//關於阿勃勒-------------------
.Info {

    .intro {

        margin-bottom: 200px;

        @include mq(tablet) {

            padding: 50px 0;
            margin-bottom: unset;
        }

        article {

            @include mq-max(tablet) {
                margin: 60px auto;
            }
        }

        .wrap {

            position: relative;

            img {

                position: absolute;
                width: 50%;
                max-width: 300px;

                right: 15%;
                bottom: -250px;

                @include mq(tablet) {

                    right: 100px;
                    bottom: -100px;
                }

                @include mq(desktop) {

                    bottom: 100px;
                }
            }

            h6 {
                margin-top: 8px;
                font-size: 16px;
                font-weight: normal;
            }
        }
    }
}

//產品內頁----------------------
.Products-Content {

    //產品
    .product {

        .inner {

            max-width: 900px;
            margin-top: 30px;
        }

        img {
            margin-top: 50px;
            max-width: 200px;

            @include mq(phone) {
                float: right;
            }

            @include mq(tablet) {
                max-width: 350px;
            }
        }

        article {

            padding: 0 25px;

            h2 {

                margin: 15px 0 50px;

                @include mq(tablet){
                    margin: 175px 0 50px;
                }
            }

            p {
                margin-top: 20px;
                line-height: 1.7;
            }
        }
    }

    //列表
    .list {

        margin-top: 200px;

        ul {

            list-style-type: none;
        }

        &-each {
            position: relative;
            margin: 40px 0;
            background: #FBFBFB;
            border: 1px solid #EFEFEF; 

            h5 {
                @extend .text-white;
                margin-top: 30px;
                vertical-align: top;
            }
            article {
                line-height: 1.5;
            }
        }

        &-title {

            position: absolute;
            top:-15px;
            background-repeat: no-repeat;
            height: 165px;
        }

        //mobile

        .box-m {

            ul {

                padding-right: 1.2em;

                @for $i from 1 through 4 {

                    li:nth-child(#{$i}) {
                        div {
                            background-image: url("#{$img-page}/product/m-list0#{$i}.gif");
                            background-size: 33%;

                            @include mq(mobile) {
                                background-size: 30%;
                            }

                            @include mq(480) {
                                background-image: url("#{$img-page}/product/mc-list0#{$i}.png"), url("#{$img-page}/product/m-list0#{$i}.gif");
                                background-position: left top 45px, left top;
                            }
                            @include mq(phone) {
                                background-size: 21%;
                            }
                        }
                    }
                }
            }

            .list-each {
                display: flex;
                margin: 40px 0;
                border-radius: 10px;
                min-height: 130px;

                h5 {
                    text-align: center;
                    width: 21%;
                    margin-top: 22px;
                    margin-left: 9%;

                    @include mq(phone) {

                        margin-left: 4%;
                        width: 18%;
                    }
                }

                article {
                    @extend .font-lg;
                    padding: 15px 0 20px 33%;

                    @include mq(phone) {
                        padding-left: 25%;
                    }
                }
            }


            .list-title {

                top:-10px;
                background-repeat: no-repeat;
                margin-left: 10px;
                height: 165px;
                width: 100%;
            }

            #list01{
                border-right: 15px solid color(secondary);
            }
            #list02 {
                border-right: 15px solid #289DDA;
            }
            #list03 {
                border-right: 15px solid #95529C;
            }
            #list04 {
                border-right: 15px solid #DE4A45;
            }
        }

        //pc

        .box-pc {

            ul {

                @for $i from 1 through 4 {

                    li:nth-child(#{$i}) {
                        div {
                            background-image: url("#{$img-page}/product/list0#{$i}.gif");
                        }
                    }
                }
            }

            .list-each {
                height: 192px;
                margin: 40px 0;
                border-radius: 20px;

                h5 {
                    width: 200px;
                    padding-left: 50px;
                    margin-top: 30px;
                }
                article {
                    @extend .font-xl;
                    padding: 45px 10px 0 225px;
                }
            }

            .list-title {

                top:-15px;
                background-repeat: no-repeat;
                margin-left: 50px;
                height: 165px;
            }

            #list01{
                border-right: 30px solid color(secondary);
            }
            #list02 {
                border-right: 30px solid #289DDA;
            }
            #list03 {
                border-right: 30px solid #95529C;
            }
            #list04 {
                border-right: 30px solid #DE4A45;
            }
        }
    }

    //產品資訊
    .info {

        h2 {
            color: #595757;
            padding: 100px 0 50px;
        }

        table {

            line-height: 1.5;
            margin: 0 5%;
            
            td:first-child {
                width: 85px;
            }
        }

        p {
            margin: 0 5%;
        }
    }

    //營養標示
    .table {

        margin-top: 100px;

        h2 {
            padding: 100px 0 50px;
        }


        table {
            border: 4px solid #ffffff;
            border-collapse: collapse;
            margin: 0 auto;
        }

        .box-pc {
            table {
                width: 85%;
            }

            tr,td {
                padding: 20px;
            }
        }

        tr,td {
            border: 1px solid #ffffff;
            padding: 20px 10px;
            transition: all .35s, color .5s;
        }

        tr:hover {
            background-color: #128088;
        }
        .refer {
            padding: 50px 0 100px;
        }
    }

    // Q & A
    .qa {

        margin-bottom: 100px;

        h2 {
            padding: 100px 0 50px;
        }

        article {

            @include mq(phone-plus) {
                margin: 0 5%;
            }

            .paragraph {

                margin: 20px 10%;

                p:first-child {
                    color: color(secondary);
                    font-weight: bold;
                }
            }
        }
    }
}


//最新消息----------------------
.List {

    #banner {
        background-image: url("#{$img-page}/banner-list.jpg");
        margin-bottom: 100px;
    }

    .news {

        &-item {
            $mgr: 3%;
            background-color: #F7F8F8;
            display: inline-block;
            vertical-align: top;
            margin: 10px 2% 40px;
            width: 80%;

            @include mq(tablet) {
                width: (100% / 2 - $mgr - 3);
                height: 500px;
            }

            @include mq(desktop) {
                width: (100% / 3 - $mgr - 2);
            }


            .date {
                @extend .bg-primary,.text-white,.font-md,.px-12,.py-4;
                border-radius: $border-radius/2;
            }
            img {
                margin-top: 20px;

                @include mq(tablet) {
                    max-height: 170px;
                }
            }
            figcaption {
                margin-top: -8px;
            }
            h5 {
                overflow:hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }

// 目前不用這個功能
// 部落格頁面切換效果：https://www.wfublog.com/2014/11/blogger-number-page-navigation.html

    // #blog-pager {

    //     clear: both;
    //     margin: 30px auto;
    //     text-align: center;
    //     padding: 7px;

    //     .pagecurrent {

    //         font-weight: bold;
    //         color: #ffffff;
    //         background-color: color(primary);
    //     }

    //     &>span {
    //         margin-bottom: 10px;
    //     }


    //     .showPageOf {
    //         display: none!important
    //     }

    //     .displaypageNum a,
    //     .showpage a,
    //     .pagecurrent {

    //         display: inline-block;
    //         font-size: 16px;
    //         padding: 10px 16px;
    //         margin: 10px;
    //         border-radius: 20px;
    //         color: #666;
    //         background-color: #eee;
    //     }

    //     .displaypageNum a:hover,
    //     .showpage a:hover,
    //     .pagecurrent {

    //         background-color: color(primary);
    //         text-decoration: none;
    //         color: #ffffff;
    //     }
    // }
}


//最新消息內頁----------------------
.News-Content {

    #banner {
        background-image: url("#{$img-page}/banner-list.jpg");
        margin-bottom: 100px;
    }

    img {
        margin: 5% 0;
        max-width: 90%;
    }

    article {

        margin: 0 5% 60px;
        color: #757575;

        @include mq(desktop){

            margin: 30px 8% 60px;
        }

        p {
            margin: 20px 0;
            line-height: 1.8;
        }
    }

    #blog-pager {

        margin: 30px auto;
        text-align: center;
        padding: 7px;

        .showPageOf {
            display: none!important
        }

        .displaypageNum:last-child {
            margin-left: 15%;
            @include mq(tablet) {
                margin-left: 35%;
            }
        }

        .displaypageNum a,
        .showpage a {

            display: inline-block;
            padding: 10px 16px;
            border-radius: 20px;
            color: #666;
            background-color: #eee;
        }

        .displaypageNum a:hover,.showpage a:hover {

            background-color: color(primary);
            text-decoration: none;
            color: #ffffff;
        }
    }
}



//聯絡我們----------------------
.Contact-Us {

    #banner {

        background-image: url("#{$img-page}/banner-contactus.gif");
        margin-bottom: 100px;
        background-color: #F4D731;
        background-size: 90%;
        background-repeat: no-repeat;

        @include mq(tablet) {
            background-size: unset;
        }

        h2 {
            width: unset;
        }


        .title {

            @extend .text-white;

            font-size: 40px;
            margin-top: 60px;
            margin-left: 50%;

            -moz-transform: rotate(3deg);
            -webkit-transform: rotate(3deg);
            -o-transform: rotate(3deg);
            -ms-transform: rotate(3deg);
            transform: rotate(3deg);

            @include mq(tablet) {
                font-size: 64px;
                margin-top: 150px;
                margin-left: 55%;
            }

        }
    }

    .wrap {

        h5 {
            font-weight: bold;
        }

        form {

            @include mq(phone) {
                padding: 0 10%;
            }

            @include mq(desktop) {


                padding: 0;
                margin: 100px auto;
            }


            .boxleft {

                vertical-align: top;

                .form-box {

                    margin: 30px 20px 0;

                    .label {
                        vertical-align: middle;
                        padding: 4px;
                        width: 80px;
                        display: inline-block;
                        @include mq(tablet){
                            text-align: right;
                        }
                    }

                    select,textarea,input {

                        width: 100%;
                        border: color(secondary) 2px solid;
                        margin-top: 10px;
                        padding: 10px;
                        color: color(secondary);

                        @include mq(tablet) {
                            width: 47%;
                        }
                        @include mq(wide) {
                            width: 80%;
                            max-width: 350px;
                        }
                    }

                    select,textarea, {

                        @include mq(desktop) {
                            width: 70%;
                        }
                    }

                    textarea {
                        vertical-align: top;
                    }

                    .select {
                        appearance: none;
                        -moz-appearance: none;
                        -webkit-appearance: none;

                        background: url("#{$img-page}/arrow.gif") no-repeat right center transparent;
                    }

                    .red {
                        color: color(danger);
                    }
                    .none {
                        visibility: hidden;
                    }
                    &:last-child {
                        margin-bottom: 50px;
                    }
                }

                .form-box-2 {
                    margin-top: 15px;
                    text-align: right;

                    @include mq(tablet){
                        margin: unset;
                        display: inline-block;
                    }
                }

                .gender {
                    position: relative;
                    padding-left: 35px;
                    padding-top: 7px;
                    cursor: pointer;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    margin-left: 20px;

                    &:hover .input~.checkmark {
                        background-color: color(secondary);
                    }

                    .input {

                        opacity: 0;
                        cursor: pointer;
                        width: unset;
                        display: none;

                        &:checked~.checkmark:after {
                            display: block;
                        }
                    }

                    .checkmark {
                        position: absolute;
                        top: 3px;
                        left: 3px;
                        height: 25px;
                        width: 25px;
                        border: color(secondary) 2px solid;
                        border-radius: 50%;
                    }

                    & .input:checked~.checkmark {
                        background-color: color(secondary);
                    }
                }

                #robox {
                    text-align: center;
                    margin: 30px 0;

                    @include mq(tablet) {
                        padding: 20px 75px;
                        margin: 30px 20px 0;
                    }
                }

                .hover-underline {
                    cursor: pointer;
                }
            }

            #submit {

                display: block;
                width: 110px;
                padding: 15px 0;
                border-radius: 30px;
                cursor: pointer;
                border: color(secondary) 2px solid;
                transition: all .3s;

                &:hover {
                    background-color: #ffffff;
                    color: color(secondary);
                }
            }
        }
    }

    .contact-form {

        border: color(secondary) 1px solid;

        li {

            margin: 10px 0;
            font-weight: bolder;
        }
    }


    .modal-close {

        position: relative;
        right: -90%;
        top: unset;
    }
}

//哪裡購買----------------------
.Buy {

    #banner { background-image: url("#{$img-page}/banner-buy.jpg");}

    .shop {

        margin: 200px 0;

        h2 {
            margin-bottom: 0;
        }

        .underline {
            width: 190px;
        }

        figure {

            margin: 60px 0;

            // img { margin: 0 20px;}
            a { cursor: pointer;}
        }
    }
}


//關於我們----------------------
.About {

    #banner { background-image: url("#{$img-page}/banner-about.jpg");}

    .wrap {

        .img {

            @include mq(desktop) {

                padding-top: 40px;
            }

            img {
                width: 80%;

                @include mq(tablet) {
                    width: 50%;
                }
                @include mq(wide) {
                    width: 100%;
                    margin-left: 20%;
                }
            }

        }

        article {
            color: #757575;
            margin: 30px 30px 0;

            @include mq(tablet) {
                margin: 30px 60px 0;
            }
            @include mq(wide) {
                margin: 30px 0 0 110px;
            }

            p {
                margin-top: 30px;
            }
        }
    }

    .info {
        margin-top: 80px;
    }

    .team {

        padding: 30px 20px 50px;
        margin-top: 150px;
    }
    .people {

        margin-top: 130px;

        .card {

            background-color: #F7F8F8;
            margin-bottom: 100px;
            padding: 10px 30px;
            width: 80%;


            $mgr: 3%;
            display: inline-block;
            vertical-align: top;

            &:not(:last-of-type) {
                margin-right: $mgr;
            }

            @include mq(desktop) {
                padding: 20px 50px;
            }

            &-1 {
                height: 480px;

                @include mq(tablet) {
                    width: (100% / 3 - $mgr - 2);
                }
            }

            &-2 {
                height: 800px;

                @include mq(tablet) {
                width: 35%;
                }
            }

            figcaption {

                h5 {
                    line-height: 1.8;
                }

                p {
                    color: color(primary);
                }
            }
        }
    }
}