@charset "UTF-8";

// 本頁專用變數(把下面的setting,variables蓋掉)
$isIndex : true;
$img-page : '../images/page';

// import
// ------------------------------------------------------------
@import "core/function"; // (置頂)
@import "_client/setting"; // 前台用變數 (會覆蓋下面的變數)
@import "core/variables"; // 共用變數
@import "core/mixins";

// 由此 output css
@import "vendor/normalize"; // 重置樣式
@import "vendor/print"; // 列印樣式
@import "element/basic";
@import "element/link";
@import "element/type";
@import "element/btn";
@import "element/util"; // 共用工具樣式
@import "_client/modules/nav"; // 選單
@import "_client/modules/figure";
@import "_client/modules/modal";

@import "_client/custom"; // 前台用雜項樣式
@import "_client/layout"; // 前台用版面
//共用------------------------
.editor img {

    max-width: 100% !important;
}


// == banner
$banner-h: 360px;

#banner {

    width: 100%;
    height: $banner-h;
    background-size: cover;
    background-position: center;


    h2 {
        margin-top: 150px;
        position: absolute;
        text-align: center;
        width: 100%;
        color: color(secondary);
    }

    .Info &,
    .Products-Contant & {
        height: 0;
    }
}


// == intro
.intro {
    position: relative;
    text-align: left;

    article {
        position: relative;
        margin: 120px auto 100px;
        width: 90%;
        color: color(words);

        @include mq(desktop) {
            width: 1000px;
        }
    }
}


// == 五大保證
.safe {

    .wrap {

        position: relative;
        padding: 0 60px;

        img {
            position: absolute; // left: 0;
            top: 0;
        }

        figcaption {

            position: relative; // left:650px;
            width: 500px;
            padding-top: 30px;
            margin-bottom: 200px;
        }
    }
}



//產品介紹頁---------------------
// == banner
.Products {

    #banner {
        background-image: url("#{$img-page}/banner-pro.gif");
    }

    // == 產品
    .products {

        .wrap {

            padding: 0 5%;

            @include mq(desktop) {
                padding: 0 120px;
            }

            .card {

                float: left;
                width: 90%;
                transition: all .3s;
                position: relative;
                margin-top: 2%;
                margin-left: 5%;

                @include mq(tablet) {
                    
                    margin-left: unset;
                    width: 48%;

                    &:nth-child(even) {
                        margin-left: 2%;
                    }
                }

                &:hover {
                    color: color(primary);
                }

                .img {

                    width: 48%;
                    text-align: center;
                    min-height: 220px;
                    max-height: 220px;
                    line-height: 220px;
                }

                figcaption {
                    padding: 5px;
                    width: 48%;
                    vertical-align: middle;


                    h5 {
                        font-size: 20px;
                        line-height: 1.5;
                    }
                }

            }
        }
    }

    // == 五大保證
    .fivetop {

        .wrap {

            margin-top: 250px;

            img {
                left: 0;
            }

            figcaption {

                left: 650px;

                p {
                    position: relative;
                    color: color(words);
                }

                #p1 {
                    left: -130px;
                    margin-bottom: 90px;
                }

                #p2 {
                    left: -15px;
                    margin-bottom: 125px;
                }

                #p3 {
                    left: 25px;
                    margin-bottom: 125px;
                }

                #p4 {
                    left: -15px;
                    margin-bottom: 95px;
                }

                #p5 {
                    left: -90px;
                }
            }
        }
    }
}

//專業服務-------------------
.Service {

    //banner
    #banner {
        background-image: url("#{$img-page}/banner-service.gif");
    }

    .title {
        text-shadow: -2px -2px rgba(230, 245, 255, 0.7), -0.5px -0.5px rgba(230, 245, 255, 0.9);
    }

    //safe

    .h2-line {

        border-bottom: color(secondary) 5px solid;
        width: 430px;
        margin: 0 auto;
    }

    .wrap {

        img {
            left: 100px;
        }

        figcaption {

            color: color(words);
            left: 750px;

            ul {
                position: relative;
            }

            #test1 {
                left: -160px;
                margin: 55px 0 125px;
            }

            #test2 {
                margin-bottom: 120px;
            }

            #test3 {
                left: -160px;
                margin-bottom: 130px;
            }

            #test4 {
                margin-bottom: 110px;
            }

            #test5 {
                left: -160px;
                margin-bottom: 95px;
            }

            #test6 {
                margin-bottom: 130px;
            }

            #test7 {
                left: -160px;
            }
        }
    }

    //實驗
    .exper {


        .shorter {
            width: 330px;
        }

        .wrap {

            // padding: 0 200px;

            .card-2 {

                @extend .bg-white;

                // float: left;
                display: inline-table;
                width: 400px;
                height: 620px;
                margin: 10px;

                .shadow {

                    -webkit-filter: drop-shadow(5px 5px 10px rgba(#000, .2));
                    filter: drop-shadow(5px 5px 10px rgba(#000, .2));
                }

                .corner {

                    position: relative;
                    background-color: #F1F1F1;
                    clear: both;
                    height: 180px;
                    width: 100%;
                    border-top-right-radius: $border-radius;
                    border-top-left-radius: $border-radius;

                    h5 {

                        margin: 0;
                        padding-top: 100px;
                        color: #1786A6;
                    }

                    &:after {

                        content: "";
                        position: absolute;
                        bottom: -70px;
                        left: 0;
                        background: none;
                        z-index: 1;


                        @include arrow(bottom,
                        404px,
                        70px,
                        #F1F1F1);
                    }
                }

                figcaption {

                    @extend .font-lg;

                    height: 420px;
                    background-color: #1786A6;
                    padding: 110px 40px 20px;
                    color: #ffffff;
                    text-align: left;
                    border-bottom-right-radius: $border-radius;
                    border-bottom-left-radius: $border-radius;

                    ul {
                        margin-bottom: 0;
                        line-height: 1.7;
                        letter-spacing: 0.5px;
                    } // &:last-child {
                    //     background-color: #2BB7BB;
                    // }
                }

                &:last-child {
                    // margin-left: 4%;

                    h5 {
                        color: #2BB7BB;
                    }

                    figcaption {
                        background-color: #2BB7BB;
                    }
                }
            }
        }
    }
}



//關於阿勃勒-------------------
.Info {

    .intro {
        margin-bottom: 200px;

        @include mq(tablet) {
                padding: 50px 0;
                margin-bottom: unset;
            }

        article {
            @include mq-max(tablet) {
                margin: 60px auto;
            }
        }

        .wrap {
            position: relative;

            img {
                // float: right;

                position: absolute;
                width: 50%;
                max-width: 300px;

                right: 15%;
                bottom: -250px;

                @include mq(tablet) {

                    right: 100px;
                    bottom: -100px;
                }

                @include mq(desktop) {

                    right: 200px;
                    bottom: 100px;
                }
            }

            h6 {
                margin-top: 8px;
                font-size: 16px;
                font-weight: normal;
            }
        }
    }
}

//產品內頁----------------------
.Products-Contant {

    //產品
    .product {

        .inner {

            max-width: 1000px;
            margin-top: 80px;
        }

        img {
            margin-top: 50px;
        }

        article {

            padding: 0 25px;

            h2 {

                margin: 175px 0 50px;
            }

            p {

                margin-top: 20px;
                line-height: 1.7;
            }
        }
    }

    //列表
    .list {

        margin-top: 200px;

        ul {

            list-style-type: none;

            .list01 {

                height: 192px;
                width: 1200px;
                margin: 40px 0;

                h5 {

                    width: 200px;
                    padding-left: 90px;
                    color: #ffffff;
                    margin-top: 30px;
                    vertical-align: top;
                }
                article {
                    padding: 45px 0 0 15px;
                    line-height: 1.5;
                }
            }

            #list01 {
                background-image: url("#{$img-page}/product/list01.gif");
            }
            #list02 {
                background-image: url("#{$img-page}/product/list02.gif");
            }
            #list03 {
                background-image: url("#{$img-page}/product/list03.gif");
            }
            #list04 {
                background-image: url("#{$img-page}/product/list04.gif");
            }
        }
    }

    //產品資訊
    .info {

        h2 {
            color: #595757;
            padding: 100px 0 50px;
        }

        table {

            line-height: 1.5;
            margin: 0 5%;
            
            td:first-child {
                width: 85px;
            }
        }

        p {
            margin: 0 5%;
        }
    }

    //營養標示
    .table {

        color: #ffffff;
        margin-top: 100px;

        h2 {
            padding: 100px 0 50px;
        }

        table {
            border: 4px solid #ffffff;
            border-collapse: collapse;
            width: 85%;
            margin: 0 auto;
        }

        tr,
        td {
            border: 1px solid #ffffff;
            padding: 20px;
            transition: all .35s, color .5s;
        }

        tr:hover {
            background-color: #128088;
            ;
        }

        .refer {
            margin: 50px 0 100px;
        }
    }

    // Q & A
    .qa {

        margin-bottom: 100px;

        h2 {
            padding: 100px 0 50px;
        }

        article {

            margin: 0 5%;

            .paragraph {

                margin: 20px 10%;

                p:first-child {
                    color: color(secondary);
                    font-weight: bold;
                }
            }
        }
    }
}


//最新消息----------------------
.List {


    #banner {
        background-image: url("#{$img-page}/banner-list.jpg");
        margin-bottom: 100px;
    }

    .news {

        &-item {
            $mgr: 3%;
            background-color: #F7F8F8;
            display: inline-block;
            vertical-align: top;
            margin: 10px 2% 40px;
            width: 80%;

            @include mq(tablet) {
                width: (100% / 2 - $mgr - 3);
                height: 500px;
            }

            @include mq(desktop) {
                width: (100% / 3 - $mgr - 2);
            }


            .date {
                @extend .bg-primary,.text-white,.font-md,.px-12,.py-4;
                border-radius: $border-radius/2;
            }
            img {
                margin-top: 20px;

                @include mq(tablet) {
                    max-height: 170px;
                }
            }
            figcaption {
                margin-top: -8px;
            }
        }
    }


    #blog-pager {

        clear: both;
        margin: 30px auto;
        text-align: center;
        padding: 7px;

        .pagecurrent {

            font-weight: bold;
            color: #ffffff;
            background-color: color(primary);
        }

        &>span {
            margin-bottom: 10px;
        }


        .showPageOf {
            display: none!important
        }

        .displaypageNum a,
        .showpage a,
        .pagecurrent {

            display: inline-block;
            font-size: 16px;
            padding: 10px 16px;
            margin: 10px;
            border-radius: 20px;
            color: #666;
            background-color: #eee;
        }

        .displaypageNum a:hover,
        .showpage a:hover,
        .pagecurrent {

            background-color: color(primary);
            text-decoration: none;
            color: #ffffff;
        }
    }
}


//最新消息內頁----------------------
.News-Content {

    #banner {
        background-image: url("#{$img-page}/banner-list.jpg");
        margin-bottom: 100px;
    }
    img {
        margin: 5% 0;
        max-width: 90%;
    }
    article {
        margin: 0 5% 60px;
        color: #757575;
        @include mq(desktop){
            margin: 30px 8% 60px;
        }

        p {
            margin: 20px 0;
            line-height: 1.8;
        }
    }

    #blog-pager {

        clear: both;
        margin: 30px auto;
        text-align: center;
        padding: 7px;

        &>span {
            margin-bottom: 10px;
        }


        .showPageOf {
            display: none!important
        }

        .displaypageNum:last-child {
            margin-left: 15%;
            @include mq(tablet) {
                margin-left: 35%;
            }
        }

        .displaypageNum a,
        .showpage a {

            display: inline-block;
            font-size: 16px;
            padding: 10px 16px;
            margin: 10px;
            border-radius: 20px;
            color: #666;
            background-color: #eee;
        }

        .displaypageNum a:hover,
        .showpage a:hover {

            background-color: color(primary);
            text-decoration: none;
            color: #ffffff;
        }
    }
}



//聯絡我們----------------------
.Contact-Us {

    #banner {
        background-image: url("#{$img-page}/banner-contactus.gif");
        margin-bottom: 100px;
        background-color: #F4D731;
        background-size: unset;
        background-repeat: no-repeat;

        h2 {
            width: unset;
        }


        .title {
            @extend .font-jumbo;

            color: #ffffff;
            // margin: 150px 0 0 10%;
            margin-top: 150px;
            margin-left: 55%;

            -moz-transform: rotate(3deg);
            -webkit-transform: rotate(3deg);
            -o-transform: rotate(3deg);
            -ms-transform: rotate(3deg);
            transform: rotate(3deg);

        }
    }

    .wrap {

        h5 {
            color: color(secondary);
            font-weight: bold;
        }

        form {

            margin: 100px 5%;

            @include mq(wide) {
                margin: 100px 11%;
            }


            .boxleft {

                display: inline-block;
                vertical-align: top;

                .form-box {

                    color: color(secondary);
                    margin: 20px 20px 50px;
                    position: relative;

                    .label {
                        vertical-align: middle;
                        padding: 4px;
                    }

                    select,
                    textarea,
                    input {

                        width: 250px;
                        border: color(secondary) 2px solid;
                        padding: 4px 10px;
                        color: color(secondary);
                    }

                    option {
                        border: color(secondary) 2px solid;
                    }
                    textarea {
                        vertical-align: top;
                    }


                    .select {
                        appearance: none;
                        -moz-appearance: none;
                        -webkit-appearance: none;

                        background: url("#{$img-page}/arrow.gif") no-repeat right center transparent;
                    }

                    .red {
                        color: color(danger);
                    }
                    .none {
                        visibility: hidden;
                    }
                }

                .form-box-2 {
                    display: inline-block;
                    margin: 15px 0 0 40%;

                    @include mq(tablet){
                        margin: unset;
                    }
                }

                .gender {
                    position: relative;
                    padding-left: 35px;
                    padding-top: 7px;
                    cursor: pointer;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    margin-left: 20px;

                    &:hover .input~.checkmark {
                        background-color: color(secondary);
                    }

                    .input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        width: unset;

                        &:checked~.checkmark:after {
                            display: block;
                        }
                    }

                    .checkmark {
                        position: absolute;
                        top: 3px;
                        left: 3px;
                        height: 25px;
                        width: 25px;
                        border: color(secondary) 2px solid;
                        border-radius: 50%;
                    }

                    & .input:checked~.checkmark {
                        background-color: color(secondary);
                    }
                }

                #robox {

                    border: color(secondary) 2px solid;
                    width: 338px;
                    padding: 20px 75px;
                }

                .hover-underline {
                    cursor: pointer;
                }
            }

            #submit {
                display: block;
                width: 110px;
                padding: 15px 0;
                margin: 0 auto;
                background-color: color(secondary);
                color: #ffffff;
                border-radius: 30px;
                cursor: pointer;
                border: color(secondary) 2px solid;
                transition: all .3s;

                &:hover {
                    background-color: #ffffff;
                    color: color(secondary);
                }
            }
        }
    }

    .contact-form {
        border: color(secondary) 1px solid;
        li {
            margin: 10px 0;
            font-weight: bolder;
        }
    }


    .modal-close {
        position: relative;
        color: color(secondary);
        bottom: -15px;
        right: -950px;
        top: unset;
    }
}


//哪裡購買----------------------
.Buy {

    #banner {
        background-image: url("#{$img-page}/banner-buy.jpg");
    }

    .shop {

        margin: 200px 0;

        h2 {
            color: color(secondary);
            margin-bottom: 0;
        }

        .h2-line {
            border-bottom: #005081 5px solid;
            width: 190px;
            margin: 0 auto;
        }

        figure {

            margin: 60px 0;
            img {
                margin: 0 20px;
            }
            a {
                cursor: pointer;
            }
        }
    }
}


//關於我們----------------------
.About {

    #banner {
        background-image: url("#{$img-page}/banner-about.jpg");
    }

    .wrap {

        position: relative;
        width: 100%;

        .img {
            margin: auto;

            img {
                width: 80%;

                @include mq(tablet) {
                    width: 50%;
                }
                @include mq(wide) {
                    width: 100%;
                    margin-left: 20%;
                }
            }

            @include mq(desktop) {
                padding-top: 40px;
            }
        }

        article {
            color: #757575;
            margin: 30px 30px 0;

            @include mq(tablet) {
                margin: 30px 60px 0;
            }
            @include mq(wide) {
                margin: 30px 0 0 110px;
            }

            p {
                margin-top: 30px;
            }
        }
    }

    .info {
        margin-top: 80px;
    }

    .team {

        color: #ffffff;
        padding: 30px 20px 50px;
        margin-top: 150px;
    }
    .people {

        margin-top: 130px;

        .card {

            background-color: #F7F8F8;
            margin-bottom: 100px;
            padding: 20px 50px;

            $mgr: 3%;
            display: inline-block;
            vertical-align: top;
            margin-left: -4px;

            &:not(:last-of-type) {
                margin-right: $mgr;
            }

            &-1 {
                height: 480px;
                width: (100% / 3 - $mgr - 2);
            }

            &-2 {
                height: 750px;
                width: 35%;
            }

            figcaption {

                h5 {
                    line-height: 1.8;
                }

                p {
                    color: color(primary);
                }
            }
        }
    }
}