@charset "UTF-8";

.alert-close {
    @extend .font-xxl;
    color: darken(color(danger), 30);
    position: relative;
    top: -10px;
    z-index: 1;
    line-height: 1;
}

[class*='alert'] {
    @if $alert-round     { border-radius: $alert-round; }
    @if $alert-padding   { padding: $alert-padding; }
    letter-spacing: .02em;

    // this proj
    @extend .bg-white;
}

@each $type, $color in $alerts {
    .alert-#{$type}   {
        color: shade(nth($color, 1), 40);
        // background: lighten(nth($color,1),26.5);
        border-left: 4px solid nth($color, 1);
    }
}