
@{
    ViewBag.Title = "產品內頁";
    ViewBag.BodyClass = "Products-Contant";
}

<section>
	<div class="wrap">
		<div class="inner center">

		    <img class="pull-right" src="~/Content/images/page/content01.jpg" alt="順便有酵產品圖" data-swiper-parallax="-220">

		    <article class="rest text-left" data-swiper-parallax="-200">
		        <h4 class="title">順便有酵 消化軟糖</h4>
		        <p class="lead">由天然植物-阿勃勒果實中萃取出對人體有效的抗氧化物質-RD236酵素，在原料萃取時，已將阿勃勒特殊的苦味與異味去除。</p>
		        <p class="lead">利用獨特的微囊殼包覆技術，使RD236酵素的營養，在軟糖製造過程中不受破壞。</p>
		        <p class="lead">「順便有酵 消化軟糖」，適口性極佳，以軟糖 作為糖心，在表面上加上薄薄的脆皮糖衣，使「順便有酵 化軟糖」具有皮脆心軟的特殊咬感。</p>
		    </article>
		</div>
	</div>
</section>
