@{
    ViewBag.Title = "產品介紹";
    ViewBag.BodyClass = "Products";
    ViewBag.bannerTitle = "產品介紹";
}

<section class="intro">
    <article>
    	<p>為什麼要補充RD236酵素?</p>
    	<p>生活中的毒無所不在，如何運用身體代謝機制達到排毒的作用，是我們首要解決的問題。</p>
    	<p>現在的人生活快節奏，工作壓力大，三餐老是在外，油膩、蔬果攝取不足，</p>
    	<p>再加上污染的環境和不安全的食材充斥著我們的生活，過度的食用容易造成毒素累積，</p>
    	<p>引起各種身體不適及其他相關問題，因此研究指出，適當補充天然萃取的RD236酵素</p>
    	<p>能幫助我們主動排毒，健康排毒。</p>
    </article>
</section>

<section class="products">
    <div class="wrap">
        <a href="~/Products/Content">
        	<figure class="card">
	            <img src="~/Content/images/page/product01.jpg" alt="RD236消化軟糖">
	            <figcaption>
	                <h5 class="text-left">順便有酵</h5>
	                <h5 class="text-left">阿勃勒酵素軟糖</h5>
	                <h5 class="text-left">60粒</h5>
	            </figcaption>
	        </figure>
    	</a>

		<a href="~/Products/Content">
	        <figure class="card">
	            <img src="~/Content/images/page/product02.jpg" alt="RD236消化軟糖">
	            <figcaption>
	                <h5 class="text-left b">順便有酵</h5>
	                <h5 class="text-left b">阿勃勒酵素軟糖</h5>
	                <h5 class="text-left b">18粒</h5>
	            </figcaption>
	        </figure>
    	</a>
    </div>
</section>

<section class="safe fivetop">

    <div class="wrap">

	    <img src="~/Content/images/page/5p.gif">
		
		<figcaption class="text-left">
	    	<p id="p1">產品經過SGS安全性評估、容器檢測、微生物檢測、原料檢驗、半成品檢驗、出廠檢驗等多項檢驗的把關。</p>

	    	<p id="p2">經美國毒理學會DABT毒理學家，嚴選國家級原料，以專利萃取技術，精萃具功能驗證及製程改良之健康無毒產品。</p>

	    	<p id="p3">由美國毒理學會DABT毒理學家，領導跨領域之研發團隊，採用美國FDA藥物研發等級之製作流程，讓產品不僅更有效，並且更安全性。</p>

	    	<p id="p4">我們大膽揭露成份內容與配方架構，讓消費者一目了然，買的安心，吃的健康。</p>

	    	<p id="p5">MIT永續經營，採國外進口原料與器材在台檢驗製造。</p>
	    </figcaption>

	</div>

</section>