@charset "UTF-8";

//
// common classes
// ------------------------------------------------------------

.text-hide          { @include text-hide; }       // 隱藏文字
.sr-only            { @include sr-only; }         // 隱藏文字-但閱讀器可以看

// 浮動相關(對齊)
.clearfix           { @include clearfix; }        // 清除浮動: 後面元素不會跟著浮動+母元素會被撐開
.pull-left          { float: left; }              // 靠左浮動
.pull-right         { float: right; }             // 靠右浮動
.clear              { clear: both; }              // 清除浮動: 讓後面的元素不會跟著浮動
.rest               { overflow: hidden; }         // 讓浮動後置的元素可以對齊: col Ref: https://www.w3schools.com/w3css/w3css_grid.asp

// 元素類型
.block              { display: block; }           // 區塊元素: 寬度預設100%
.inline-block       { display: inline-block; }    // 區塊元素: 寬度隨內容變
.inline             { display: inline; }          // 行列元素: 不能設寬度

.img-center         { display: block; margin: auto; }           // 圖片置中
.center             { margin-right: auto; margin-left:  auto; } // 物件置中

[hidden], .hidden   { display: none; }            // 隱藏元素
.circle             { border-radius: 50%; }       // 圓形
.full               { width: 100%; }              // 寬度100
.max-full           { max-width: 100%; }          // 寬度不超過100

//
// spacing (ref: core/_variables.scss)
// src: https://gist.github.com/MatthewRDodds/8f171914ee6b826db29393f33229d509
// ex. mt-6, p-12
@each $prop, $abbrev in (margin: m, padding: p) {
    @each $size, $value in $spacing {
        // $length-x:   map-get($lengths, x);
        // $length-y:   map-get($lengths, y);

        .#{$abbrev}-#{$size}  { #{$prop}:        $value; } // All sides
        .#{$abbrev}t-#{$size} { #{$prop}-top:    $value; }
        .#{$abbrev}r-#{$size} { #{$prop}-right:  $value; }
        .#{$abbrev}b-#{$size} { #{$prop}-bottom: $value; }
        .#{$abbrev}l-#{$size} { #{$prop}-left:   $value; }

        // Axes
        .#{$abbrev}x-#{$size} {
            #{$prop}-right:  $value;
            #{$prop}-left:   $value;
        }
        .#{$abbrev}y-#{$size} {
            #{$prop}-top:    $value;
            #{$prop}-bottom: $value;
        }
    }
}

//
// vertical align
// inline, inline-block, inline-table, and table cell elements.
// ------------------------------------------------------------
.align-top    { vertical-align: top; }
.align-middle { vertical-align: middle; }
.align-bottom { vertical-align: bottom; }


//
// text
// ------------------------------------------------------------
.text-left     { text-align: left; }
.text-right    { text-align: right; }
.text-center   { text-align: center; }
.text-nowrap   { white-space: nowrap; }
.text-overflow { @include text-overflow(null); }

@if $font-family-sp {
    .font-sp     { font-family: $font-family-sp; }
}


//
// 情境
// ------------------------------------------------------------
.text-white { color: #fff; }
.text-black { color: #000; }
.bg-white   { background-color: #fff; }
.bg-black   { background-color: #000; }

// ref: core/variables.scss $states: true
@if $states {
    @each $type, $color in $colors {
        .text-#{$type} { color: $color; }
        .bg-#{$type}   { background-color: $color; }
        .hover-#{$type} {
            color: $color;
            &:hover, &:active { color: shade($color, 15); }
        }
    }
    [class*="text-"],
    [class*="hover-"] {
        &.disabled, &[disabled] {
            cursor: $cursor-disabled;
            color: $btn-bg-disabled;
        }
    }
}