@charset "UTF-8";

$menu-h: 140px;


// == 主選單
// ------------------------------------------------------------
#menu {
    padding: ($menu-h - 52)/2 0;

    @include mq(desktop){
        padding: ($menu-h - 22)/2 0;
    }

    .scrolling & {
        @extend .bg-white;

        height: 100%;
        width: 100%;
        padding-top: ($sticky-h - 18)/2;
        padding-bottom: ($sticky-h - 18)/2;
        border-bottom: 1px solid color(muted);
        z-index: z(overlay);

        @include mq(desktop){
            height: unset;
        }

        @include fixed(top 0);
        @include transition(.5s ease);

        @include diy-animate(scrolling, .8s alternate both) {
            from {
                opacity: 0.5;
                top: -100%;
            }
            to {
                opacity: 1;
                top: 0;
            }
        }
    }
}
.nav-bar {
    padding-top: 5rem;
    @include mq(desktop){
        padding: unset;
    }
}
.nav-bar-close {
    display: none;
}
.nav-link {

    @extend .font-lg, .text-secondary;

    text-shadow: 0 0 0 color(secondary);


    // 卷動時的pc版選單
    // .scrolling & {
    //     line-height: 1;
    //     padding-top: ($header-scrolling - 18)/2;
    //     padding-bottom: ($header-scrolling - 18)/2;
    // }

    // 當前選單樣式
    &:hover, &:active, &.active {
        color: color();
    }

    display: block;
    padding: 5px 0;

    width: 80px;
    margin: 15px auto;

    @include mq(desktop) {

        display: unset;
        padding: unset;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

}


// == 頂部選單
// ------------------------------------------------------------
.top-nav {
    @extend .bg-secondary, .py-16;

    .mail {
        @extend .hover-underline, .text-white;
        margin-top: 18px;
    }

    .icon-fb, .icon-line {
        display: block;
        float: left;
        @include text-pic('icon-social.gif', 38px, 38px);
    }

    .icon-line {
        @extend .ml-12;
        background-position: right 0;
    }
}

.menu-btn {
    background: url("../images/mbtn.png");
    height: 52px;
    width: 60px;
    position: absolute;
    left: 25px;
}