@charset "UTF-8";

$menu-h: 90px;


// == 主選單
// ------------------------------------------------------------
#menu {

    padding: ($menu-h - 22)/2 0;

    .scrolling & {
        @extend .bg-white;

        width: 100%;
        padding-top: ($sticky-h - 18)/2;
        padding-bottom: ($sticky-h - 18)/2;
        border-bottom: 1px solid color(muted);
        z-index: z(overlay);

        @include fixed(top 0);
        @include transition(.5s ease);

        @include diy-animate(scrolling, .8s alternate both) {
            from {
                opacity: 0.5;
                top: -100%;
            }
            to {
                opacity: 1;
                top: 0;
            }
        }
    }
}
.nav-bar {
    padding-top: 5rem;
    transition: .3s;
    visibility: hidden;
    opacity: 0;
    
    @include mq(desktop){
        padding: unset;

        visibility: visible;
        opacity: 1;
    }
}
.menu {

    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    background: #fff;

    @include mq(desktop) {
        position: relative;
        height: 60px;

        left: unset;
        top: unset;
        bottom: unset;
        right: unset;
    }
}
.menu-close{
    position: relative;
    height: 90px;

    .scrolling & {

        height: 80px;

        @include mq(desktop) {
            height: 60px;
        }
    }
}
.nav-open {
    opacity: 1;
    visibility: visible;
}
.nav-link {

    @extend .font-lg, .text-secondary;

    text-shadow: 0 0 0 color(secondary);


    // 卷動時的pc版選單
    // .scrolling & {
    //     line-height: 1;
    //     padding-top: ($header-scrolling - 18)/2;
    //     padding-bottom: ($header-scrolling - 18)/2;
    // }

    // 當前選單樣式
    &:hover, &:active, &.active {
        color: color();
    }

    display: block;
    padding: 5px 0;

    width: 80px;
    margin: 15px auto;
    transition: 0.5s ease;



    @include mq(desktop) {

        display: inline;
        padding: unset;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }


    @include mq-max(desktop) {


        //hover-underline

        position: relative;

        @include el(after, $exd:false) {
            border-bottom: 1px solid;
            width: 0;

            @include transition(.35s);
            @include absolute(left 50% bottom -2px);
        }

        &:hover, &:active {

            &:after {
                width: 100%;
                left: 0;
            }
        }

        //

    }

}


// == 頂部選單
// ------------------------------------------------------------
.top-nav {
    @extend .bg-secondary, .py-16;

    display: none;

    @include mq(desktop) {
        display: block;
    }

    .mail {
        @extend .hover-underline, .text-white;
        margin-top: 18px;
    }
    .icon-fb, .icon-line {
        display: block;
        float: left;
    }
}

.icon-fb, .icon-line {
    @include text-pic('icon-social.gif', 38px, 38px);
}

.icon-line {
    @extend .ml-12;
    background-position: right 0;
}

//mobile button

.menu-btn {
    transition: .3s;
    opacity: 1;
    visibility: visible;
    background: url("../images/mbtn.png") 0 0 no-repeat;
    height: 52px;
    width: 60px;
    position: absolute;
    left: 25px;
    top: 20px;
    @include mq(desktop) {
        opacity: 0;
        visibility: hidden;
    }
    .scrolling & {
        top: 15px;
    }
    &:focus {
        box-shadow: none;
    }
}

.close-btn {
    background: url("../images/x.gif") 0 0 no-repeat;
}
