@charset "UTF-8";

$tooltip-bg: rgba(#000, .85) !default;
$tooltip-size: 12px !default;

//
// tooltip
// --------------------------------------------------

// <a class="tooltip"><span class="tips">tip text</span></a>
// .tooltip {
//     cursor: pointer;
//     position: relative;
//     display: inline-block;

//     .tips {
//         @extend .text-white;

//         z-index: z(tooltip);
//         display: block;
//         visibility: hidden;
//         opacity: 0;
//         width: 100%;
//         background-color: $tooltip-bg;

//         @include absolute(top 90% left 0);
//         @include transition(opacity 1s, top .35s);

//         @include el(after) {
//             @include absolute(bottom 100% left 22%);
//             @include arrow(up, 18px, 10px, $tooltip-bg);
//             margin-left: -5px;
//         }
//     }

//     &:hover {
//         .tips {
//             visibility: visible;
//             opacity: 1;
//             top: 100%;
//         }
//     }
// }

// <span class="tip" aria-label="tip text">xxx</span>
.tip {
    position: relative;

    @include el(all) {
        z-index: z(tooltip);
        visibility: hidden;
        opacity: 0;

        @include absolute(left 50%);
        @include transition(.5s);
    }

    // 箭頭
    &:before {
        @include arrow(down, $tooltip-size, $tooltip-size/2, $tooltip-bg);
        top: -($tooltip-size/2);
        margin-left: -($tooltip-size/2);
        pointer-events: none;
    }

    // 內容
    &:after {
        @extend .px-8, .text-white, .font-tiny;

        bottom: 100%;
        margin-bottom: $tooltip-size/2;

        border-radius: 3px;
        background: $tooltip-bg;
        content: attr(aria-label);

        white-space: pre;
        line-height: 26px;
        letter-spacing: 0;

        @include transform(translateX(-50%));
    }

    &:hover {
        &::before, &::after {
            visibility: visible;
            opacity: 1;
        }
    }
}