@charset "UTF-8";

//
// 這裡是本專案用的自定義樣式
// == custom
// ------------------------------------------------------------
// 各種尺寸的字型大小
// src: w3.css v4
.font-tiny   { @include rem('font-size', 12); }  // 10px
.font-sm     { @include rem('font-size', 13); }  // 12px
.font-md     { @include rem('font-size', 15); }  // 15px
.font-lg     { @include rem('font-size', 18); }  // 18px
.font-xl     { @include rem('font-size', 21); }  // 24px
.font-xxl    { @include rem('font-size', 36); }  // 36px
.font-xxxl   { @include rem('font-size', 48); }  // 48px
.font-jumbo  { @include rem('font-size', 64); }  // 64px

.font-normal { font-style: normal; }

// 滑鼠
// 幫助 - 滑鼠會變問號
// <sup class="help" title="說明項目">*</sup>
.help {
    @extend .text-danger, .font-lg;
    cursor: help;
}

// 滑鼠選取效果
::selection {
    @extend .bg-warning;
}

// btn add
.btn {
    &:hover, &:active, &:focus {
        box-shadow: inset 3px 3px 5px rgba(#000, .3);
    }
}

// == goTop
// ------------------------------------------------------------
.goTop {
    @extend .text-white, .font-lg, .px-16, .py-12;

    z-index: z(goTop);
    opacity: 0;
    border-radius: $border-radius border-radius 0 0;
    background: rgba(darken(color(), 10), .5);

    @include fixed(bottom 0 right 1.6%);
    @include transition(.4s);

    &:hover, &:active {
        @extend .text-white;
        background: color(secondary);
    }
}

.fade-in {
    @include diy-animate(fadeIn, 1s 1 forwards) {
        0% {
            opacity: 0;
            @include prefix(transform, translateY(20px));
        }
        100% {
            opacity: 1;
            @include prefix(transform, translateY(0));
        }
    }
}
.fade-out {
    @include diy-animate(fadeOut, 1s 1 forwards) {
        0% {
            opacity: 1;
            @include prefix(transform, translateY(0));
        }
        100% {
            opacity: 0;
            @include prefix(transform, translateY(20px));
        }
    }
}


// == this proj only
// ------------------------------------------------------------
// 底線
// .underline {
//     border-bottom: 1px solid;
// }

// // 外框
// .outline {
//     border: 1px solid;
// }

// // 標題
.title {
    @extend .font-xxxl;

    font-weight: bolder;
    line-height: 1.3;
}

// add 情景
.bg-primary-light {
    background: $bg-primary-light;
}

// 連結底線特效
.hover-underline {
    position: relative;

    @include el(after) {
        border-bottom: 1px solid;
        width: 0;

        @include transition(.35s);
        @include absolute(left 50% bottom -2px);
    }

    &:hover, &:active {
        &:after {
            width: 100%;
            left: 0;
        }
    }
}

// figure.card
.card {
    @extend .bg-white;

    box-shadow: 5px 5px 15px rgba(#000, .2);
    border-radius: $border-radius;
    border: 1px solid color(muted);
    padding: 20px;

    img {
        max-width: 100%;
    }
    figcaption {
        @extend .font-lg;
        padding-bottom: 72px;
        position: relative;
    }
    .more {
        @include center(x);
        bottom: 0;
        z-index: z(figure) + 1;
    }
}

// 滑移過特效(特別樣式)
// .hover-sp {
//     position: relative;

//     @include transition(.45s);

//     @include el(all, $exd:false) {
//         border: 0 solid color(info);
//         opacity: 0;
//         position: absolute;

//         @include size(14px);
//         @include transition(.5s cubic-bezier(1,.2,.26,.7));
//         @include transform(translate(0px, 0px) scale(.8));
//     }

//     &:before {
//         left: 0;
//         bottom: 0;
//         border-bottom-width: 1px;
//         border-left-width: 1px;
//     }
//     &:after {
//         top: 0;
//         right: 0;
//         border-top-width: 1px;
//         border-right-width: 1px;
//     }

//     &:hover, &:active {
//         @extend .text-primary;

//         text-shadow: 0 0 1px;

//         &:before, &:after{
//             @include transition(all 2s cubic-bezier(.14,1.13,0,.91));
//             opacity: 1;
//         }
//         &:before{
//             @include transform(translate(-12px, 4px) scale(1));
//             border-bottom-width: 3px;
//             border-left-width: 3px;
//         }
//         &:after{
//             @include transform(translate(12px, -4px) scale(1));
//             border-top-width: 3px;
//             border-right-width: 3px;
//         }
//     }
// }