@charset "UTF-8";

/*      layout
-----------------------------------------------------------------------*/
// 置中(有最大寬度限制,非滿版才需要)
.wrap {
    @extend .center;

    max-width: $max-width;

    @include clearfix;

    @include mq-max(break($max-width, -1)) {
        @include rem('padding-left', 16px);
        @include rem('padding-right', 16px);
    }

    @if not $enable-RWD {
        @media only screen and (min-device-width: 1024px) {
            min-width: $min-width;
        }
    }
}

#wrapper {
    @if $wrapper-bg { background: $wrapper-bg; }

    // 讓foot總是在頁腳
    @if $lte7 { _height: 100%; }
    min-height: 100%;
    padding-bottom: $footer-height + $wrapper-b-spacing;

    @if not $enable-RWD {
        @media only screen and (min-device-width: 1024px) {
            min-width: $min-width;
        }
    }

    // this proj
    .scrolling & {
        padding-top: $sticky-h; // sticky fixed
    }
}

// header (頁頭)
// ----------------------------------------------------------------------
#header {
    @if $header-bg     { background: $header-bg; }
    @if $header-height { height: $header-height; }
    // position: relative;
    z-index: z(header);

    // this proj
}

.logo {
    cursor: pointer;

    // this proj only
    @include text-pic($logo-img, nth($logo-size, 1), nth($logo-size, 2));
    @include center(nth($logo-size, 1));

    top: 110px;

    .scrolling & {
        $size: 48px;

        top: ($sticky-h - $size)/2;
        background-image: url(#{$img-path}/logo-s.gif);

        @include size($size);

        margin-left: -($size/2);
    }
}




// footer (頁腳)
// ----------------------------------------------------------------------
$foot-spacer: 36px;

#footer {
    @if $footer-bg    { background: $footer-bg; }
    @if $footer-color { color: $footer-color; }
    min-height: $footer-height;
    margin-top: -($footer-height);
    position: relative;
    z-index: z(footer);

    // this proj only
    @extend .text-white, .text-left, .font-lg, .py-48;

    line-height: 1.7;
    letter-spacing: .05em;

    dt {
        font-weight: 500;
    }
    a {
        @extend .text-white;
    }
}

.logo-foot {
    @include text-pic('logo-foot.gif', false, 56px);

    @include mq-max(wide){
        margin-left: 2.2rem;
    }
}

.foot {
    $foot-contacts-mt: 42px;

    &-about {

        margin-top: $foot-contacts-mt;

        @include mq-max(wide){
            margin-right: 2.2rem;
            margin-left: 2.2rem;
            padding-bottom: 30px;
            border-bottom: 1px solid rgba(#fff, .35);
        }
    }

    // 頁腳聯絡資訊
    &-contacts {
        @extend .pl-32, .pb-16;

        padding-top: $foot-contacts-mt;
        border-left: 1px solid rgba(#fff, .35);

        @include mq-max(wide){
            border: none;
        }
    }
}

.map {
    border: 1px solid #fff;

    iframe {
        width: 100%;
        vertical-align: middle;
    }
}

// .copyright {
//     $w: 37%;

//     float: left;
//     border-right: 1px solid #fff;
//     width: $w;
//     margin-right: (41.66% - $w);

//     dd {
//         @extend .font-tiny;
//     }
// }
