@charset "UTF-8";

$enable-RWD:              false;
$img-path:                '../images';

// == color
// ----------------------------------------------------------------------
$pale-green:              #E7FFE7 !default;
$pale-blue:               #E7FFFF !default;
$pale-yellow:             #fffFD7 !default;
$pale-red:                #FFE7E7 !default;

// 情境狀態 + 配色
$colors: (
    primary:              #1599A3,
    secondary:            #005081,
    muted:                #EFEFEF,
    success:              #7BD160,
    info:                 #007BA1,
    warning:              #FCDE6D,
    danger:               #FF5F73,
    words:                #757575
);

$bg-primary-light:        tint(color(), 20);

// == custom-variables
// ----------------------------------------------------------------------

// basic
$body-color:                 #231815;
$font-family-sp:             'Montserrat'; // src: https://fonts.google.com/specimen/Montserrat
$font-bold:                  bolder;
$headings-font-weight:       bolder;

$border-color:               color(muted);
$border-radius:              12px;

$btn-font-size:              21px;
$btn-pd:                     .5em 1.2em;


// == layout
// ----------------------------------------------------------------------
$min-width:             1240px;                    // 網頁最小尺寸
$max-width:             1240px;                    // 網頁最寬尺寸

$wrapper-bg:            false !default;            // 外套背景
$wrapper-b-spacing:     72px !default;                // 與頁腳的間距

// header
$header-height:         false !default;            // 頁頭高度
$header-bg:             false !default;            // 頁頭背景
$sticky-h:              54px;                      // this proj only使用 - 滾動時的頁頭高度

// logo
$logo-img:              'logo.gif' !default;       // logo 圖檔名: 可用 false
$logo-size:             217px 69px !default;        // logo 圖尺寸

// footer
$footer-height:         266px !default;                                                              // 頁腳最小高度
$footer-bg:             tint(color(), 20) !default;  // 頁腳背景 #65ABB3
$footer-color:          #fff !default;                                                               // 頁腳文字顏色

// z-index
$z-index: (
    header:             3,
    main:               1,
    footer:             2,
    figure:             9,
    logo:               10,
    goTop:              99,
    overlay:            999,
);