@{
    ViewBag.Title = "關於我們";
    ViewBag.BodyClass = "AboutUs";
    ViewBag.bannerTitle = "關於我們";
}

<section>

	<div class="wrap info">

		<div class="col-lg-4 img">

			<img src="~/Content/images/index/team.gif">
		</div>

		<article class="col-lg-6 text-left">

			<p>在2017年初夏，擁有美國毒理學會DABT認證的毒理學家招名威博士和他的研究團隊創立了「Redox Medicare - 肽研生醫」，投入畢生所學的專業，研發出能夠幫助身體有效排毒、降低環境毒物對人體造成傷害的保健保養品，我們的想法很單純---純粹排毒（Just Redox)。</p>
			
			<p>招教授的研究主軸圍繞在抗氧化醫學「Redox Medicare」，其中的Redox是Reduction-oxidation reaction（氧化還原反應）的縮寫，氧化還原反應是人體內排除有害自由基以及維持體內自由基平衡的重要反應。</p>
			
			<p>我們採用最新的生物技術，從天然的食材-阿勃勒果實中萃取出對人體有效的抗氧化物質-RD236酵素，小分子的RD236酵素易被人體吸收，有效幫助身體進行排毒、對抗過氧化物（自由基）的毒害，利用最天然簡單的保養，使體內環境達到最自然無毒的健康平衡。</p>

		</article>
	</div>

</section>

<section class="team bg-primary-light text-white">
	<h2 class="font-xxxl">核心團隊</h2>
	<p>肽研生醫源自中原大學生物醫學系，由一群熱情有活力、創意無限的專業年輕科學家所組成。</p>
</section>

<section class="people">
	<div class="wrap">
	
	    <figure class="card card-2">
	        <img src="~/Content/images/page/about/p04.gif">
	        <figcaption class="text-left">

	            <h5 class="text-primary">首席顧問：招名威 博士
	            	<br>
	            	毒理醫學專家
	            </h5>

	            <h5 class=" text-primary">學歷</h5>
	            <p>台灣大學農業化學系學士</p>
	            <p>羅格斯大學毒理學博士</p>
	            <p>麻省理工博士後研究員</p>
	            <h5 class=" text-primary">現任</h5>
	            <p>美國毒理學專家</p>
	            <p>中原大學生物科技學副教授</p>
	            <p>中原大學奈米科技中心副主任</p>
	            <p>台灣毒理學會學術委員會執行秘書</p>
	        </figcaption>
	    </figure>

	    <figure class="card card-2">
	        <img src="~/Content/images/page/about/p05.gif">
	        <figcaption class="text-left">

	            <h5 class="text-primary">執行顧問：曾嘉儀 博士
	            	<br>
	            	神經營養專家
	            </h5>

	            <h5 class=" text-primary">學歷</h5>
	            <p>台灣大學農業化學系學士</p>
	            <p>台灣大學口腔生物所碩士</p>
	            <p>羅格斯大學神經科學博士</p>
	            <p>哈佛大學醫學院博士後研究員</p>
	            <h5 class=" text-primary">現任</h5>
	            <p>中原大學生物醫學工程系助理教授 </p>
	            <p>分子毒理與神經病理核心實驗室主持人</p>
	        </figcaption>
	    </figure>

	    <figure class="card card-1">
	        <img src="~/Content/images/page/about/p01.gif">
	        <figcaption  class="text-left">
	            <h5 class="text-primary">資訊長：林欽鴻</h5>
	            <p>中草藥生物科技專家</p>
	            <br>
	            <p>研究領域：</p>
	            <p>傳統醫學與現代醫學的最佳化複合療法</p>
	        </figcaption>
	    </figure>

	    
	    <figure class="card card-1">
	        <img src="~/Content/images/page/about/p02.gif">
	        <figcaption  class="text-left">
	            <h5 class="text-primary">執行長：莊妤甄</h5>
	            <p>中原大學生醫工程博士候選人</p>
	            <br>
	            <p>研究領域：</p>
	            <p>毒理學結合神經科學，環境毒化物對腦部神經發育的影響</p>
	        </figcaption>
	    </figure>


	    <figure class="card card-1">
	        <img src="~/Content/images/page/about/p03.gif">
	        <figcaption  class="text-left">
	            <h5 class="text-primary">林佩穎</h5>
	            <p>食品安全達人</p>
	            <br>
	            <p>研究領域：</p>
	            <p>環境荷爾蒙誘發疾病的機制與影響</p>
	        </figcaption>
	    </figure>

	</div>
</section>