@{
    ViewBag.Title = "關於我們";
    ViewBag.BodyClass = "About";
    ViewBag.bannerTitle = "關於我們";
}

<section>

	<div class="wrap info">

		<div class="img pull-left">

			<img src="~/Content/images/page/about/team.jpg">
		</div>

		<article class="pull-left text-left">

			<p>在2017年初夏，擁有美國毒理學會DABT認證的毒理學家招名威博士和他的研究團隊創立了「Redox Medicare - 肽研生醫」，投入畢生所學的專業，研發出能夠幫助身體有效排毒、降低環境毒物對人體造成傷害的保健保養品，我們的想法很單純---純粹排毒（Just Redox)。</p>
			
			<p>招教授的研究主軸圍繞在抗氧化醫學「Redox Medicare」，其中的Redox是Reduction-oxidation reaction（氧化還原反應）的縮寫，氧化還原反應是人體內排除有害自由基以及維持體內自由基平衡的重要反應。</p>
			
			<p>我們採用最新的生物技術，從天然的食材-阿勃勒果實中萃取出對人體有效的抗氧化物質-RD236酵素，小分子的RD236酵素易被人體吸收，有效幫助身體進行排毒、對抗過氧化物（自由基）的毒害，利用最天然簡單的保養，使體內環境達到最自然無毒的健康平衡。</p>

		</article>
	</div>

</section>

<section class="team bg-primary-light">
	<h2 class="font-xxxl">核心團隊</h2>
	<p>肽研生醫源自中原大學生物醫學系，由一群熱情有活力、創意無限的專業年輕科學家所組成。</p>
</section>

<section class="people">
	
    <figure class="card news-item">
        <img src="~/Content/images/page/about/p01.gif">
        <figcaption>
            <h5 class="text-left text-primary">資訊長：林欽鴻</h5>
            <p class="text-left">中草藥生物科技專家</p>
            <br>
            <p class="text-left">研究領域：</p>
            <p class="text-left">傳統醫學與現代醫學的最佳化複合療法</p>
        </figcaption>
    </figure>

</section>