
@{
    ViewBag.Title = "哪裡購買";
    ViewBag.BodyClass = "Buy";
    ViewBag.bannerTitle = "哪裡購買";
}

<section class="shop">

	<h2 class="font-xxxl text-secondary"><span class="h2-line">網路購物</span></h2>

	<figure>
		<!-- <a><img src="~/Content/images/page/buy/buy01.gif"></a> -->
		<a href="https://shopee.tw/shop/8584450/"><img src="~/Content/images/page/buy/buy02.gif"></a>
		<!-- <a><img src="~/Content/images/page/buy/buy03.gif"></a> -->
	</figure>
</section>

