@{
    ViewBag.Title = "首頁";
}

@section css {
    <link rel="stylesheet" href="~/Content/css/vendor/swiper.min.css">
}

@section scripts {
    <script src="~/Content/js/swiper.min.js"></script>
    <script>
        // swiper 4.1.6 (輪播效果)
        var banner = new Swiper('#banner', {
            speed: 1000,
            effect: 'fade',
            autoplay: {
                delay: 5000,
            },
            fadeEffect: {
                crossFade: true
            },
        });
    </script>
}

<section id="banner" class="swiper-container">
    <ul class="swiper-wrapper mb-0 list-unstyled">
        <li class="swiper-slide banner-1">
            <div class="inner clearfix center">
                <img class="pull-right" src="~/Content/images/index/banner1.png" alt="順便有酵產品圖" data-swiper-parallax="-220">
                <article class="rest text-left" data-swiper-parallax="-200">
                    <h2 class="title">順便有酵</h2>
                    <p class="lead">內含阿勃勒金製萃取物RD236</p>
                    <p class="lead">幫助維持消化道機能，使排便順暢</p>
                    <p class="lead">促進新陳代謝，調節生理機能</p>
                </article>
            </div>
        </li>
    </ul>
</section>

<section class="intro">
    <figure class="card">
        <img src="~/Content/images/index/intro.jpg" alt="關於阿勃勒插圖">
        <a href="" class="full-link"></a>
        <figcaption>
            <h4>關於阿勃勒</h4>
            <p class="text-left">本草綱目也記載了阿勃勒可入藥，製熱病...</p>
            <a href="~/Home/Info" class="btn more">了解更多</a>
        </figcaption>
    </figure>

    <figure class="card ml-48">
        <img src="~/Content/images/index/intro2.jpg" alt="哪裡購買插圖">
        <a href="~/Home/Buy" class="full-link"></a>
        <figcaption>
            <h4>哪裡購買</h4>
            <p class="text-left">本草綱目也記載了阿勃勒可入藥，製熱病...</p>
            <a href="~/Home/Buy" class="btn more">了解更多</a>
        </figcaption>
    </figure>
</section>

<section class="about wrap">
    <aside class="col-5">
        <h2 class="title text-secondary">關於肽研</h2>
        <a href="~/Home/AboutUs" class="btn">了解更多</a>
    </aside>
    <article class="col-7 text-primary font-lg">
        <img src="~/Content/images/index/about.jpg" alt="插圖">
        <p class="mt-16 b text-left">用天然草本萃取的胜肽酵素，結合抗氧化醫學，以健康防毒、主動排毒的概念為基礎，建立大眾健康、希望、信心、成功的無毒生活</p>
    </article>
</section>

<section class="products">
    <div class="wrap">
        <h2 class="title col-5 text-white mt-0">產品介紹</h2>
        <figure class="card">

            <!--    套程式-產品介紹    -->

            <!--產品圖-->

            <img src="~/Content/images/index/product.jpg" alt="RD236消化軟糖">

            <figcaption class="text-primary">

                <!--產品名稱-->
                <h5 class="text-left b">RD236消化軟糖：</h5>
                <!--簡介 最多顯示10字 + ... 呈現-->
                <p class="text-left b">
                    <li>促進新陳代謝，維持健康</li>
                    <li>改變細菌叢生態，幫助消化</li>
                    <li>維持消化道機能，使排便順暢</li>
                </ul>
                <a href="~/Products/Content" class="btn more">了解更多</a>
            </figcaption>
        </figure>

        <figure class="card">
            <img src="~/Content/images/index/product2.jpg" alt="RD236消化軟糖">
            <figcaption class="text-primary">
                <h5 class="text-left b">RD236消化軟糖：</h5>
                <ul class="text-left b">
                    <li>促進新陳代謝，維持健康</li>
                    <li>改變細菌叢生態，幫助消化</li>
                    <li>維持消化道機能，使排便順暢</li>
                </ul>
                <a href="~/Products/Content" class="btn more">了解更多</a>
            </figcaption>
        </figure>
    </div>
</section>

<section class="safe-info py-32">
    <h2 class="title text-secondary mb-48">五大保證</h2>
    <ul class="safe-list">
        <li>專業</li>
        <li>品質</li>
        <li>信賴</li>
        <li>透明</li>
        <li>愛台灣</li>
    </ul>
</section>

<section class="news-list bg-primary-light py-48">
    <div class="wrap">
        <h2 class="title text-white mt-0">最新消息</h2>

        <figure class="card news-item">
            <img src="~/Content/images/index/news.jpg">
            <figcaption>
                <span class="date">2018-06-13</span>
                <h5 class="text-left text-primary">台灣力推魅力10島</h5>
                <p class="text-left">台灣有豐富的海洋自然資源及人文景觀，交通部觀光局為呼應全球永續觀光發暫趨勢，挑選出10大魅力島嶼，包括龜山島、綠島、蘭嶼...</p>
                <a href="~/News/Content" class="more font-xl b">閱讀更多</a>
            </figcaption>
        </figure>

        <figure class="card news-item">
            <img src="~/Content/images/index/news2.jpg">
            <figcaption>
                <span class="date">2018-06-13</span>
                <h5 class="text-left text-primary">前進花東</h5>
                <p class="text-left">為拓展花東地區國際觀光市場，交通部觀光局金(13)日於臺北火車站1樓多功能展演區舉辦「前進花東 好遊創意行銷啟航」記者會，宣告繼觀...</p>
                <a href="~/News/Content" class="more font-xl b">閱讀更多</a>
            </figcaption>
        </figure>

        <figure class="card news-item">
            <img src="~/Content/images/index/news3.jpg">
            <figcaption>
                <span class="date">2018-06-13</span>
                <h5 class="text-left text-primary">台灣力推魅力10島</h5>
                <p class="text-left">台灣有豐富的海洋自然資源及人文景觀，交通部觀光局為呼應全球永續觀光發暫趨勢，挑選出10大魅力島嶼，包括龜山島、綠島、蘭嶼...</p>
                <a href="~/News/Content" class="more font-xl b">閱讀更多</a>
            </figcaption>
        </figure>
    </div>
</section>

<section class="service">
    <div class="wrap">
        <h2 class="title text-secondary">專業服務</h2>
        <h4 class="sub-title text-left center">安全性評估中心接受各項安全性評估試驗，目的在於協助加速待測品之研發效能，協助提升其功能性與安全性，並進一步提高客戶決策的精準度。</h4>

        <img class="img-center mb-48" src="~/Content/images/index/service.jpg" alt="插圖">

        <article class="col-3 text-left">
            <h4 class="text-secondary">可測項目</h4>
            <ul class="text-primary font-lg">
                <li>食品類含一般食品、保健食品</li>
                <li>欲申請健康食品認證之食品</li>
                <li>新興中西藥品</li>
                <li>化妝品</li>
                <li>香水及精油</li>
                <li>醫療器材</li>
            </ul>
        </article>

        <article class="col-3 text-left">
            <h4 class="text-secondary">功能性評估服務</h4>
            <ul class="text-primary font-lg">
                <li>動物In Vivo體內分析實驗</li>
                <li>細胞In Vivo體外分析實驗</li>
            </ul>
        </article>

        <article class="col-6 text-left">
            <h4 class="text-secondary">安全性毒理評估服務</h4>
            <ul class="list-half text-primary font-lg">
                <li>應急毒性試驗項目急性毒性測試</li>
                <li>一般毒理試驗檢測項目基因毒性試驗</li>
                <li>重複劑量毒性試驗</li>
                <li>單一劑量慢性毒性試驗</li>
                <li>繁殖試驗與致畸試驗</li>
                <li>致癌性試驗</li>
            </ul>
        </article>
    </div>
</section>

