@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <section>

        <div>
            <h1>順便有酵</h1>
            <p class="lead">內含阿勃勒金製萃取物RD236</p>
            <p class="lead">幫助維持消化道機能，使排便順暢</p>
            <p class="lead">促進新陳代謝，調節生理機能</p>
        </div>

        <img src=""> 

    </section>

    <section>

        <div>
            <img src="">
            <h2>關於阿勃勒</h2>
            <p>本草綱目也記載了阿勃勒可入藥，製熱病...</p>
            <button>了解更多</button>
        </div>

        <div>
            <img src="">
            <h2>哪裡購買</h2>
            <p>本草綱目也記載了阿勃勒可入藥，製熱病...</p>
            <button>了解更多</button>
        </div>

    </section>
</div>

<div class="row">
    <div class="col-md-4">
        
        <div>
            <h2>關於肽研</h2>
            <p><a href="">了解更多</a></p>
        </div>

        <div>
            <img src="">
            <p>用天然草本萃取的胜肽酵素，結合抗氧化醫學，以健康防毒、主動排毒的概念為基礎，建立大眾健康、希望、信心、成功的無毒生活</p>
        </div>
        
    </div>

    <div class="col-md-4">

        <h2>產品介紹</h2>

        <div>
            <img src="">
            <p>RD236消化軟糖：</p>
            <ul>
                <li>促進新陳代謝，維持健康</li>
                <li>改變細菌叢生態，幫助消化</li>
                <li>維持消化道機能，使排便順暢</li>
            </ul>

            <button>了解更多</button>
        </div>

        <div>
            <img src="">
            <p>RD236消化軟糖：</p>
            <ul>
                <li>促進新陳代謝，維持健康</li>
                <li>改變細菌叢生態，幫助消化</li>
                <li>維持消化道機能，使排便順暢</li>
            </ul>

            <button>了解更多</button>
        </div>
        
    </div>

    <div class="col-md-4">

        <h2>五大保證</h2>
        <div>
            <img src="">
            <p>專業</p>
        </div>
        <div>
            <img src="">
            <p>品質</p>
        </div>
        <div>
            <img src="">
            <p>信賴</p>
        </div>
        <div>
            <img src="">
            <p>透明</p>
        </div>
        <div>
            <img src="">
            <p>愛台灣</p>
        </div>

    </div>

    <div class="col-md-4">

        <h2>最新消息</h2>

        <div>
            <img src="">
            <h3>台灣力推魅力10島</h3>
            <p>台灣有豐富的海洋自然資源及人文景觀，交通部觀光局為呼應全球永續觀光發暫趨勢，挑選出10大魅力島嶼，包括龜山島、綠島、蘭嶼...</p>

            <button>閱讀更多</button>
        </div>

        <div>
            <img src="">
            <h3>前進花東</h3>
            <p>為拓展花東地區國際觀光市場，交通部觀光局金(13)日於臺北火車站1樓多功能展演區舉辦「前進花東 好遊創意行銷啟航」記者會，宣告繼觀...</p>

            <button>閱讀更多</button>
        </div>
        
        <div>
            <img src="">
            <h3>台灣力推魅力10島</h3>
            <p>台灣有豐富的海洋自然資源及人文景觀，交通部觀光局為呼應全球永續觀光發暫趨勢，挑選出10大魅力島嶼，包括龜山島、綠島、蘭嶼...</p>

            <button>閱讀更多</button>
        </div>

    </div>

    <div class="col-md-4">

        <div>
            <h2>專業服務</h2>
            <p>安全性評估中心接受各項安全性評估試驗，目的在於協助加速待測品之研發效能，協助提升其功能性與安全性，並進一步提高客戶決策的精準度。</p>
            <div>
                <img src="">
                <img src="">
                <img src="">
                <img src="">
                <img src="">
            </div>
        </div>
        

        <div>

            <h3>可測項目</h3>
            <ul>
                <li>食品類含一般食品、保健食品</li>
                <li>欲申請健康食品認證之食品</li>
                <li>新興中西藥品</li>
                <li>化妝品</li>
                <li>香水及精油</li>
                <li>醫療器材</li>
            </ul>

        </div>

        <div>

            <h3>功能性評估服務</h3>
            <ul>
                <li>動物In Vivo體內分析實驗</li>
                <li>細胞In Vivo體外分析實驗</li>
            </ul>
            
        </div>

        <div>

            <h3>安全性毒理評估服務</h3>
            <ul>
                <li>應急毒性試驗項目急性毒性測試</li>
                <li>一般毒理試驗檢測項目基因毒性試驗</li>
                <li>重複劑量毒性試驗</li>
                <li>單一劑量慢性毒性試驗</li>
                <li>繁殖試驗與致畸試驗</li>
                <li>致癌性試驗</li>
            </ul>
            
        </div>

    </div>

</div>