
@{
    ViewBag.Title = "關於阿勃勒";
    ViewBag.BodyClass = "Info";
}

<section class="intro">
	<div class="wrap">
		<img src="~/Content/images/page/info.gif">
	    
	    <article>
	    	<h6>阿勃勒</h6>
	    	<p>果肉是瀝青狀黑色黏質，有一股刺鼻的氣味，古埃及人以阿勃勒的果肉當作整腸健胃物品使用。</p>
	    	<p>本草綱目也記載了阿勃勒可入藥，治熱病，下痰，通經絡，療小兒疳氣。</p>
	    	<p>現代醫學也發現阿勃勒具調節體質、幫助維持消化道機能的功效。</p>
	    </article>

	    <article>
	    	<h6>歷史記載：</h6>
	    	<p><<本草綱目>>第三十一捲 果部三 果之三夷果類三十一種—阿勃勒 (阿勒勃)</p>
	    	<h6>【釋名】</h6>
	    	<p>婆羅門皂莢（《拾遺》）、波斯皂莢。 </p>
	    	<p>時珍曰︰婆羅門，西域國名；波斯，西南國名也。</p>
	    	<h6>【集解】</h6>
	    	<p>藏器曰︰阿勒勃生拂林國。狀似皂莢而圓長，味甘好 </p>
	    	<p>時珍曰︰此即波斯皂莢也。按段成式《酉陽雜俎》雲︰</p>
	    	<p>波斯皂莢，彼人呼為忽野簷，拂林人呼為阿梨去伐。</p>
	    	<p>樹長三、四丈，圍四、五尺。葉似枸櫞而短小，經寒不凋。</p>
	    	<p>不花而實，莢長二尺，中有隔。 </p>
	    	<p>隔內各有一子，大如指頭，赤色至堅硬，中黑如墨，</p>
	    	<p>味甘如飴可食，亦入藥也。</p>
	    	<h6>【氣味】</h6>
	    	<p>苦，大寒，無毒。</p>
	    	<h6>【主治】</h6>
	    	<p>心膈間熱風，心黃，骨蒸寒熱，殺三蟲（藏器）。 </p>
	    	<p>炙黃入藥，治熱病，下痰，通經絡，療小兒疳氣（李 ）。</p>
	    	<h6>【附錄】</h6>
	    	<p>羅望子 時珍曰︰按︰《桂海志》雲︰出廣西。殼長數寸，</p>
	    	<p>如肥皂及刀豆，色正丹，內有二、三子，煨食甘美。</p>
	    </article>
    </div>
</section>
