
@{
    ViewBag.Title = "專業服務";
    ViewBag.bannerTitle = "專業服務";
    ViewBag.BodyClass = "Service";
}

<section class="intro">

    <article>
    	<p>本公司安全性評估中心接受各項安全性評估試驗，目的在於協助加速待測品之研發效能，協助提升其功能性與安全性，並進一步提高客戶決策的精準度。</p>

    	<br>
    	<p>服務概念</p>

    	<p>肽研生醫致力於採取精準醫學行動對抗現代個人化疾病，以領先的退化性神經疾病、腫瘤異體移植技術、心血管代謝疾病及抗老化誘發失智轉化醫學平臺協助我們的客戶加速他們的新藥研發與保健食品開發項目。 </p>

    	<p>再加上污染的環境和不安全的食材充斥著我們的生活，過度的食用容易造成毒素累積，</p>

    	<br>
    	<p>專業標的</p>

    	<p>除以美國食藥署FDA規範之OECD模組化標準的藥品級安全性試驗之外，本公司與中原大學合作，結合特有的退化性神經疾病、腫瘤異體移植、PM2.5心血管疾病及抗老化失智之轉化醫學平臺，可利用於洞察受試物之藥效、藥理學特徵、毒理學分析、結合受試者反應、降低臨床失敗率以及為臨床前受試者選擇合適的治療方案。</p>

    </article>
</section>

<section class="safe">

	<h2 class="title text-secondary mb-48">安全性毒理評估服務
		<div class="h2-line"></div>
	</h2>


    <div class="wrap">

	    <figcaption class="text-left">

	    	<div>
				<h4>急性毒性試驗項目<br>急性毒性試驗</h4>
		    	<ul id="test1">

		    		<li>急性口服毒性試驗OECD#420/423/425</li>
		    		<li>急性皮膚毒性試驗OECD#402</li>
		    		<li>急性呼吸毒性試驗OECD#403</li>
		    	</ul>
	    	</div>
			
			<div>
				<h4 class="h4-r">重覆劑量毒性試驗</h4>
		    	<ul id="test2">
		    		<li>評估28天重複劑量亞急性毒性試驗</li>
		    		<li>單一劑量毒性試驗</li>
		    		<li>評估口服急性毒性試驗</li>
		    	</ul>
	    	</div>

			<div>
				<h4>一般毒理試驗<br>檢測項目<br>基因毒性試驗</h4>
		    	<ul id="test3">
		    		<li>評估沙門氏菌回復突變試驗</li>
		    		<li>評估體外哺乳類細胞染色體異常試驗</li>
		    		<li>評估囓齒類週邊血液微核試驗</li>
		    		<li>其它基因毒性試驗歡迎來電詢問</li>
		    	</ul>
		    </div>

			<div>
				<h4 class="h4-r">單一劑量<br>慢性毒性試驗</h4>
		    	<ul id="test4">
		    		<li>評估口服急性毒性 (極限試驗)</li>
		    		<li>評估口服急性毒性試驗</li>
		    	</ul>
	    	</div>

	    	<div>
		    	<h4>繁殖試驗<br>與<br>致畸試驗</h4>
		    	<ul id="test5">

		    		<li>評估致畸試驗 Teratogenicity</li>
		    		<li>第一期大鼠致畸胎試驗 OECD#414</li>
		    		<li>第二期大鼠致畸胎試驗 OECD#415</li>
		    		<li>第三期大鼠致畸胎試驗 OECD#416</li>
		    		<li>胚胎發育毒性篩選試驗 USEPA OPPTS 870.3800/870.3550 OECD#421</li>
		    	</ul>
	    	</div>

	    	<div>
	    		<h4 class="h4-r">致癌性試驗</h4>
		    	<ul id="test6">
		    		<li>初步致癌試驗OECD#451</li>
		    		<li>長期致癌試驗OECD#451</li>
		    	</ul>
	    	</div>

	    	<div>
	    		<h4>模組化套裝<br>試驗檢測</h4>
		    	<ul id="test7">
		    		<li>3項基因毒性試驗</li>
		    		<li>基因毒性試驗+28天重覆劑量毒性試驗 (2類安全)</li>
		    		<li>基因毒性試驗+90天重覆劑量毒性試驗+致畸胎試驗 (3類安全) </li>
		    	</ul>
	    	</div>

	    </figcaption>

	</div>
</section>

<section class="exper">

	<h2 class="title text-secondary mb-48">功能性評估服務
		<div class="h2-line"></div>
	</h2>

    <div class="wrap">

    	<figure class="card-2">

    		<div class="shadow">
	    		<div class="corner">
	                <h5 class="font-xl">動物In Vivo體內分析實驗</h5>
	            </div>
	        </div>

            <figcaption>
	            <ul>
	            	<li>退化性神經疾病試驗</li>
	            	<li>阿茲海默症檢測試驗</li>
	            	<li>創傷性腦損試驗</li>
	            	<li>抗老化失智Dementia試驗</li>
	            	<li>抗PM2.5引發過敏快篩試驗</li>
	            	<li>抗PM2.5引發血管硬化快篩試驗</li>
	            	<li>抗癌性腫瘤異體移植試驗</li>
	            </ul>
            </figcaption>
            
        </figure>

        <figure class="card-2">

        	<div class="shadow">
	    		<div class="corner">
		            <h5 class="font-xl">細胞In Vitro體外分析實驗</h5>
	        	</div>
	        </div>

            <figcaption>
                <ul>
	            	<li>CHO 細胞快篩試驗</li>
	            	<li>抗癌性細胞侵入與轉移試驗</li>
	            	<li>抗癌性血管增生試驗</li>
	            	<li>退化性神經疾病試驗</li>
	            	<li>抗 PM2.5 血管硬化套組試驗</li>
	            	<li>細胞相容性毒性試驗</li>
	            	<li>細胞凋亡研究</li>
	            	<li>抗發炎試驗</li>
	            	<li>抗氧化試驗</li>
	            </ul>
            </figcaption>

        </figure>
    </div>
</section>
