@charset "UTF-8";

/*      layout
-----------------------------------------------------------------------*/
.wrap {
    @include clearfix;

    @include mq-max(break($max-width, -1)) {
        @include rem('padding-left', $gutter);
        @include rem('padding-right', $gutter);
    }

    @if not $enable-RWD {
        @media only screen and (min-device-width: 1024px) {
            min-width: $min-width;
        }
    }
}

.wrapper {
    @if $wrapper-bg      { background: $wrapper-bg; }
    @if not $enable-RWD  { min-width: $min-width; }
    @if $footBeBottom {
        @if $lte7 { _height: 100%; }
        min-height: 100%;

        @if $isLogin {
            padding-top: 5%;
            padding-bottom: $footer-height + $wrapper-b-spacing; // 內容與footer間距
        }
        @if $isAdmin {
            padding-bottom: $wrapper-b-spacing; // 內容與footer間距
        }
    }
}

// 網站管理系統
.site-title {
    @extend .mb-0;

    // this proj
    @if $isLogin {
        @extend .font-xxl, .text-primary;
    }
    @if $isAdmin {
        @extend .pull-left, .font-xl, .text-white;

        cursor: pointer; cursor: hand; // for ie
        line-height: $header-height;
        text-shadow: 2px 1px 10px rgba(#000, .75);
    }
}


// Admin
// ----------------------------------------------------------------------

@if $isAdmin {
    // == header
    #header {
        @if $header-bg     { background: $header-bg; }
        @if $header-height { height: $header-height; }
        z-index: z(header);

        // this proj only
        padding-right: $gutter;
        padding-left: $gutter;

        @include fixed(top 0 left 0 right 0);
    }

    // 右上方資訊選單(回首頁,登出等)
    .navbar {
        @extend .font-md;

        margin-top: ($header-height - 22)/2;

        #{$nav-name} {
            @extend .px-8;

            @if $nav-color     { color: $nav-color; }
            @if $nav-font-size { @include rem('font-size', $nav-font-size); }

            display: inline-block;
            vertical-align: top;

            &:hover {
                @extend .text-warning;
            }
        }

        .dropdown-content {
            min-width: 160px;
            right: 0;

            a {
                @extend .p-12;
            }
        }
    }

    // == main
    #main {
        @extend .text-left;
        padding: $header-height $gutter 30px ($sidebar-width + $gutter);
    }

    // == sidebar
    #sidebar {
        @extend .text-left, .bg-white;

        @include fixed(left 0 top $header-height bottom 0);

        z-index: z(sidebar);
        width: $sidebar-width;
        box-shadow: 0 1px 1px rgba(#000, .08);

        a { display: block; }

        .collapse-toggle,
        > a {
            @extend .font-lg;

            color: $body-color;
            border-left: 4px solid tint(color(muted), 30);
            padding: 14px 8px 14px 16px;

            &:before {
                @extend .mr-8, .text-muted;
                text-shadow: none;
            }
            &:hover, &:active, &.active {
                border-color: darken(color(warning), 27);
                color: darken(color(), 8);
            }
            &:active, &:focus, &.active {
                background: #F9FAF7;
                text-shadow: 1px 0 0 rgba(#000, .1);
            }
        }

        // 伸縮
        .collapse {

            &-toggle {
                cursor: pointer; cursor: hand;
                position: relative;

                @include transition(.3s ease);

                .arrow {
                    @include absolute(top 21px right 12px);
                }

                &:active, &.active, &.click {
                    .arrow {
                        @include transform(rotate(-135deg));
                    }
                }
                &.click {
                    border-color: color(warning);
                }
            }

            &-content {
                @extend .hidden;

                border-left: 4px solid color(muted);
                background: darken($body-bg, 2);
                box-shadow: inset 1px 2px 1px rgba(#000, .05);

                &.in {
                    display: block;
                }

                a {
                    @extend .font-md, .text-secondary;

                    padding: 10px 10px 10px 42px;

                    &:hover, &:active, &.active {
                        color: $body-color;
                        background: rgba(color(warning), .3);
                    }
                }
            }
        }
    }
}
