@charset "UTF-8";

$img-path:                '../images';

// == color
// ----------------------------------------------------------------------
$gray-100:         #f8f9fa !default;
$gray-200:         #e9ecef !default;
$gray-300:         #dee2e6 !default;
$gray-400:         #ced4da !default;
$gray-500:         #adb5bd !default;
$gray-600:         #868e96 !default;
$gray-700:         #495057 !default;
$gray-800:         #343a40 !default;
$gray-900:         #212529 !default;

$blue:             #007bff !default;
$indigo:           #6610f2 !default;
$purple:           #6f42c1 !default;
$pink:             #e83e8c !default;
$red:              #dc3545 !default;
$orange:           #fd7e14 !default;
$yellow:           #ffc107 !default;
$green:            #28a745 !default;
$teal:             #20c997 !default;
$cyan:             #17a2b8 !default;

$pale-green:       #E7FFE7 !default;
$pale-blue:        #E7FFFF !default;
$pale-yellow:      #fffFD7 !default;
$pale-red:         #FFE7E7 !default;

$colors: (
    primary:       #5BAEBF,
    secondary:     #BB9568,
    success:       #58C99E,
    info:          #9BC1BC,
    warning:       #F4EE7F,
    danger:        #ED6A5A,
    muted:         #DAD7CF
) !default;



// == custom-element
// ----------------------------------------------------------------------
$body-bg:                   #f8f7f4; //darken(#F9FAF7, 2)
$body-color:                #4F5D75;

$font-family-sp:            'Montserrat'; // src: https://fonts.google.com/specimen/Montserrat

$link-color:                darken(color(), 5);

$border-color:              lighten(#D0CCAF, 10);
$input-focus-border-color:  color(success); //saturate(lighten(color(secondary), 10), 20)

$btn-theme: (
    muted:                       darken(color(muted), 18),
    success:                     color(success),
    info:                        color(info),
    warning:                     color(warning),
    danger:                      color(danger),
);


// == layout
// ----------------------------------------------------------------------
$max-width:             1400px !default;
$min-width:             1200px !default;

// wrapper
$wrapper-bg:            false !default;
$wrapper-b-spacing:     30px !default;
$container-x-spacing:   24px !default;
$footBeBottom:          true !default; // 頁腳是否置底 true / false

// header
$header-height:         50px !default;
$header-bg:             color() !default;

// footer
$footer-height:         70px !default;

// sidebar
$sidebar-width:         240px;
$sidebar-nav-bd-color:  tint(color(), 30);

//
// z-index
$z-index: (
    header:             6,
    main:               1,
    footer:             2,
    sidebar:            4,
    logo:               10,
    menu:               20,
    tooltip:            100,
    goTop:              99,
    overlay:            999,
);


// nav
$navbar-height:         $header-height !default;

$nav-name:              '.nav-link' !default;
$nav-height:            'full' !default;   // 'full' | 18px | flase
$nav-font-size:         17px !default;
$nav-color:             #fff !default;
$nav-bg:                lighten(color(), 16) !default;

$nav-item: (
    home:               color(warning),
    logout:             color(success)
) !default;