@using OutWeb.Models.Manage.ManageProductModels
@model ProductDetailsDataModel

@{
    ViewBag.Title = "產品管理";
    ViewBag.subnav = "Products";
    ViewBag.subnav2 = "Product";
    ViewBag.Crumb = "編輯";
}

@section IncludeScript {
    <script>
        $('.tab-nav').click(function () {
            event.preventDefault();
            $($(this).attr('href')).fadeIn().siblings('.tab-content').hide();
            $(this).addClass('active').siblings('.active').removeClass('active');
        });

        $(function () {
            $('.tab-nav').eq(0).trigger("click");
        })
    </script>
}

@section Title {
    <small class="oi" data-glyph="tags">@ViewBag.Crumb</small>
}

@section Breadcrumb {
    <li>產品介紹管理</li>
    <li><a href="ProductsList">@ViewBag.Title</a></li>
    <li>@ViewBag.Crumb</li>
}


@using (Html.BeginForm("ProductsEdit", "_SysAdm", FormMethod.Post, new { id = "formManageProductData", @class = "form-list" }))
{
    Html.RenderPartial("_ProductDataPartial", Model);
}