
@{
    ViewBag.Title = "產品管理";
    ViewBag.subnav = "Products";
    ViewBag.subnav2 = "Product";
    ViewBag.Crumb = "編輯";
}

@section IncludeScript {
    <script>
        $('.tab-nav').click(function() {
            event.preventDefault();
            $($(this).attr('href')).fadeIn().siblings('.tab-content').hide();
            $(this).addClass('active').siblings('.active').removeClass('active');
        });
    </script>
}

@section Title {
    <small class="oi" data-glyph="tags">@ViewBag.Crumb</small>
}

@section Breadcrumb {
    <li>產品介紹管理</li>
    <li><a href="ProductsList">@ViewBag.Title</a></li>
    <li>@ViewBag.Crumb</li>
}

<form action="" class="form-list">
    <dl class="field">
        <dt class="col-2"><sup title="必填">*</sup> 產品名稱</dt>
        <dd class="col-7">
            <input type="text" class="form-element" required placeholder="請輸入產品名稱">
        </dd>
    </dl>
    <dl class="field">
        <dt class="col-2"><sup title="必填">*</sup> 規格</dt>
        <dd class="col-7">
            <input type="text" class="form-element" required placeholder="請輸入規格">
        </dd>
    </dl>
    <dl class="field">
        <dt class="col-2"><sup title="必填">*</sup> 簡介</dt>
        <dd class="col-7">
            @* 輸入時，enter可換行。不用套編輯器 *@
            <textarea rows="5" class="form-element"></textarea>
        </dd>
    </dl>
    <dl class="field">
        <dt class="col-2">排序</dt>
        <dd class="col-5">
            <input type="number" class="form-element inline" value="0">
            <small class="text-danger">數字愈大愈前面</small>
        </dd>
    </dl>
    <dl class="field">
        <dt class="col-2">上架狀態</dt>
        <dd class="col-7">
            <label class="control-group">
                <input type="radio" class="radio" name="show" checked>
                <i class="icon"></i> 上架
            </label>
            <label class="control-group">
                <input type="radio" class="radio" name="show">
                <i class="icon"></i> 下架
            </label>
        </dd>
    </dl>
    <dl class="field">
        <dt class="col-2">顯示於首頁</dt>
        <dd class="col-7">
            <label class="switch">
                <input type="checkbox">
                <div class="slider round"></div>
            </label>
        </dd>
    </dl>
    <dl class="field">
        <dt class="col-2">產品圖上傳</dt>
        <dd class="col-7">
            <div class="input-file">
                <input type="file" >
            </div>
            <small class="text-danger">
                1. 檔案請勿超過 1 MB。<br>
                2. 可上傳檔案格式：JPG, PNG, GIF
            </small>
            <ul class="list-inline">
                <li class="uploaded">
                    <button class="btn-del" type="button">&times;</button>
                    <a href=""><img src="" alt="縮圖"></a>
                </li>
            </ul>
        </dd>
    </dl>
    <fieldset class="mt-24">
        <legend class="underline">[ 內容 ]</legend>
        <div class="alert-warning mb-16">
            <strong>編輯器注意事項:</strong><br>
            從 WORD 複製文字時，請使用下方的<img src="~/Content/images/_sysadm/icon-word.jpg" /> 圖示來貼上 WORD 文字，避免跑版<br />
            編輯器上傳圖片或新增表格等時，請勿設定寬度及高度(將數字刪除) ，以免行動裝置顯示時會跑版。<br />
            檔案尺寸寬度超過 1600 或 高度超過1200 的圖片會被壓縮(PNG透明背景會變成不透明)
        </div>
        <nav class="tab">
            <a href="#tab-1" class="tab-nav active">1 主要資訊</a>
            <a href="#tab-2" class="tab-nav">2 產品資訊</a>
            <a href="#tab-3" class="tab-nav">3 營養標示</a>
            <a href="#tab-4" class="tab-nav">4 Q&A</a>
        </nav>
        <div class="tab-main bg-white">
            <textarea name="" id="tab-1" rows="30" class="tab-content full">這是編輯器 1</textarea>
            <textarea name="" id="tab-2" rows="30" class="tab-content full" hidden>這是編輯器 2 這是編輯器 2 </textarea>
            <textarea name="" id="tab-3" rows="30" class="tab-content full" hidden>這是編輯器 3 這是編輯器 3 這是編輯器 3 </textarea>
            <textarea name="" id="tab-4" rows="30" class="tab-content full" hidden>
Q:11111111111111
A:2222222222222</textarea>
        </div>
    </fieldset>

    <footer class="submit-bar mt-24">
        <button id="submitBtn" type="button" class="btn success oi offset-2" data-glyph="circle-check">
            儲存
        </button>
        <button type="button" class="btn muted oi" data-glyph="circle-x" onclick="location.href = 'ProductsList'">
            回列表
        </button>
    </footer>
</form>