@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block; }

progress {
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active, a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

figure {
  margin: 1em 40px; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

button, input, select, textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: bold; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: ""; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  pre {
    white-space: pre-wrap !important; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; }

  header {
    text-align: left !important; } }
/*      base
-----------------------------------------------------------------------*/
@-moz-viewport , @-ms-viewport, @-o-viewport, @-webkit-viewport, @viewport {
  width: device-width; }
:root {
  font-size: 16px; }

[tabindex="-1"]:focus {
  outline: none !important; }

html, body {
  text-align: center;
  height: 100%; }

body {
  background: #f8f7f4;
  color: #4F5D75;
  font-family: "Montserrat", \5FAE\8EDF\6B63\9ED1\9AD4, "微軟正黑體", "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: .01em; }

img {
  vertical-align: middle; }

a, area, button, [role="button"], input, label, select, summary, textarea {
  touch-action: manipulation; }

button, [role="button"], [type="button"] {
  background: none;
  cursor: pointer;
  border: none; }
  button:focus, [role="button"]:focus, [type="button"]:focus {
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 2px rgba(88, 201, 158, 0.35); }

a {
  color: #49a5b8;
  text-decoration: none;
  -webkit-transition: color 0.35s, background 0.3s;
  transition: color 0.35s, background 0.3s; }
  a:hover, a:active {
    color: #BB9568;
    outline-width: 0; }

h1 {
  margin-top: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
  font-weight: 500;
  line-height: 1.1; }

h1 {
  font-size: 48px;
  font-size: 3rem; }

h2 {
  font-size: 32px;
  font-size: 2rem; }

h3 {
  font-size: 27px;
  font-size: 1.6875rem; }

h4 {
  font-size: 24px;
  font-size: 1.5rem; }

h5 {
  font-size: 18px;
  font-size: 1.125rem; }

h6 {
  font-size: 17px;
  font-size: 1.0625rem; }

b, strong, .b, .strong {
  font-weight: bold; }

mark {
  background-color: #fffFD7;
  padding: .2em; }

hr {
  margin: 2rem 0;
  border: 0;
  border-top: 1px solid #e3e0cf; }

p {
  margin: 0; }
  p + p {
    margin-top: 0.5em; }

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #e3e0cf; }

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 1.2em; }
  ol ol, ol ul, ol dl, ul ol, ul ul, ul dl, dl ol, dl ul, dl dl {
    font-size: 90%;
    margin-bottom: 0; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

.list-inline, .breadcrumb, .list-unstyled {
  list-style: none;
  padding-left: 0; }

.list-inline > li, .breadcrumb > li {
  display: inline-block; }
  .list-inline > li:not(:last-child), .breadcrumb > li:not(:last-child) {
    margin-right: 5px; }

/*      table
-----------------------------------------------------------------------*/
table {
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  border-bottom: 1px solid #e3e0cf; }
  table.fixed {
    table-layout: fixed;
    word-wrap: break-word;
    word-break: break-all; }

tbody + tbody {
  border-top: 2px solid #e3e0cf; }

th, td {
  text-align: center;
  vertical-align: middle;
  padding: 0.25rem 0.5rem;
  border-top: 1px solid #e3e0cf; }

.table-bordered, .table-list {
  border: 1px solid #e3e0cf; }
  .table-bordered th, .table-list th, .table-bordered td, .table-list td {
    border: 1px solid #e3e0cf; }
  .table-bordered thead th:not([colspan]), .table-list thead th:not([colspan]), .table-bordered thead td:not([colspan]), .table-list thead td:not([colspan]) {
    border-bottom-width: 2px; }

.table-striped :not(thead) tr:nth-child(even) {
  background-color: #f8f9fa; }

.table-striped-rowspan tbody:nth-child(even) {
  background-color: #f8f9fa; }

.table-hover tbody:hover > tr > [rowspan],
.table-hover tbody tr:hover {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  background-color: #fffFD7; }

.table-rwd {
  overflow-x: auto;
  min-height: 0.01%; }
  .table-rwd table {
    max-width: 100%; }
  @media (max-width: 63.9375em) {
    .table-rwd {
      width: 100%;
      overflow-y: hidden;
      -ms-overflow-style: -ms-autohiding-scrollbar; }
      .table-rwd table {
        margin-bottom: 0; }
        .table-rwd table th, .table-rwd table td {
          white-space: nowrap; } }

.form-element {
  display: block;
  width: 100%;
  padding: 0 0.3em;
  line-height: 28px;
  min-height: 28px;
  color: #343a40;
  background-color: #fff;
  font-size: 0.875rem;
  border: 1px solid #e3e0cf;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  .form-element:disabled, [disabled].form-element, [readonly].form-element {
    background-color: #eee;
    opacity: 1; }
  .form-element:disabled, [disabled].form-element {
    cursor: not-allowed; }
  .form-element:focus {
    outline: none;
    border-color: #58C99E;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 2px rgba(88, 201, 158, 0.35); }
  .form-inline .form-element, .inline.form-element {
    display: inline;
    width: auto; }
    .form-inline .form-element:not(:last-child), .inline.form-element:not(:last-child) {
      margin-right: 0.3rem; }
  .form-element::-ms-expand {
    background-color: transparent;
    border: 0; }
  .form-element::placeholder {
    color: #DAD7CF;
    opacity: 1; }

select {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 14" width="32" height="14"><path fill="%23DAD7CF" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>');
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 2rem !important; }
  select:focus {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 14" width="32" height="14"><path fill="false" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>'); }

input[type='number'] {
  padding-right: 0; }

input[type='checkbox'],
input[type='radio'] {
  display: inline; }

.form-label, .field dt {
  display: inline-block;
  font-weight: normal;
  line-height: 18px;
  padding-top: 5px;
  padding-bottom: 5px; }

legend {
  width: 100%; }

legend,
.form-label.block,
.field dt.block {
  margin-bottom: 0.5rem; }

fieldset {
  border-width: 0;
  padding: 0;
  min-width: 0;
  margin: 0; }

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell; }

textarea {
  resize: vertical;
  min-height: 6.5rem; }

output {
  display: inline-block; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type='date'],
  input[type='time'],
  input[type='datetime-local'],
  input[type='month'] {
    line-height: 28px;
    height: 30px; } }
.checkbox, .radio {
  position: absolute;
  opacity: 0;
  visibility: hidden; }
  .checkbox + .icon, .radio + .icon {
    cursor: pointer;
    cursor: hand;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    outline: none;
    user-select: none;
    margin: 0;
    background: #fff;
    border: 1px solid #dfdcc9; }
  .checkbox[disabled] + .icon, .radio[disabled] + .icon {
    cursor: not-allowed; }

.checkbox + .icon {
  width: 21px;
  height: 21px;
  text-align: center; }
  .checkbox + .icon:before {
    opacity: 0;
    color: #58C99E;
    line-height: 21px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
.checkbox:not(:checked):hover + .icon {
  border-color: #58C99E; }
  .checkbox:not(:checked):hover + .icon:before {
    opacity: 0.6; }
.checkbox:checked + .icon {
  border-color: #58C99E;
  background: #58C99E; }
  .checkbox:checked + .icon:before {
    opacity: 1;
    color: #fff; }

.radio + .icon {
  border-radius: 50%;
  width: 21px;
  height: 21px;
  text-align: center;
  line-height: 21px;
  -webkit-transition: background 0.3s, border 0.3s;
  transition: background 0.3s, border 0.3s; }
.radio:not(:checked):hover + .icon {
  border-color: #58C99E; }
.radio:checked + .icon {
  box-shadow: 0 0 3px #58C99E;
  border: 4px solid #fff;
  background: #58C99E; }

.control-group, .control-group-stacked {
  cursor: pointer;
  cursor: hand; }
  .control-group .icon, .control-group-stacked .icon {
    margin-right: .1em; }

.control-group {
  display: inline-block; }
  .control-group:not(:last-of-type) {
    margin-right: 0.6rem; }
  .control-group-stacked {
    display: block; }
    .control-group-stacked:not(:last-of-type) {
      margin-bottom: 0.6rem; }

.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  background: #5BAEBF;
  color: #fff;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 28px;
  letter-spacing: 0.06em;
  padding: 0.3em 0.9em;
  border-radius: 0.25rem;
  -webkit-transition: all .35s, color .5s;
  transition: all .35s, color .5s; }
  .btn:hover, .btn:active, .btn:focus, .btn.active {
    background: #47a2b5;
    color: #fff; }
  .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    opacity: .65;
    background: #DAD7CF; }
  .btn.muted {
    background: #b2ac9b; }
    .btn.muted:hover, .btn.muted:active, .btn.muted.active {
      background: #c4bfb2; }
  .btn.success {
    background: #58C99E; }
    .btn.success:hover, .btn.success:active, .btn.success.active {
      background: #77d3b0; }
  .btn.info {
    background: #9BC1BC; }
    .btn.info:hover, .btn.info:active, .btn.info.active {
      background: #b4d1cd; }
  .btn.warning {
    background: #F4EE7F; }
    .btn.warning:hover, .btn.warning:active, .btn.warning.active {
      background: #f7f3a5; }
  .btn.danger {
    background: #ED6A5A; }
    .btn.danger:hover, .btn.danger:active, .btn.danger.active {
      background: #f18b7f; }
  .btn.white:hover, .btn.white:active, .btn.white.active {
    background: #78bcca; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }
.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

.clearfix:after, .btn-group:after, .btn-group-vertical > .btn-group:after, .field:after, .tab:after, .wrap:after, .pager:after, .input-file:after {
  content: "";
  display: table;
  clear: both; }

.pull-left, .site-title, .uploaded {
  float: left; }

.pull-right {
  float: right; }

.clear {
  clear: both; }

.rest {
  overflow: hidden; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.inline {
  display: inline; }

.img-center {
  display: block;
  margin: auto; }

.center, .download-file {
  margin-right: auto;
  margin-left: auto; }

[hidden], .hidden, #sidebar .collapse-content {
  display: none; }

.circle {
  border-radius: 50%; }

.full, .table-list {
  width: 100%; }

.max-full {
  max-width: 100%; }

.m-0 {
  margin: 0; }

.mt-0 {
  margin-top: 0; }

.mr-0 {
  margin-right: 0; }

.mb-0, .field, .breadcrumb, .site-title {
  margin-bottom: 0; }

.ml-0 {
  margin-left: 0; }

.mx-0 {
  margin-right: 0;
  margin-left: 0; }

.my-0, .dropdown hr {
  margin-top: 0;
  margin-bottom: 0; }

.m-2 {
  margin: 0.125rem; }

.mt-2 {
  margin-top: 0.125rem; }

.mr-2, .table-head label {
  margin-right: 0.125rem; }

.mb-2 {
  margin-bottom: 0.125rem; }

.ml-2 {
  margin-left: 0.125rem; }

.mx-2 {
  margin-right: 0.125rem;
  margin-left: 0.125rem; }

.my-2 {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem; }

.m-4 {
  margin: 0.25rem; }

.mt-4 {
  margin-top: 0.25rem; }

.mr-4 {
  margin-right: 0.25rem; }

.mb-4, .list-link > li {
  margin-bottom: 0.25rem; }

.ml-4 {
  margin-left: 0.25rem; }

.mx-4, .pager input {
  margin-right: 0.25rem;
  margin-left: 0.25rem; }

.my-4 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; }

.m-8 {
  margin: 0.5rem; }

.mt-8, .uploaded {
  margin-top: 0.5rem; }

.mr-8, #sidebar .collapse-toggle:before,
#sidebar > a:before, .table-head input, .table-head select, .submit-bar .btn:not(:last-child), .uploaded {
  margin-right: 0.5rem; }

.mb-8, .table-head .form-inline:not(:last-child) {
  margin-bottom: 0.5rem; }

.ml-8, .title small, .dropdown .arrow {
  margin-left: 0.5rem; }

.mx-8, .pager span {
  margin-right: 0.5rem;
  margin-left: 0.5rem; }

.my-8 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.m-12 {
  margin: 0.75rem; }

.mt-12 {
  margin-top: 0.75rem; }

.mr-12 {
  margin-right: 0.75rem; }

.mb-12, .title h2, .topBtn-bar, .form-list legend {
  margin-bottom: 0.75rem; }

.ml-12 {
  margin-left: 0.75rem; }

.mx-12 {
  margin-right: 0.75rem;
  margin-left: 0.75rem; }

.my-12 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem; }

.m-16 {
  margin: 1rem; }

.mt-16 {
  margin-top: 1rem; }

.mr-16 {
  margin-right: 1rem; }

.mb-16 {
  margin-bottom: 1rem; }

.ml-16 {
  margin-left: 1rem; }

.mx-16 {
  margin-right: 1rem;
  margin-left: 1rem; }

.my-16 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.m-24 {
  margin: 1.5rem; }

.mt-24 {
  margin-top: 1.5rem; }

.mr-24 {
  margin-right: 1.5rem; }

.mb-24, .title {
  margin-bottom: 1.5rem; }

.ml-24 {
  margin-left: 1.5rem; }

.mx-24 {
  margin-right: 1.5rem;
  margin-left: 1.5rem; }

.my-24 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.m-32 {
  margin: 2rem; }

.mt-32 {
  margin-top: 2rem; }

.mr-32 {
  margin-right: 2rem; }

.mb-32 {
  margin-bottom: 2rem; }

.ml-32 {
  margin-left: 2rem; }

.mx-32 {
  margin-right: 2rem;
  margin-left: 2rem; }

.my-32 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.m-48 {
  margin: 3rem; }

.mt-48 {
  margin-top: 3rem; }

.mr-48 {
  margin-right: 3rem; }

.mb-48 {
  margin-bottom: 3rem; }

.ml-48 {
  margin-left: 3rem; }

.mx-48 {
  margin-right: 3rem;
  margin-left: 3rem; }

.my-48 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.m-64 {
  margin: 4rem; }

.mt-64 {
  margin-top: 4rem; }

.mr-64 {
  margin-right: 4rem; }

.mb-64 {
  margin-bottom: 4rem; }

.ml-64 {
  margin-left: 4rem; }

.mx-64 {
  margin-right: 4rem;
  margin-left: 4rem; }

.my-64 {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.p-0, .th-sort-toggle, .uploaded .btn-del {
  padding: 0; }

.pt-0 {
  padding-top: 0; }

.pr-0 {
  padding-right: 0; }

.pb-0 {
  padding-bottom: 0; }

.pl-0 {
  padding-left: 0; }

.px-0 {
  padding-right: 0;
  padding-left: 0; }

.py-0, .btn.sm, .table-head .btn {
  padding-top: 0;
  padding-bottom: 0; }

.p-2, .input-file:not(:empty) {
  padding: 0.125rem; }

.pt-2 {
  padding-top: 0.125rem; }

.pr-2 {
  padding-right: 0.125rem; }

.pb-2 {
  padding-bottom: 0.125rem; }

.pl-2 {
  padding-left: 0.125rem; }

.px-2, .pager button {
  padding-right: 0.125rem;
  padding-left: 0.125rem; }

.py-2 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem; }

.p-4 {
  padding: 0.25rem; }

.pt-4 {
  padding-top: 0.25rem; }

.pr-4 {
  padding-right: 0.25rem; }

.pb-4, .form-list legend {
  padding-bottom: 0.25rem; }

.pl-4 {
  padding-left: 0.25rem; }

.px-4 {
  padding-right: 0.25rem;
  padding-left: 0.25rem; }

.py-4, .tab-nav, .dropdown-content.search-box a {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }

.p-8, .table-head, .table-list caption, .list-link a {
  padding: 0.5rem; }

.pt-8 {
  padding-top: 0.5rem; }

.pr-8, .field dt {
  padding-right: 0.5rem; }

.pb-8 {
  padding-bottom: 0.5rem; }

.pl-8, .dropdown-content.search-box a {
  padding-left: 0.5rem; }

.px-8, .navbar .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.py-8, .list-link a:before {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.p-12, .tab-main, .navbar .dropdown-content a {
  padding: 0.75rem; }

.pt-12 {
  padding-top: 0.75rem; }

.pr-12, .th-sort-toggle {
  padding-right: 0.75rem; }

.pb-12, .title {
  padding-bottom: 0.75rem; }

.pl-12 {
  padding-left: 0.75rem; }

.px-12, .tab-nav {
  padding-right: 0.75rem;
  padding-left: 0.75rem; }

.py-12, .submit-bar {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; }

.p-16 {
  padding: 1rem; }

.pt-16 {
  padding-top: 1rem; }

.pr-16 {
  padding-right: 1rem; }

.pb-16 {
  padding-bottom: 1rem; }

.pl-16 {
  padding-left: 1rem; }

.px-16 {
  padding-right: 1rem;
  padding-left: 1rem; }

.py-16 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.p-24 {
  padding: 1.5rem; }

.pt-24 {
  padding-top: 1.5rem; }

.pr-24 {
  padding-right: 1.5rem; }

.pb-24 {
  padding-bottom: 1.5rem; }

.pl-24 {
  padding-left: 1.5rem; }

.px-24 {
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

.py-24 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.p-32 {
  padding: 2rem; }

.pt-32 {
  padding-top: 2rem; }

.pr-32 {
  padding-right: 2rem; }

.pb-32 {
  padding-bottom: 2rem; }

.pl-32 {
  padding-left: 2rem; }

.px-32 {
  padding-right: 2rem;
  padding-left: 2rem; }

.py-32 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.p-48 {
  padding: 3rem; }

.pt-48 {
  padding-top: 3rem; }

.pr-48 {
  padding-right: 3rem; }

.pb-48 {
  padding-bottom: 3rem; }

.pl-48 {
  padding-left: 3rem; }

.px-48 {
  padding-right: 3rem;
  padding-left: 3rem; }

.py-48, .download-file {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.p-64 {
  padding: 4rem; }

.pt-64 {
  padding-top: 4rem; }

.pr-64 {
  padding-right: 4rem; }

.pb-64 {
  padding-bottom: 4rem; }

.pl-64 {
  padding-left: 4rem; }

.px-64 {
  padding-right: 4rem;
  padding-left: 4rem; }

.py-64 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.align-top {
  vertical-align: top; }

.align-middle {
  vertical-align: middle; }

.align-bottom {
  vertical-align: bottom; }

.text-left, .dropdown-content, #main, #sidebar, .table-list caption {
  text-align: left; }

.text-right, .field dt {
  text-align: right; }

.text-center, .pager, .pager input, .list-link a:before, .download-file {
  text-align: center; }

.text-nowrap {
  white-space: nowrap; }

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.font-sp {
  font-family: "Montserrat"; }

.text-white, .btn.white:hover, .btn.white:active, .btn.white.active, .input-group-btn.danger, [class*="label-"], .btn.outline:hover, .btn.outline:active, .site-title, .table-list > thead, .th-sort-toggle, .uploaded .btn-del {
  color: #fff; }

.text-black {
  color: #000; }

.bg-white, .btn.white, [class*='alert'], .tab-nav:hover, .tab-nav.active, .btn.outline, .dropdown-content, #sidebar, .table-list, .download-file {
  background-color: #fff; }

.bg-black {
  background-color: #000; }

.text-primary, .btn.white, .tab-nav.active {
  color: #5BAEBF; }

.bg-primary {
  background-color: #5BAEBF; }

.hover-primary {
  color: #5BAEBF; }
  .hover-primary:hover, .hover-primary:active {
    color: #4d93a2; }

.text-secondary, .btn.outline, .dropdown a, #sidebar .collapse-content a, .pager button:not([disabled]):hover, .pager button:not([disabled]):active, .form-list legend {
  color: #BB9568; }

.bg-secondary {
  background-color: #BB9568; }

.hover-secondary {
  color: #BB9568; }
  .hover-secondary:hover, .hover-secondary:active {
    color: #9e7e58; }

.text-success, .tab-nav:hover, .pager button:not([disabled]) {
  color: #58C99E; }

.bg-success, .btn.outline:hover, .btn.outline:active {
  background-color: #58C99E; }

.hover-success {
  color: #58C99E; }
  .hover-success:hover, .hover-success:active {
    color: #4aaa86; }

.text-info {
  color: #9BC1BC; }

.bg-info {
  background-color: #9BC1BC; }

.hover-info {
  color: #9BC1BC; }
  .hover-info:hover, .hover-info:active {
    color: #83a49f; }

.text-warning, .navbar .nav-link:hover {
  color: #F4EE7F; }

.bg-warning, ::selection {
  background-color: #F4EE7F; }

.hover-warning {
  color: #F4EE7F; }
  .hover-warning:hover, .hover-warning:active {
    color: #cfca6b; }

.text-danger, .field sup, .help {
  color: #ED6A5A; }

.bg-danger, .input-group-btn.danger, .uploaded .btn-del {
  background-color: #ED6A5A; }

.hover-danger {
  color: #ED6A5A; }
  .hover-danger:hover, .hover-danger:active {
    color: #c95a4c; }

.text-muted, #sidebar .collapse-toggle:before,
#sidebar > a:before {
  color: #DAD7CF; }

.bg-muted {
  background-color: #DAD7CF; }

.hover-muted {
  color: #DAD7CF; }
  .hover-muted:hover, .hover-muted:active {
    color: #b9b6af; }

[class*="text-"].disabled, [class*="text-"][disabled],
[class*="hover-"].disabled,
[class*="hover-"][disabled] {
  cursor: not-allowed;
  color: #DAD7CF; }

.slider {
  cursor: pointer;
  background-color: #e3e0cf;
  border-radius: 21px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s; }
  .slider:before {
    position: absolute;
    bottom: 2px;
    left: 2px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    height: 21px;
    width: 21px;
    background-color: white;
    border-radius: 50%; }
    .slider:before, .th-sort-toggle:before, .th-sort-toggle:after {
      content: '';
      display: block; }

.switch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 37.5px;
  height: 25px; }
  .switch input {
    display: none; }
    .switch input:checked + .slider {
      background: #58C99E;
      box-shadow: inset 1px 1px 1px #38ac80; }
      .switch input:checked + .slider:before {
        -ms-transform: translateX(12.18px);
        -webkit-transform: translateX(12.18px);
        transform: translateX(12.18px); }
    .switch input:focus + .slider {
      box-shadow: 0 0 1px #58C99E; }

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  width: 100%; }
  .input-group[class*='col-'] {
    float: none;
    padding-left: 0;
    padding-right: 0; }
  .input-group input {
    height: 28px;
    border-radius: 0; }
    .input-group input:focus {
      position: relative;
      z-index: 2; }

.input-group-box,
.input-group-addon,
.input-group-btn {
  display: table-cell; }

.input-group-box {
  width: 100%;
  vertical-align: top; }
  .input-group-box input {
    border: 1px solid #e3e0cf; }
  .input-group-box:first-child input {
    border-right: none; }
  .input-group-box:last-child input {
    border-left: none; }

.input-group-addon,
.input-group-btn {
  padding: 0 .7em;
  height: 100%;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 14px;
  font-size: 0.875rem;
  min-width: 1%;
  border: 1px solid #e3e0cf; }
  .input-group-addon:first-child,
  .input-group-btn:first-child {
    border-right: none; }
  .input-group-addon:last-child,
  .input-group-btn:last-child {
    border-left: none; }

.input-group-addon {
  color: #5BAEBF;
  background: #ecebdf; }

.input-group-btn {
  overflow: hidden;
  line-height: 26px; }
  .input-group-btn > .btn {
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
    line-height: 28px; }

.btn-group > .btn {
  float: left; }
  .btn-group > .btn:not(:first-child) {
    border-left: 1px solid rgba(0, 0, 0, 0.1); }
  .btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0; }
  .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0; }
  .btn-group > .btn + .dropdown-toggle {
    padding-right: 8px;
    padding-left: 8px; }
.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0; }
.btn-group .btn,
.btn-group .dropdown-toggle:active {
  outline: 0; }

.btn-group-vertical > .btn {
  display: block;
  width: 100%;
  max-width: 100%; }
  .btn-group-vertical > .btn:not(:first-child) {
    border-top: 1px solid #459fb1; }
  .btn-group-vertical > .btn:not(:first-child):not(:last-child) {
    border-radius: 0; }
  .btn-group-vertical > .btn:first-child:not(:last-child) {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }
  .btn-group-vertical > .btn:last-child:not(:first-child) {
    border-bottom-left-radius: 0.25rem;
    border-top-right-radius: 0;
    border-top-left-radius: 0; }
.btn-group-vertical > .btn-group > .btn {
  float: none; }
.btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0; }
.btn-group-vertical > .btn-group::first-child:not(:last-child) > .btn:last-child,
.btn-group-vertical > .btn-group::first-child:not(:last-child) > .dropdown-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }
.btn-group-vertical > .btn-group::last-child:not(:first-child) > .btn:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0; }

.btn-stacked > .btn {
  display: block;
  width: 100%; }
  .btn-stacked > .btn:not(:last-of-type) {
    margin-bottom: 0.5rem; }

.field ~ .field {
  margin-top: 0.75rem; }
.field dt {
  font-weight: normal; }
.field dd {
  min-height: 28px; }
.field sup {
  cursor: help; }

[class^="label"] {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  line-height: initial;
  border-radius: 0.25rem;
  background: #96b2b7;
  color: #f8f9fa; }
  [class^="label"]:not(:only-child) {
    margin: 0 5px; }

em[class*="label"] {
  font-style: normal; }

.label-success {
  background: #58C99E; }

a.label-success:hover, a.label-success:focus, a.label-success:active {
  background: #3ab486; }

.label-info {
  background: #9BC1BC; }

a.label-info:hover, a.label-info:focus, a.label-info:active {
  background: #7cada7; }

.label-warning {
  background: #F4EE7F; }

a.label-warning:hover, a.label-warning:focus, a.label-warning:active {
  background: #f0e850; }

.label-danger {
  background: #ED6A5A; }

a.label-danger:hover, a.label-danger:focus, a.label-danger:active {
  background: #e8402c; }

.alert-close {
  color: #9d2011;
  position: relative;
  top: -10px;
  z-index: 1;
  line-height: 1; }

[class*='alert'] {
  padding: 0.5rem;
  letter-spacing: .02em; }

.alert-success {
  color: #39745d;
  border-left: 4px solid #5fc29c; }

.alert-info {
  color: #60706e;
  border-left: 4px solid #a0bcb8; }

.alert-warning {
  color: #908c4e;
  border-left: 4px solid #f0ea83; }

.alert-danger {
  color: #8b4239;
  border-left: 4px solid #e86e5f; }

.tab-nav {
  display: block;
  float: left;
  margin-bottom: -1px;
  margin-right: -1px;
  border: 1px solid #e3e0cf;
  border-bottom: transparent;
  background: #faf9f7;
  color: #cfcbc1; }
  .tab-nav.active {
    border-top: 2px solid #58C99E;
    box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1); }

.tab-main {
  border: 1px solid #e3e0cf; }

.tab-main textarea, textarea.tab-content {
  border: none;
  box-shadow: none; }
  .tab-main textarea:focus, textarea.tab-content:focus {
    outline: 1px dashed #e3e0cf; }

.btn {
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1); }
  .btn:hover {
    border-color: transparent; }
  .btn.outline {
    border: 1px solid #5BAEBF; }
    .btn.outline:hover, .btn.outline:active {
      border-color: #fff; }

.font-tiny {
  font-size: 12px;
  font-size: 0.75rem; }

.font-sm, [class^="label"], .btn.sm, .breadcrumb, .table-head, .pager, .uploaded {
  font-size: 13px;
  font-size: 0.8125rem; }

.font-md, .navbar {
  font-size: 15px;
  font-size: 0.9375rem; }

.font-lg, .btn.lg, .help, #sidebar .collapse-toggle,
#sidebar > a, .table-list caption, .form-list legend {
  font-size: 19px;
  font-size: 1.1875rem; }

.font-xl, .site-title, .download-file {
  font-size: 24px;
  font-size: 1.5rem; }

.font-xxl, .alert-close {
  font-size: 32px;
  font-size: 2rem; }

.font-xxxl {
  font-size: 48px;
  font-size: 3rem; }

.font-jumbo {
  font-size: 64px;
  font-size: 4rem; }

.underline, .title {
  border-bottom: 1px solid #e3e0cf; }

.title {
  color: #4195a6; }
  .title h2 {
    font-size: 28px;
    font-size: 1.75rem; }
  .title small {
    color: #b9b3a4; }

.help {
  cursor: help; }

.breadcrumb {
  color: #6A8891; }
  .breadcrumb li:not(:last-child):after {
    content: "/"; }
  .breadcrumb a {
    color: #4F5D75; }

.arrow {
  display: inline-block;
  border: solid #DAD7CF;
  border-width: 0 2px 2px 0;
  padding: 4px;
  -webkit-transition: 0.35s ease;
  transition: 0.35s ease; }
  .arrow.right {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .arrow.left {
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg); }
  .arrow.up {
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg); }
  .arrow.down {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }

.dropdown {
  position: relative; }
  .dropdown-toggle:focus {
    box-shadow: none; }
  .dropdown-content {
    position: absolute;
    top: 110%;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
    z-index: 1; }
    .dropdown-content.search-box {
      min-width: 300px;
      padding: 8px 8px 0; }
      .dropdown-content.search-box .select {
        overflow-y: auto;
        max-height: 280px;
        margin-left: -8px;
        margin-right: -8px; }
  .dropdown .arrow {
    border-color: inherit;
    position: relative;
    top: -3px; }
  .dropdown a {
    display: block; }
    .dropdown a:hover, .dropdown a:active, .dropdown a:focus, .dropdown a.active {
      background: #f8f4ae; }

/*      layout
-----------------------------------------------------------------------*/
@media (max-width: 87.4375em) {
  .wrap {
    padding-left: 16px;
    padding-left: 1rem;
    padding-right: 16px;
    padding-right: 1rem; } }
@media only screen and (min-device-width: 1024px) {
  .wrap {
    min-width: 1200px; } }

.wrapper {
  min-width: 1200px;
  min-height: 100%;
  padding-bottom: 30px; }

.site-title {
  cursor: pointer;
  cursor: hand;
  line-height: 50px;
  text-shadow: 2px 1px 10px rgba(0, 0, 0, 0.75); }

#header {
  background: #5BAEBF;
  height: 50px;
  z-index: 6;
  padding-right: 16px;
  padding-left: 16px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0; }

.navbar {
  margin-top: 14px; }
  .navbar .nav-link {
    color: #fff;
    font-size: 17px;
    font-size: 1.0625rem;
    display: inline-block;
    vertical-align: top; }
  .navbar .dropdown-content {
    min-width: 160px;
    right: 0; }

#main {
  padding: 50px 16px 30px 256px; }

#sidebar {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  z-index: 4;
  width: 240px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08); }
  #sidebar a {
    display: block; }
  #sidebar .collapse-toggle,
  #sidebar > a {
    color: #4F5D75;
    border-left: 4px solid #e5e3dd;
    padding: 14px 8px 14px 16px; }
    #sidebar .collapse-toggle:before,
    #sidebar > a:before {
      text-shadow: none; }
    #sidebar .collapse-toggle:hover, #sidebar .collapse-toggle:active, #sidebar .collapse-toggle.active,
    #sidebar > a:hover,
    #sidebar > a:active,
    #sidebar > a.active {
      border-color: #77d3b0;
      color: #449cad; }
    #sidebar .collapse-toggle:active, #sidebar .collapse-toggle:focus, #sidebar .collapse-toggle.active,
    #sidebar > a:active,
    #sidebar > a:focus,
    #sidebar > a.active {
      background: #F9FAF7;
      text-shadow: 1px 0 0 rgba(0, 0, 0, 0.1); }
  #sidebar .collapse-toggle {
    cursor: pointer;
    cursor: hand;
    position: relative;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease; }
    #sidebar .collapse-toggle .arrow {
      position: absolute;
      top: 21px;
      right: 12px; }
    #sidebar .collapse-toggle:active .arrow, #sidebar .collapse-toggle.active .arrow, #sidebar .collapse-toggle.click .arrow {
      -ms-transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
      transform: rotate(-135deg); }
    #sidebar .collapse-toggle.click {
      border-color: #58C99E; }
  #sidebar .collapse-content {
    border-left: 4px solid #d6d2c9;
    box-shadow: inset 1px 2px 1px rgba(0, 0, 0, 0.05); }
    #sidebar .collapse-content.in {
      display: block; }
    #sidebar .collapse-content a {
      background: rgba(240, 240, 240, 0.8);
      padding: 10px 10px 10px 42px; }
      #sidebar .collapse-content a:hover, #sidebar .collapse-content a:active, #sidebar .collapse-content a.active {
        color: #4F5D75;
        background: rgba(88, 201, 158, 0.3); }

.table-head {
  background: #e9e6dd; }
  .table-head * {
    vertical-align: middle; }
  .table-head input, .table-head select {
    line-height: 26.6px;
    height: 26.6px;
    min-height: auto; }
  .table-head .btn {
    height: 26.6px;
    font-size: inherit; }

.table-list > thead {
  background: #386b76; }
.table-list th {
  font-weight: normal;
  line-height: 1.4; }
.table-list .item-edit {
  width: 80px;
  white-space: nowrap; }

.th-sort-toggle {
  display: block;
  position: relative;
  width: 100%;
  background: none;
  text-align: inherit;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .th-sort-toggle:hover {
    color: #f8f4ae; }
  .th-sort-toggle:before, .th-sort-toggle:after {
    position: absolute;
    top: 50%;
    right: 0;
    border: 4px solid transparent; }
  .th-sort-toggle:before {
    margin-top: -9px;
    border-top-width: 2px;
    border-bottom: 6px solid rgba(255, 255, 255, 0.3); }
  .th-sort-toggle:after {
    margin-top: 1px;
    border-bottom-width: 2px;
    border-top: 6px solid rgba(255, 255, 255, 0.3); }
  .th-sort-toggle.asc:before {
    border-bottom-color: rgba(255, 255, 255, 0.8); }
  .th-sort-toggle.asc:after {
    border-top-color: rgba(255, 255, 255, 0.1); }
  .th-sort-toggle.desc:after {
    border-top-color: rgba(255, 255, 255, 0.8); }
  .th-sort-toggle.desc:before {
    border-bottom-color: rgba(255, 255, 255, 0.1); }

.table-foot {
  padding: 6px;
  background: #eeede2; }

.pager input, .pager button {
  line-height: 20px; }
.pager button {
  margin: 0 1px; }
  .pager button[disabled] {
    color: rgba(255, 255, 255, 0.5); }
  .pager button:not([disabled]) {
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0.1); }
.pager input {
  display: inline;
  width: 80px;
  padding: 0; }

.form-list legend.underline, .form-list legend.title {
  border-bottom: 1px dashed #e3e0cf; }
.form-list [readonly] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #e3e0cf;
  box-shadow: none; }

.submit-bar {
  border-top: 2px solid rgba(0, 0, 0, 0.03);
  background: #e1dfd8;
  padding-left: 16.72%; }

.input-file:not(:empty) {
  border: 1px solid #e3e0cf;
  cursor: pointer;
  background: #fff; }
.input-file:hover, .input-file:active {
  border-color: #58C99E; }
.input-file [type='file'] {
  width: 100%; }
  .input-file [type='file']:focus {
    outline: none; }
.input-file :nth-child(2) {
  z-index: 2;
  float: right;
  position: relative;
  margin-top: -20px; }

.uploaded {
  position: relative;
  border: 1px solid #DAD7CF;
  color: #aaa;
  padding: 4px 21px 4px 4px; }
  .uploaded img {
    width: auto;
    height: 38px; }
  .uploaded .btn-del {
    font-size: 17px;
    font-size: 1.0625rem;
    border-radius: 50%;
    width: 21px;
    height: 21px;
    position: absolute;
    top: -3px;
    right: -5px;
    -webkit-transition: 0.35s;
    transition: 0.35s;
    line-height: 1; }
    .uploaded .btn-del:hover {
      background: #000; }

.react-datepicker-popper {
  z-index: 99; }

.list-link {
  counter-reset: num; }
  .list-link a {
    display: block;
    padding-left: 45px;
    background: #DAD7CF;
    border: 1px solid #eef6f8;
    position: relative; }
    .list-link a:before {
      content: counter(num);
      display: block;
      counter-increment: num;
      width: 35px;
      height: 100%;
      background: #cfcbc1;
      border-right: 1px solid #eef6f8;
      transition: background .15s;
      position: absolute;
      top: 0;
      left: 0; }
    .list-link a:hover {
      color: #fff;
      background: #80c0cd; }
      .list-link a:hover:before {
        background: #5BAEBF;
        border-right-color: #DAD7CF; }

.download-file {
  display: block;
  width: 75%;
  border-radius: 0.25rem;
  border: 1px solid #e3e0cf;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .download-file:hover, .download-file:active {
    background: #e5e3dd;
    box-shadow: inset 3px 3px 7px rgba(0, 0, 0, 0.1); }
