@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block; }

progress {
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active, a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

figure {
  margin: 1em 40px; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

button, input, select, textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: bold; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: ""; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  pre {
    white-space: pre-wrap !important; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; }

  header {
    text-align: left !important; } }
/*      base
-----------------------------------------------------------------------*/
@-moz-viewport , @-ms-viewport, @-o-viewport, @-webkit-viewport, @viewport {
  width: device-width; }
:root {
  font-size: 16px; }

[tabindex="-1"]:focus {
  outline: none !important; }

html, body {
  text-align: center;
  height: 100%; }

body {
  background: #fff;
  color: #231815;
  font-family: "Montserrat", \5FAE\8EDF\6B63\9ED1\9AD4, "微軟正黑體", "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: .01em; }

img {
  vertical-align: middle; }

a, area, button, [role="button"], input, label, select, summary, textarea {
  touch-action: manipulation; }

button, [role="button"], [type="button"] {
  background: none;
  cursor: pointer;
  border: none; }
  button:focus, [role="button"]:focus, [type="button"]:focus {
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 2px rgba(252, 222, 109, 0.35); }

a {
  color: #1599A3;
  text-decoration: none;
  -webkit-transition: color 0.35s, background 0.3s;
  transition: color 0.35s, background 0.3s; }
  a:hover, a:active {
    color: #005081;
    outline-width: 0; }

h1 {
  margin-top: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
  font-weight: bolder;
  line-height: 1.1; }

h1 {
  font-size: 48px;
  font-size: 3rem; }

h2 {
  font-size: 32px;
  font-size: 2rem; }

h3 {
  font-size: 27px;
  font-size: 1.6875rem; }

h4 {
  font-size: 24px;
  font-size: 1.5rem; }

h5 {
  font-size: 18px;
  font-size: 1.125rem; }

h6 {
  font-size: 17px;
  font-size: 1.0625rem; }

b, strong, .b, .strong {
  font-weight: bolder; }

mark {
  background-color: #fffFD7;
  padding: .2em; }

hr {
  margin: 2rem 0;
  border: 0;
  border-top: 1px solid #EFEFEF; }

p {
  margin: 0; }
  p + p {
    margin-top: 0.5em; }

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #EFEFEF; }

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 1.2em; }
  ol ol, ol ul, ol dl, ul ol, ul ul, ul dl, dl ol, dl ul, dl dl {
    font-size: 90%;
    margin-bottom: 0; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

.list-inline, .list-unstyled {
  list-style: none;
  padding-left: 0; }

.list-inline > li {
  display: inline-block; }
  .list-inline > li:not(:last-child) {
    margin-right: 5px; }

.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  background: #1599A3;
  color: #fff;
  font-size: 21px;
  font-size: 1.3125rem;
  line-height: 28px;
  letter-spacing: 0.06em;
  padding: 0.5em 1.2em;
  border-radius: 12px;
  -webkit-transition: all .35s, color .5s;
  transition: all .35s, color .5s; }
  .btn:hover, .btn:active, .btn:focus, .btn.active {
    background: #128088;
    color: #fff; }
  .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    opacity: .65;
    background: #EFEFEF; }
  .btn.success {
    background: #7BD160; }
    .btn.success:hover, .btn.success:active, .btn.success.active {
      background: #95da80; }
  .btn.info {
    background: #007BA1; }
    .btn.info:hover, .btn.info:active, .btn.info.active {
      background: #009aca; }
  .btn.warning {
    background: #FCDE6D; }
    .btn.warning:hover, .btn.warning:active, .btn.warning.active {
      background: #fde795; }
  .btn.danger {
    background: #FF5F73; }
    .btn.danger:hover, .btn.danger:active, .btn.danger.active {
      background: #ff8897; }
  .btn.white:hover, .btn.white:active, .btn.white.active {
    background: #1abbc7; }

.text-hide, .icon-fb, .icon-line, .logo, .logo-foot {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }
.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

.clearfix:after, .wrap:after {
  content: "";
  display: table;
  clear: both; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.clear {
  clear: both; }

.rest {
  overflow: hidden; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.inline {
  display: inline; }

.img-center {
  display: block;
  margin: auto; }

.center, .wrap {
  margin-right: auto;
  margin-left: auto; }

[hidden], .hidden {
  display: none; }

.circle {
  border-radius: 50%; }

.full {
  width: 100%; }

.max-full {
  max-width: 100%; }

.m-0 {
  margin: 0; }

.mt-0 {
  margin-top: 0; }

.mr-0 {
  margin-right: 0; }

.mb-0 {
  margin-bottom: 0; }

.ml-0 {
  margin-left: 0; }

.mx-0 {
  margin-right: 0;
  margin-left: 0; }

.my-0 {
  margin-top: 0;
  margin-bottom: 0; }

.m-2 {
  margin: 0.125rem; }

.mt-2 {
  margin-top: 0.125rem; }

.mr-2 {
  margin-right: 0.125rem; }

.mb-2 {
  margin-bottom: 0.125rem; }

.ml-2 {
  margin-left: 0.125rem; }

.mx-2 {
  margin-right: 0.125rem;
  margin-left: 0.125rem; }

.my-2 {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem; }

.m-4 {
  margin: 0.25rem; }

.mt-4 {
  margin-top: 0.25rem; }

.mr-4 {
  margin-right: 0.25rem; }

.mb-4 {
  margin-bottom: 0.25rem; }

.ml-4 {
  margin-left: 0.25rem; }

.mx-4 {
  margin-right: 0.25rem;
  margin-left: 0.25rem; }

.my-4 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; }

.m-8 {
  margin: 0.5rem; }

.mt-8 {
  margin-top: 0.5rem; }

.mr-8 {
  margin-right: 0.5rem; }

.mb-8 {
  margin-bottom: 0.5rem; }

.ml-8 {
  margin-left: 0.5rem; }

.mx-8 {
  margin-right: 0.5rem;
  margin-left: 0.5rem; }

.my-8 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.m-12 {
  margin: 0.75rem; }

.mt-12 {
  margin-top: 0.75rem; }

.mr-12 {
  margin-right: 0.75rem; }

.mb-12 {
  margin-bottom: 0.75rem; }

.ml-12, .icon-line {
  margin-left: 0.75rem; }

.mx-12 {
  margin-right: 0.75rem;
  margin-left: 0.75rem; }

.my-12 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem; }

.m-16 {
  margin: 1rem; }

.mt-16 {
  margin-top: 1rem; }

.mr-16 {
  margin-right: 1rem; }

.mb-16 {
  margin-bottom: 1rem; }

.ml-16 {
  margin-left: 1rem; }

.mx-16 {
  margin-right: 1rem;
  margin-left: 1rem; }

.my-16 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.m-24 {
  margin: 1.5rem; }

.mt-24 {
  margin-top: 1.5rem; }

.mr-24 {
  margin-right: 1.5rem; }

.mb-24 {
  margin-bottom: 1.5rem; }

.ml-24 {
  margin-left: 1.5rem; }

.mx-24 {
  margin-right: 1.5rem;
  margin-left: 1.5rem; }

.my-24 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.m-32 {
  margin: 2rem; }

.mt-32 {
  margin-top: 2rem; }

.mr-32 {
  margin-right: 2rem; }

.mb-32 {
  margin-bottom: 2rem; }

.ml-32 {
  margin-left: 2rem; }

.mx-32 {
  margin-right: 2rem;
  margin-left: 2rem; }

.my-32 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.m-48 {
  margin: 3rem; }

.mt-48 {
  margin-top: 3rem; }

.mr-48 {
  margin-right: 3rem; }

.mb-48 {
  margin-bottom: 3rem; }

.ml-48 {
  margin-left: 3rem; }

.mx-48 {
  margin-right: 3rem;
  margin-left: 3rem; }

.my-48, .sub-title {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.m-64 {
  margin: 4rem; }

.mt-64 {
  margin-top: 4rem; }

.mr-64 {
  margin-right: 4rem; }

.mb-64 {
  margin-bottom: 4rem; }

.ml-64 {
  margin-left: 4rem; }

.mx-64 {
  margin-right: 4rem;
  margin-left: 4rem; }

.my-64 {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.p-0 {
  padding: 0; }

.pt-0 {
  padding-top: 0; }

.pr-0 {
  padding-right: 0; }

.pb-0 {
  padding-bottom: 0; }

.pl-0 {
  padding-left: 0; }

.px-0 {
  padding-right: 0;
  padding-left: 0; }

.py-0 {
  padding-top: 0;
  padding-bottom: 0; }

.p-2 {
  padding: 0.125rem; }

.pt-2 {
  padding-top: 0.125rem; }

.pr-2 {
  padding-right: 0.125rem; }

.pb-2 {
  padding-bottom: 0.125rem; }

.pl-2 {
  padding-left: 0.125rem; }

.px-2 {
  padding-right: 0.125rem;
  padding-left: 0.125rem; }

.py-2 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem; }

.p-4 {
  padding: 0.25rem; }

.pt-4 {
  padding-top: 0.25rem; }

.pr-4 {
  padding-right: 0.25rem; }

.pb-4 {
  padding-bottom: 0.25rem; }

.pl-4 {
  padding-left: 0.25rem; }

.px-4 {
  padding-right: 0.25rem;
  padding-left: 0.25rem; }

.py-4, .news-item .date {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }

.p-8 {
  padding: 0.5rem; }

.pt-8 {
  padding-top: 0.5rem; }

.pr-8 {
  padding-right: 0.5rem; }

.pb-8 {
  padding-bottom: 0.5rem; }

.pl-8 {
  padding-left: 0.5rem; }

.px-8 {
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.py-8 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.p-12 {
  padding: 0.75rem; }

.pt-12 {
  padding-top: 0.75rem; }

.pr-12 {
  padding-right: 0.75rem; }

.pb-12 {
  padding-bottom: 0.75rem; }

.pl-12 {
  padding-left: 0.75rem; }

.px-12, .news-item .date {
  padding-right: 0.75rem;
  padding-left: 0.75rem; }

.py-12, .goTop {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; }

.p-16 {
  padding: 1rem; }

.pt-16 {
  padding-top: 1rem; }

.pr-16 {
  padding-right: 1rem; }

.pb-16, .foot-contacts {
  padding-bottom: 1rem; }

.pl-16 {
  padding-left: 1rem; }

.px-16, .goTop {
  padding-right: 1rem;
  padding-left: 1rem; }

.py-16, .top-nav {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.p-24 {
  padding: 1.5rem; }

.pt-24 {
  padding-top: 1.5rem; }

.pr-24 {
  padding-right: 1.5rem; }

.pb-24 {
  padding-bottom: 1.5rem; }

.pl-24 {
  padding-left: 1.5rem; }

.px-24 {
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

.py-24 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.p-32 {
  padding: 2rem; }

.pt-32 {
  padding-top: 2rem; }

.pr-32 {
  padding-right: 2rem; }

.pb-32 {
  padding-bottom: 2rem; }

.pl-32, .foot-contacts {
  padding-left: 2rem; }

.px-32 {
  padding-right: 2rem;
  padding-left: 2rem; }

.py-32 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.p-48 {
  padding: 3rem; }

.pt-48 {
  padding-top: 3rem; }

.pr-48 {
  padding-right: 3rem; }

.pb-48 {
  padding-bottom: 3rem; }

.pl-48 {
  padding-left: 3rem; }

.px-48 {
  padding-right: 3rem;
  padding-left: 3rem; }

.py-48, #footer, .products {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.p-64 {
  padding: 4rem; }

.pt-64 {
  padding-top: 4rem; }

.pr-64 {
  padding-right: 4rem; }

.pb-64 {
  padding-bottom: 4rem; }

.pl-64 {
  padding-left: 4rem; }

.px-64 {
  padding-right: 4rem;
  padding-left: 4rem; }

.py-64 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.align-top {
  vertical-align: top; }

.align-middle {
  vertical-align: middle; }

.align-bottom {
  vertical-align: bottom; }

.text-left, #footer {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-nowrap {
  white-space: nowrap; }

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.font-sp {
  font-family: "Montserrat"; }

.text-white, .btn.white:hover, .btn.white:active, .btn.white.active, .top-nav .mail, .goTop, .goTop:hover, .goTop:active, #footer, #footer a, .news-item .date {
  color: #fff; }

.text-black {
  color: #000; }

.bg-white, .btn.white, .scrolling #menu, .card {
  background-color: #fff; }

.bg-black {
  background-color: #000; }

.text-primary, .btn.white, .safe-list, .sub-title {
  color: #1599A3; }

.bg-primary, .news-item .date {
  background-color: #1599A3; }

.hover-primary {
  color: #1599A3; }
  .hover-primary:hover, .hover-primary:active {
    color: #11828a; }

.text-secondary, .nav-link {
  color: #005081; }

.bg-secondary, .top-nav {
  background-color: #005081; }

.hover-secondary {
  color: #005081; }
  .hover-secondary:hover, .hover-secondary:active {
    color: #00446d; }

.text-muted {
  color: #EFEFEF; }

.bg-muted {
  background-color: #EFEFEF; }

.hover-muted {
  color: #EFEFEF; }
  .hover-muted:hover, .hover-muted:active {
    color: #cbcbcb; }

.text-success {
  color: #7BD160; }

.bg-success {
  background-color: #7BD160; }

.hover-success {
  color: #7BD160; }
  .hover-success:hover, .hover-success:active {
    color: #68b151; }

.text-info {
  color: #007BA1; }

.bg-info {
  background-color: #007BA1; }

.hover-info {
  color: #007BA1; }
  .hover-info:hover, .hover-info:active {
    color: #006888; }

.text-warning {
  color: #FCDE6D; }

.bg-warning, ::selection, .banner-1 {
  background-color: #FCDE6D; }

.hover-warning {
  color: #FCDE6D; }
  .hover-warning:hover, .hover-warning:active {
    color: #d6bc5c; }

.text-danger, .help {
  color: #FF5F73; }

.bg-danger {
  background-color: #FF5F73; }

.hover-danger {
  color: #FF5F73; }
  .hover-danger:hover, .hover-danger:active {
    color: #d85061; }

.text-words {
  color: #757575; }

.bg-words {
  background-color: #757575; }

.hover-words {
  color: #757575; }
  .hover-words:hover, .hover-words:active {
    color: #636363; }

[class*="text-"].disabled, [class*="text-"][disabled],
[class*="hover-"].disabled,
[class*="hover-"][disabled] {
  cursor: not-allowed;
  color: #EFEFEF; }

#menu {
  padding: 34px 0; }
  .scrolling #menu {
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    border-bottom: 1px solid #EFEFEF;
    z-index: 999;
    position: fixed;
    top: 0;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    -webkit-animation: scrolling 0.8s alternate both;
    animation: scrolling 0.8s alternate both; }
@-webkit-keyframes scrolling {
  from {
    opacity: 0.5;
    top: -100%; }
  to {
    opacity: 1;
    top: 0; } }
@keyframes scrolling {
  from {
    opacity: 0.5;
    top: -100%; }
  to {
    opacity: 1;
    top: 0; } }
.nav-bar {
  padding-top: 5rem;
  transition: .3s;
  visibility: hidden;
  opacity: 0; }
  @media (min-width: 64em) {
    .nav-bar {
      padding: unset;
      visibility: visible;
      opacity: 1; } }

.menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  background: #fff; }
  @media (min-width: 64em) {
    .menu {
      position: relative;
      height: 60px;
      left: unset;
      top: unset;
      bottom: unset;
      right: unset; } }

.menu-close {
  position: relative;
  height: 90px; }
  .scrolling .menu-close {
    height: 80px; }
    @media (min-width: 64em) {
      .scrolling .menu-close {
        height: 60px; } }

.nav-open {
  opacity: 1;
  visibility: visible; }

.nav-link {
  text-shadow: 0 0 0 #005081;
  display: block;
  padding: 5px 0;
  width: 80px;
  margin: 15px auto;
  transition: 0.5s ease; }
  .nav-link:hover, .nav-link:active, .nav-link.active {
    color: #1599A3; }
  @media (min-width: 64em) {
    .nav-link {
      display: inline;
      padding: unset; }
      .nav-link:not(:last-child) {
        margin-right: 1.5rem; } }

.top-nav {
  display: none; }
  @media (min-width: 64em) {
    .top-nav {
      display: block; } }
  .top-nav .mail {
    margin-top: 18px; }
  .top-nav .icon-fb, .top-nav .icon-line {
    display: block;
    float: left; }

.icon-fb, .icon-line {
  background: url(../images/icon-social.gif) 0 0 no-repeat;
  width: 38px;
  height: 38px; }

.icon-line {
  background-position: right 0; }

.menu-btn {
  transition: .3s;
  opacity: 1;
  visibility: visible;
  background: url("../images/mbtn.png") 0 0 no-repeat;
  height: 52px;
  width: 60px;
  position: absolute;
  left: 25px;
  top: 20px; }
  @media (min-width: 64em) {
    .menu-btn {
      opacity: 0;
      visibility: hidden; } }
  .scrolling .menu-btn {
    top: 15px; }
  .menu-btn:focus {
    box-shadow: none; }

.close-btn {
  background: url("../images/x.gif") 0 0 no-repeat; }

figure .full-link:empty {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

figure {
  position: relative;
  margin: 0; }
  figure .full-link:empty {
    z-index: 9;
    opacity: 0;
    background: #fff; }

.font-tiny {
  font-size: 12px;
  font-size: 0.75rem; }

.font-sm {
  font-size: 13px;
  font-size: 0.8125rem; }

.font-md, .news-item .date {
  font-size: 15px;
  font-size: 0.9375rem; }

.font-lg, .nav-link, .help, .goTop, .card figcaption, #footer {
  font-size: 18px;
  font-size: 1.125rem; }

.font-xl, .banner-1 .lead, .safe-list {
  font-size: 21px;
  font-size: 1.3125rem; }

.font-xxl {
  font-size: 36px;
  font-size: 2.25rem; }

.font-xxxl, .title {
  font-size: 48px;
  font-size: 3rem; }

.font-jumbo {
  font-size: 64px;
  font-size: 4rem; }

.font-normal {
  font-style: normal; }

.help {
  cursor: help; }

.btn:hover, .btn:active, .btn:focus {
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.3); }

.goTop {
  z-index: 99;
  opacity: 0;
  border-radius: 12px border-radius 0 0;
  background: rgba(15, 111, 118, 0.5);
  position: fixed;
  right: 1.6%;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s; }
  .goTop:hover, .goTop:active {
    background: #005081; }

.fade-in {
  -webkit-animation: fadeIn 1s 1 forwards;
  animation: fadeIn 1s 1 forwards; }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
.fade-out {
  -webkit-animation: fadeOut 1s 1 forwards;
  animation: fadeOut 1s 1 forwards; }
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); } }
@keyframes fadeOut {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); } }
.title {
  font-weight: bolder;
  line-height: 1.3; }

.bg-primary-light {
  background: #43adb5; }

.hover-underline, .nav-link, .top-nav .mail {
  position: relative; }
  .hover-underline:after, .nav-link:after, .top-nav .mail:after {
    border-bottom: 1px solid;
    width: 0;
    -webkit-transition: 0.35s;
    transition: 0.35s;
    position: absolute;
    bottom: -2px;
    left: 50%; }
    .hover-underline:after, .nav-link:after, .top-nav .mail:after {
      content: '';
      display: block; }
  .hover-underline:hover:after, .nav-link:hover:after, .top-nav .mail:hover:after, .hover-underline:active:after, .nav-link:active:after, .top-nav .mail:active:after {
    width: 100%;
    left: 0; }

.card {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  border: 1px solid #EFEFEF;
  padding: 20px; }
  .card img {
    max-width: 100%; }
  .card figcaption {
    padding-bottom: 72px;
    position: relative; }
  .card .more {
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0;
    z-index: 10; }

/*      layout
-----------------------------------------------------------------------*/
html, body {
  height: 100%; }

.wrap {
  max-width: 1240px; }
  @media (max-width: 77.4375em) {
    .wrap {
      padding-left: 16px;
      padding-left: 1rem;
      padding-right: 16px;
      padding-right: 1rem; } }

#wrapper {
  min-height: 100%;
  padding-bottom: 338px; }
  .scrolling #wrapper {
    padding-top: 54px; }

#header {
  z-index: 3; }
  @media (min-width: 64em) {
    #header section:first-child {
      float: left; }
    #header section:last-child {
      float: right; } }

.logo {
  cursor: pointer;
  background: url(../images/logo.gif) 0 0 no-repeat;
  width: 217px;
  height: 69px;
  position: absolute;
  left: 50%;
  width: 217px;
  margin-left: -108.5px;
  top: 10px; }
  @media (max-width: 64em) {
    .logo {
      background-image: url(../images/logo-s.gif);
      top: 20px;
      margin-left: -20px;
      width: 60px; } }
  .scrolling .logo {
    top: 18px;
    background-image: url(../images/logo-s.gif);
    width: 48px;
    height: 48px;
    margin-left: -24px; }
    @media (min-width: 64em) {
      .scrolling .logo {
        top: 6px; } }

#footer {
  background: #43adb5;
  color: #fff;
  min-height: 266px;
  margin-top: -266px;
  position: relative;
  z-index: 2;
  line-height: 1.7;
  letter-spacing: .05em; }
  #footer dt {
    font-weight: 500; }

.logo-foot {
  background: url(../images/logo-foot.gif) 0 0 no-repeat;
  height: 56px; }
  @media (max-width: 75em) {
    .logo-foot {
      margin-left: 2.2rem; } }

.foot-about {
  margin-top: 42px; }
  @media (max-width: 75em) {
    .foot-about {
      margin-right: 2.2rem;
      margin-left: 2.2rem;
      padding-bottom: 30px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.35); } }
.foot-contacts {
  padding-top: 42px;
  border-left: 1px solid rgba(255, 255, 255, 0.35); }
  @media (max-width: 75em) {
    .foot-contacts {
      border: none; } }

.map {
  border: 1px solid #fff; }
  .map iframe {
    width: 100%;
    vertical-align: middle; }

#banner, #banner .swiper-slide {
  height: 535px; }

.banner-1 {
  color: #595757; }
  .banner-1 .inner {
    margin-top: 42px;
    max-width: 763px;
    padding: 0 6%; }
    .banner-1 .inner img {
      float: unset;
      max-height: 250px;
      padding: 2% 7% 0; }
      @media (min-width: 37.5em) {
        .banner-1 .inner img {
          float: right;
          max-height: unset; } }
  .banner-1 h2 {
    margin-top: 20px; }
    @media (min-width: 37.5em) {
      .banner-1 h2 {
        margin-top: 120px;
        margin-bottom: 38px; } }
  .banner-1 .lead {
    font-weight: bolder; }
    @media (max-width: 37.5em) {
      .banner-1 .lead {
        font-size: 18px; } }

.intro {
  position: relative;
  top: 62px;
  z-index: 2; }
  @media (min-width: 48em) {
    .intro {
      top: -62px; } }
  .intro .card {
    width: 80%;
    display: inline-block; }
    .intro .card:last-child {
      margin-top: 40px; }
      @media (min-width: 48em) {
        .intro .card:last-child {
          margin-left: 3rem;
          margin-top: 0; } }
    @media (min-width: 23.4375em) {
      .intro .card {
        width: 60%; } }
    @media (min-width: 48em) {
      .intro .card {
        width: 33.33%; } }
    @media (min-width: 64em) {
      .intro .card {
        width: 25%; } }
    @media (min-width: 87.5em) {
      .intro .card {
        width: 16.66%; } }

.about {
  padding: 120px 40px; }
  @media (min-width: 48em) {
    .about {
      padding: 120px 0; } }
  @media (max-width: 64em) {
    .about p {
      margin-top: 25px; } }
  .about aside .btn {
    margin-top: 120px;
    display: none; }
    @media (min-width: 48em) {
      .about aside .btn {
        display: inline-block; } }
  .about .btn-s {
    margin-top: 40px;
    display: inline-block; }
    @media (min-width: 48em) {
      .about .btn-s {
        display: none; } }
  .about img {
    width: 80%; }
    @media (min-width: 48em) {
      .about img {
        width: 70%; } }
    @media (min-width: 64em) {
      .about img {
        width: 50%; } }

.products {
  background: #43adb5 url(../images/index/product-bg.png) 0 -10% no-repeat; }
  @media (max-width: 48em) {
    .products {
      background: unset; }
      .products h2 {
        color: #005081; } }
  .products .card {
    width: 90%;
    margin-left: 5%;
    padding: 20px 30px;
    line-height: 1.5; }
    @media (min-width: 48em) {
      .products .card {
        float: left;
        width: 40%;
        margin-left: 10%; } }
    @media (min-width: 64em) {
      .products .card {
        width: 28.17%;
        margin-left: unset; } }
    .products .card:last-child {
      margin-top: 60px; }
      @media (min-width: 48em) {
        .products .card:last-child {
          margin-left: 2%;
          margin-top: unset; } }
    .products .card img {
      min-height: 180px;
      max-height: 180px; }

.safe-list li {
  background: url(../images/index/safe.gif) 0 0 no-repeat;
  font-weight: bolder;
  display: inline-block;
  padding-top: 148px;
  min-width: 124px;
  margin: 0 3.2%; }
  .safe-list li:nth-child(2) {
    background-position: -204px 0; }
  .safe-list li:nth-child(3) {
    background-position: -408px 0; }
  .safe-list li:nth-child(4) {
    background-position: -612px 0; }
  .safe-list li:last-child {
    background-position: right 0; }

@media (min-width: 48em) {
  .news-list {
    background: #43adb5; } }
.news-list h2 {
  color: #005081; }
  @media (min-width: 48em) {
    .news-list h2 {
      color: #ffffff; } }
.news-item {
  display: inline-block;
  margin-left: -4px;
  width: 90%;
  margin-top: 40px; }
  @media (min-width: 48em) {
    .news-item {
      margin-top: unset;
      vertical-align: top;
      width: 28.33333%;
      height: 500px; } }
  @media (min-width: 64em) {
    .news-item {
      height: 480px; } }
  @media (min-width: 48em) {
    .news-item:not(:last-of-type) {
      margin-right: 3%; } }
  .news-item .date {
    border-radius: 6px; }
  @media (min-width: 48em) {
    .news-item .imgbox {
      height: 170px;
      line-height: 170px; } }
  @media (min-width: 48em) {
    .news-item img {
      max-height: 170px; } }
  .news-item figcaption {
    margin-top: -8px; }
  .news-item h5 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  @media (min-width: 48em) {
    .news-item p {
      height: 150px; } }
  @media (min-width: 64em) {
    .news-item p {
      height: 105px; } }

.sub-title {
  max-width: 800px;
  line-height: 1.4;
  padding: 0 9%; }
  @media (min-width: 48em) {
    .sub-title {
      padding: 0; } }

.img-list {
  padding-left: 0; }
  .img-list li {
    display: inline-block;
    background: url(../images/index/service.jpg) 0 0 no-repeat;
    font-weight: bolder;
    padding-top: 147px;
    min-width: 123px;
    margin: 0 3.2%; }
    .img-list li:nth-child(2) {
      background-position: -144px 0; }
    .img-list li:nth-child(3) {
      background-position: -288px 0; }
    .img-list li:nth-child(4) {
      background-position: -432px 0; }
    .img-list li:last-child {
      background-position: right 0; }

.service-list {
  padding: 0 15%; }
  @media (min-width: 48em) {
    .service-list {
      padding: 0; } }
  .service-list h4 {
    text-align: center; }
    @media (min-width: 48em) {
      .service-list h4 {
        text-align: left; } }

@media (min-width: 48em) {
  .list-half li {
    float: left;
    width: 46%; } }
@media (min-width: 48em) {
  .list-half li:nth-child(even) {
    margin-left: 4%; } }
