@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block; }

progress {
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active, a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

figure {
  margin: 1em 40px; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

button, input, select, textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: bold; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

/*      base
-----------------------------------------------------------------------*/
@-moz-viewport , @-ms-viewport, @-o-viewport, @-webkit-viewport, @viewport {
  width: device-width; }
:root {
  font-size: 16px; }

[tabindex="-1"]:focus {
  outline: none !important; }

html, body {
  text-align: center;
  height: 100%; }

body {
  background: #f7f7f5;
  color: #333;
  font-family: "Roboto", \5FAE\8EDF\6B63\9ED1\9AD4, "微軟正黑體", "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: .01em; }

img {
  vertical-align: middle; }

a, area, button, [role="button"], input, label, select, summary, textarea {
  touch-action: manipulation; }

button, [role="button"], [type="button"] {
  background: none;
  cursor: pointer;
  border: none; }
  button:focus, [role="button"]:focus, [type="button"]:focus {
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 2px rgba(123, 209, 96, 0.35); }

a {
  color: #00a270;
  text-decoration: none;
  -webkit-transition: color 0.35s, background 0.3s;
  transition: color 0.35s, background 0.3s; }
  a:hover, a:active {
    color: #175361;
    outline-width: 0; }

h1 {
  margin-top: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
  font-weight: 500;
  line-height: 1.1; }

h1 {
  font-size: 48px;
  font-size: 3rem; }

h2 {
  font-size: 32px;
  font-size: 2rem; }

h3 {
  font-size: 27px;
  font-size: 1.6875rem; }

h4 {
  font-size: 24px;
  font-size: 1.5rem; }

h5 {
  font-size: 18px;
  font-size: 1.125rem; }

h6 {
  font-size: 17px;
  font-size: 1.0625rem; }

b, strong, .b, .strong {
  font-weight: bold; }

mark {
  background-color: #fffFD7;
  padding: .2em; }

hr {
  margin: 2rem 0;
  border: 0;
  border-top: 1px solid #E6E7DF; }

p {
  margin: 0; }
  p + p {
    margin-top: 0.5em; }

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #E6E7DF; }

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 1.2em; }
  ol ol, ol ul, ol dl, ul ol, ul ul, ul dl, dl ol, dl ul, dl dl {
    font-size: 90%;
    margin-bottom: 0; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

.list-inline, .breadcrumb, .list-unstyled {
  list-style: none;
  padding-left: 0; }

.list-inline > li, .breadcrumb > li {
  display: inline-block; }
  .list-inline > li:not(:last-child), .breadcrumb > li:not(:last-child) {
    margin-right: 5px; }

.form-element {
  display: block;
  width: 100%;
  padding: 0 0.3em;
  line-height: 28px;
  min-height: 28px;
  color: #343a40;
  background-color: #fff;
  font-size: 0.875rem;
  border: 1px solid #E6E7DF;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  .form-element:disabled, [disabled].form-element, [readonly].form-element {
    background-color: #edeee8;
    opacity: 1; }
  .form-element:disabled, [disabled].form-element {
    cursor: not-allowed; }
  .form-element:focus {
    outline: none;
    border-color: #7BD160;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 2px rgba(123, 209, 96, 0.35); }
  .form-inline .form-element, .inline.form-element {
    display: inline;
    width: auto; }
    .form-inline .form-element:not(:last-child), .inline.form-element:not(:last-child) {
      margin-right: 0.3rem; }
  .form-element::-ms-expand {
    background-color: transparent;
    border: 0; }
  .form-element::placeholder {
    color: #adb5bd;
    opacity: 1; }

select {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 14" width="32" height="14"><path fill="%23adb5bd" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>');
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 2rem !important; }
  select:focus {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 14" width="32" height="14"><path fill="false" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>'); }

input[type='number'] {
  padding-right: 0; }

input[type='checkbox'],
input[type='radio'] {
  display: inline; }

.form-label {
  display: inline-block;
  font-weight: normal;
  line-height: 18px;
  padding-top: 5px;
  padding-bottom: 5px; }

legend {
  width: 100%; }

legend,
.form-label.block {
  margin-bottom: 0.5rem; }

fieldset {
  border-width: 0;
  padding: 0;
  min-width: 0;
  margin: 0; }

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell; }

textarea {
  resize: vertical;
  min-height: 6.5rem; }

output {
  display: inline-block; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type='date'],
  input[type='time'],
  input[type='datetime-local'],
  input[type='month'] {
    line-height: 28px;
    height: 30px; } }
.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  background: #00BB82;
  color: #fff;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 28px;
  letter-spacing: 0.06em;
  padding: 0.3em 0.9em;
  border-radius: 0.25rem;
  -webkit-transition: all .35s, color .5s;
  transition: all .35s, color .5s; }
  .btn:hover, .btn:active, .btn:focus, .btn.active {
    background: #009c6d;
    color: #fff; }
  .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    opacity: .65;
    background: #E6E7DF; }
  .btn.success {
    background: #7BD160; }
    .btn.success:hover, .btn.success:active, .btn.success.active {
      background: #95da80; }
  .btn.info {
    background: #007BA1; }
    .btn.info:hover, .btn.info:active, .btn.info.active {
      background: #009aca; }
  .btn.warning {
    background: #c5bc25; }
    .btn.warning:hover, .btn.warning:active, .btn.warning.active {
      background: #dad138; }
  .btn.danger {
    background: #FF5F73; }
    .btn.danger:hover, .btn.danger:active, .btn.danger.active {
      background: #ff8897; }
  .btn.cancel {
    background: #808080; }
    .btn.cancel:hover, .btn.cancel:active, .btn.cancel.active {
      background: #949494; }
  .btn.white:hover, .btn.white:active, .btn.white.active {
    background: #00e49e; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }
.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

.clearfix:after, .wrap:after {
  content: "";
  display: table;
  clear: both; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.clear {
  clear: both; }

.rest {
  overflow: hidden; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.inline {
  display: inline; }

.img-center {
  display: block;
  margin: auto; }

.center, form, form .title, form main {
  margin-right: auto;
  margin-left: auto; }

[hidden], .hidden {
  display: none; }

.circle {
  border-radius: 50%; }

.full {
  width: 100%; }

.max-full {
  max-width: 100%; }

.m-0 {
  margin: 0; }

.mt-0 {
  margin-top: 0; }

.mr-0 {
  margin-right: 0; }

.mb-0, .site-title, .breadcrumb {
  margin-bottom: 0; }

.ml-0 {
  margin-left: 0; }

.mx-0 {
  margin-right: 0;
  margin-left: 0; }

.my-0, .dropdown hr {
  margin-top: 0;
  margin-bottom: 0; }

.m-2 {
  margin: 0.125rem; }

.mt-2 {
  margin-top: 0.125rem; }

.mr-2 {
  margin-right: 0.125rem; }

.mb-2 {
  margin-bottom: 0.125rem; }

.ml-2 {
  margin-left: 0.125rem; }

.mx-2 {
  margin-right: 0.125rem;
  margin-left: 0.125rem; }

.my-2 {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem; }

.m-4 {
  margin: 0.25rem; }

.mt-4 {
  margin-top: 0.25rem; }

.mr-4 {
  margin-right: 0.25rem; }

.mb-4, label {
  margin-bottom: 0.25rem; }

.ml-4 {
  margin-left: 0.25rem; }

.mx-4 {
  margin-right: 0.25rem;
  margin-left: 0.25rem; }

.my-4 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; }

.m-8 {
  margin: 0.5rem; }

.mt-8, .sub-copyright {
  margin-top: 0.5rem; }

.mr-8 {
  margin-right: 0.5rem; }

.mb-8 {
  margin-bottom: 0.5rem; }

.ml-8, .title small, .dropdown .arrow {
  margin-left: 0.5rem; }

.mx-8, #footer {
  margin-right: 0.5rem;
  margin-left: 0.5rem; }

.my-8 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.m-12 {
  margin: 0.75rem; }

.mt-12 {
  margin-top: 0.75rem; }

.mr-12 {
  margin-right: 0.75rem; }

.mb-12, .title h2 {
  margin-bottom: 0.75rem; }

.ml-12 {
  margin-left: 0.75rem; }

.mx-12 {
  margin-right: 0.75rem;
  margin-left: 0.75rem; }

.my-12 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem; }

.m-16 {
  margin: 1rem; }

.mt-16 {
  margin-top: 1rem; }

.mr-16 {
  margin-right: 1rem; }

.mb-16 {
  margin-bottom: 1rem; }

.ml-16 {
  margin-left: 1rem; }

.mx-16 {
  margin-right: 1rem;
  margin-left: 1rem; }

.my-16 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.m-24 {
  margin: 1.5rem; }

.mt-24 {
  margin-top: 1.5rem; }

.mr-24 {
  margin-right: 1.5rem; }

.mb-24, .title {
  margin-bottom: 1.5rem; }

.ml-24 {
  margin-left: 1.5rem; }

.mx-24 {
  margin-right: 1.5rem;
  margin-left: 1.5rem; }

.my-24 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.m-32 {
  margin: 2rem; }

.mt-32, .action-bar {
  margin-top: 2rem; }

.mr-32 {
  margin-right: 2rem; }

.mb-32 {
  margin-bottom: 2rem; }

.ml-32 {
  margin-left: 2rem; }

.mx-32 {
  margin-right: 2rem;
  margin-left: 2rem; }

.my-32 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.m-48 {
  margin: 3rem; }

.mt-48 {
  margin-top: 3rem; }

.mr-48 {
  margin-right: 3rem; }

.mb-48 {
  margin-bottom: 3rem; }

.ml-48 {
  margin-left: 3rem; }

.mx-48 {
  margin-right: 3rem;
  margin-left: 3rem; }

.my-48 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.m-64 {
  margin: 4rem; }

.mt-64 {
  margin-top: 4rem; }

.mr-64 {
  margin-right: 4rem; }

.mb-64 {
  margin-bottom: 4rem; }

.ml-64 {
  margin-left: 4rem; }

.mx-64 {
  margin-right: 4rem;
  margin-left: 4rem; }

.my-64 {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.p-0 {
  padding: 0; }

.pt-0 {
  padding-top: 0; }

.pr-0 {
  padding-right: 0; }

.pb-0 {
  padding-bottom: 0; }

.pl-0 {
  padding-left: 0; }

.px-0 {
  padding-right: 0;
  padding-left: 0; }

.py-0, .btn.sm {
  padding-top: 0;
  padding-bottom: 0; }

.p-2 {
  padding: 0.125rem; }

.pt-2 {
  padding-top: 0.125rem; }

.pr-2 {
  padding-right: 0.125rem; }

.pb-2 {
  padding-bottom: 0.125rem; }

.pl-2 {
  padding-left: 0.125rem; }

.px-2 {
  padding-right: 0.125rem;
  padding-left: 0.125rem; }

.py-2 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem; }

.p-4 {
  padding: 0.25rem; }

.pt-4 {
  padding-top: 0.25rem; }

.pr-4 {
  padding-right: 0.25rem; }

.pb-4 {
  padding-bottom: 0.25rem; }

.pl-4 {
  padding-left: 0.25rem; }

.px-4 {
  padding-right: 0.25rem;
  padding-left: 0.25rem; }

.py-4, .dropdown-content.search-box a {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }

.p-8 {
  padding: 0.5rem; }

.pt-8, #footer {
  padding-top: 0.5rem; }

.pr-8 {
  padding-right: 0.5rem; }

.pb-8 {
  padding-bottom: 0.5rem; }

.pl-8, .dropdown-content.search-box a {
  padding-left: 0.5rem; }

.px-8 {
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.py-8 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.p-12 {
  padding: 0.75rem; }

.pt-12, form, .action-bar {
  padding-top: 0.75rem; }

.pr-12 {
  padding-right: 0.75rem; }

.pb-12, .title {
  padding-bottom: 0.75rem; }

.pl-12 {
  padding-left: 0.75rem; }

.px-12 {
  padding-right: 0.75rem;
  padding-left: 0.75rem; }

.py-12 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; }

.p-16 {
  padding: 1rem; }

.pt-16 {
  padding-top: 1rem; }

.pr-16 {
  padding-right: 1rem; }

.pb-16, .action-bar {
  padding-bottom: 1rem; }

.pl-16 {
  padding-left: 1rem; }

.px-16 {
  padding-right: 1rem;
  padding-left: 1rem; }

.py-16 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.p-24 {
  padding: 1.5rem; }

.pt-24 {
  padding-top: 1.5rem; }

.pr-24 {
  padding-right: 1.5rem; }

.pb-24 {
  padding-bottom: 1.5rem; }

.pl-24 {
  padding-left: 1.5rem; }

.px-24 {
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

.py-24 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.p-32 {
  padding: 2rem; }

.pt-32 {
  padding-top: 2rem; }

.pr-32 {
  padding-right: 2rem; }

.pb-32 {
  padding-bottom: 2rem; }

.pl-32 {
  padding-left: 2rem; }

.px-32 {
  padding-right: 2rem;
  padding-left: 2rem; }

.py-32 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.p-48 {
  padding: 3rem; }

.pt-48 {
  padding-top: 3rem; }

.pr-48 {
  padding-right: 3rem; }

.pb-48 {
  padding-bottom: 3rem; }

.pl-48 {
  padding-left: 3rem; }

.px-48 {
  padding-right: 3rem;
  padding-left: 3rem; }

.py-48 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.p-64 {
  padding: 4rem; }

.pt-64 {
  padding-top: 4rem; }

.pr-64 {
  padding-right: 4rem; }

.pb-64 {
  padding-bottom: 4rem; }

.pl-64 {
  padding-left: 4rem; }

.px-64 {
  padding-right: 4rem;
  padding-left: 4rem; }

.py-64 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.align-top {
  vertical-align: top; }

.align-middle {
  vertical-align: middle; }

.align-bottom {
  vertical-align: bottom; }

.text-left, .dropdown-content {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-nowrap {
  white-space: nowrap; }

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.font-sp, .sub-copyright {
  font-family: "Roboto"; }

.text-white, .btn.white:hover, .btn.white:active, .btn.white.active, .btn.outline:hover, .btn.outline:active {
  color: #fff; }

.text-black {
  color: #000; }

.bg-white, .btn.white, .btn.outline, .dropdown-content {
  background-color: #fff; }

.bg-black {
  background-color: #000; }

.text-primary, .btn.white, .sub-copyright {
  color: #00BB82; }

.bg-primary, .action-bar {
  background-color: #00BB82; }

.hover-primary {
  color: #00BB82; }
  .hover-primary:hover, .hover-primary:active {
    color: #009f6f; }

.text-secondary, .btn.outline, .dropdown a {
  color: #175361; }

.bg-secondary {
  background-color: #175361; }

.hover-secondary {
  color: #175361; }
  .hover-secondary:hover, .hover-secondary:active {
    color: #144752; }

.text-success {
  color: #7BD160; }

.bg-success, .btn.outline:hover, .btn.outline:active {
  background-color: #7BD160; }

.hover-success {
  color: #7BD160; }
  .hover-success:hover, .hover-success:active {
    color: #69b252; }

.text-info {
  color: #007BA1; }

.bg-info {
  background-color: #007BA1; }

.hover-info {
  color: #007BA1; }
  .hover-info:hover, .hover-info:active {
    color: #006989; }

.text-warning {
  color: #C7EC99; }

.bg-warning, ::selection {
  background-color: #C7EC99; }

.hover-warning {
  color: #C7EC99; }
  .hover-warning:hover, .hover-warning:active {
    color: #a9c982; }

.text-danger, .site-title, .help {
  color: #FF5F73; }

.bg-danger {
  background-color: #FF5F73; }

.hover-danger {
  color: #FF5F73; }
  .hover-danger:hover, .hover-danger:active {
    color: #d95162; }

.text-light {
  color: #f8f9fa; }

.bg-light {
  background-color: #f8f9fa; }

.hover-light {
  color: #f8f9fa; }
  .hover-light:hover, .hover-light:active {
    color: #d3d4d5; }

.text-dark, label {
  color: #343a40; }

.bg-dark {
  background-color: #343a40; }

.hover-dark {
  color: #343a40; }
  .hover-dark:hover, .hover-dark:active {
    color: #2c3136; }

.text-muted {
  color: #E6E7DF; }

.bg-muted {
  background-color: #E6E7DF; }

.hover-muted {
  color: #E6E7DF; }
  .hover-muted:hover, .hover-muted:active {
    color: #c4c4be; }

[class*="text-"].disabled, [class*="text-"][disabled],
[class*="hover-"].disabled,
[class*="hover-"][disabled] {
  cursor: not-allowed;
  color: #E6E7DF; }

/*      layout
-----------------------------------------------------------------------*/
@media (max-width: 87.4375em) {
  .wrap {
    padding-left: 16px;
    padding-left: 1rem;
    padding-right: 16px;
    padding-right: 1rem; } }

.wrapper {
  min-height: 100%;
  padding-bottom: 100px; }

.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 999; }
  .loading .loader, .loading p {
    position: absolute; }
  .loading .loader {
    width: 40px;
    height: 40px;
    border-width: 3px;
    border-color: #00BB82 #00BB82 #00BB82 #22ffbc;
    left: 50%;
    top: 40%;
    margin-left: -20px;
    margin-top: -20px; }
  .loading p {
    padding: 0.8rem 0 0 0.5rem;
    font-size: 1.25em;
    font-weight: bold;
    left: 50%;
    top: calc(40% + 20px);
    transform: translateX(-50%); }

.btn.outline {
  border: 1px solid #00BB82; }
  .btn.outline:hover, .btn.outline:active {
    border-color: #fff; }

.font-tiny {
  font-size: 12px;
  font-size: 0.75rem; }

.font-sm, .btn.sm, .breadcrumb {
  font-size: 13px;
  font-size: 0.8125rem; }

.font-md, label {
  font-size: 15px;
  font-size: 0.9375rem; }

.font-lg, .btn.lg, .help {
  font-size: 19px;
  font-size: 1.1875rem; }

.font-xl {
  font-size: 24px;
  font-size: 1.5rem; }

.font-xxl, .site-title {
  font-size: 32px;
  font-size: 2rem; }

.font-xxxl {
  font-size: 48px;
  font-size: 3rem; }

.font-jumbo {
  font-size: 64px;
  font-size: 4rem; }

.underline, .title {
  border-bottom: 1px solid #E6E7DF; }

.title {
  color: #00885f; }
  .title h2 {
    font-size: 28px;
    font-size: 1.75rem; }
  .title small {
    color: #c4c6b3; }

.help {
  cursor: help; }

.breadcrumb {
  color: #6A8891; }
  .breadcrumb li:not(:last-child):after {
    content: "/"; }

.arrow {
  display: inline-block;
  border: solid #175361;
  border-width: 0 2px 2px 0;
  padding: 4px;
  -webkit-transition: 0.35s ease;
  transition: 0.35s ease; }
  .arrow.right {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .arrow.left {
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg); }
  .arrow.up {
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg); }
  .arrow.down {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }

.dropdown {
  position: relative; }
  .dropdown-toggle:focus {
    box-shadow: none; }
  .dropdown-content {
    position: absolute;
    top: 110%;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
    z-index: 1; }
    .dropdown-content.search-box {
      min-width: 300px;
      padding: 8px 8px 0; }
      .dropdown-content.search-box .select {
        overflow-y: auto;
        max-height: 280px;
        margin-left: -8px;
        margin-right: -8px; }
  .dropdown .arrow {
    border-color: inherit;
    position: relative;
    top: -3px; }
  .dropdown a {
    display: block; }
    .dropdown a:hover, .dropdown a:active, .dropdown a:focus, .dropdown a.active {
      background: #dff4c4; }

#footer {
  min-height: 70px;
  margin-top: -70px;
  z-index: 2;
  margin-right: 5px;
  font-size: 0.8125em;
  letter-spacing: 1px;
  border-top: 1px solid #e9ecef; }

form {
  border: 1px solid #E6E7DF;
  box-shadow: 0 0 10px #E6E7DF;
  background: #f8f9fa;
  max-width: 450px;
  margin-top: 40px; }
  form .title, form main {
    width: 93%; }

.action-bar {
  border-top: 1px solid #00a270; }
