@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block; }

progress {
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active, a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

figure {
  margin: 1em 40px; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

button, input, select, textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: bold; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: ""; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  pre {
    white-space: pre-wrap !important; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; }

  header {
    text-align: left !important; } }
/*      base
-----------------------------------------------------------------------*/
@-moz-viewport , @-ms-viewport, @-o-viewport, @-webkit-viewport, @viewport {
  width: device-width; }
:root {
  font-size: 16px; }

[tabindex="-1"]:focus {
  outline: none !important; }

html, body {
  text-align: center;
  height: 100%; }

body {
  background: #fff;
  color: #231815;
  font-family: "Montserrat", \5FAE\8EDF\6B63\9ED1\9AD4, "微軟正黑體", "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: .01em; }

img {
  vertical-align: middle; }

a, area, button, [role="button"], input, label, select, summary, textarea {
  touch-action: manipulation; }

button, [role="button"], [type="button"] {
  background: none;
  cursor: pointer;
  border: none; }
  button:focus, [role="button"]:focus, [type="button"]:focus {
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 2px rgba(252, 222, 109, 0.35); }

a {
  color: #1599A3;
  text-decoration: none;
  -webkit-transition: color 0.35s, background 0.3s;
  transition: color 0.35s, background 0.3s; }
  a:hover, a:active {
    color: #005081;
    outline-width: 0; }

h1 {
  margin-top: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
  font-weight: bolder;
  line-height: 1.1; }

h1 {
  font-size: 48px;
  font-size: 3rem; }

h2 {
  font-size: 32px;
  font-size: 2rem; }

h3 {
  font-size: 27px;
  font-size: 1.6875rem; }

h4 {
  font-size: 24px;
  font-size: 1.5rem; }

h5 {
  font-size: 18px;
  font-size: 1.125rem; }

h6 {
  font-size: 17px;
  font-size: 1.0625rem; }

b, strong, .b, .strong {
  font-weight: bolder; }

mark {
  background-color: #fffFD7;
  padding: .2em; }

hr {
  margin: 2rem 0;
  border: 0;
  border-top: 1px solid #EFEFEF; }

p {
  margin: 0; }
  p + p {
    margin-top: 0.5em; }

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #EFEFEF; }

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 1.2em; }
  ol ol, ol ul, ol dl, ul ol, ul ul, ul dl, dl ol, dl ul, dl dl {
    font-size: 90%;
    margin-bottom: 0; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

.list-inline, .list-unstyled {
  list-style: none;
  padding-left: 0; }

.list-inline > li {
  display: inline-block; }
  .list-inline > li:not(:last-child) {
    margin-right: 5px; }

.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  background: #1599A3;
  color: #fff;
  font-size: 21px;
  font-size: 1.3125rem;
  line-height: 28px;
  letter-spacing: 0.06em;
  padding: 0.5em 1.2em;
  border-radius: 12px;
  -webkit-transition: all .35s, color .5s;
  transition: all .35s, color .5s; }
  .btn:hover, .btn:active, .btn:focus, .btn.active {
    background: #128088;
    color: #fff; }
  .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    opacity: .65;
    background: #EFEFEF; }
  .btn.success {
    background: #7BD160; }
    .btn.success:hover, .btn.success:active, .btn.success.active {
      background: #95da80; }
  .btn.info {
    background: #007BA1; }
    .btn.info:hover, .btn.info:active, .btn.info.active {
      background: #009aca; }
  .btn.warning {
    background: #FCDE6D; }
    .btn.warning:hover, .btn.warning:active, .btn.warning.active {
      background: #fde795; }
  .btn.danger {
    background: #FF5F73; }
    .btn.danger:hover, .btn.danger:active, .btn.danger.active {
      background: #ff8897; }
  .btn.white:hover, .btn.white:active, .btn.white.active {
    background: #1abbc7; }

.text-hide, .top-nav .icon-fb, .top-nav .icon-line, .logo, .logo-foot {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }
.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

.clearfix:after, .wrap:after {
  content: "";
  display: table;
  clear: both; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.clear {
  clear: both; }

.rest {
  overflow: hidden; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.inline {
  display: inline; }

.img-center {
  display: block;
  margin: auto; }

.center, .wrap {
  margin-right: auto;
  margin-left: auto; }

[hidden], .hidden {
  display: none; }

.circle {
  border-radius: 50%; }

.full {
  width: 100%; }

.max-full {
  max-width: 100%; }

.m-0 {
  margin: 0; }

.mt-0 {
  margin-top: 0; }

.mr-0 {
  margin-right: 0; }

.mb-0 {
  margin-bottom: 0; }

.ml-0 {
  margin-left: 0; }

.mx-0 {
  margin-right: 0;
  margin-left: 0; }

.my-0 {
  margin-top: 0;
  margin-bottom: 0; }

.m-2 {
  margin: 0.125rem; }

.mt-2 {
  margin-top: 0.125rem; }

.mr-2 {
  margin-right: 0.125rem; }

.mb-2 {
  margin-bottom: 0.125rem; }

.ml-2 {
  margin-left: 0.125rem; }

.mx-2 {
  margin-right: 0.125rem;
  margin-left: 0.125rem; }

.my-2 {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem; }

.m-4 {
  margin: 0.25rem; }

.mt-4 {
  margin-top: 0.25rem; }

.mr-4 {
  margin-right: 0.25rem; }

.mb-4 {
  margin-bottom: 0.25rem; }

.ml-4 {
  margin-left: 0.25rem; }

.mx-4 {
  margin-right: 0.25rem;
  margin-left: 0.25rem; }

.my-4 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; }

.m-8 {
  margin: 0.5rem; }

.mt-8 {
  margin-top: 0.5rem; }

.mr-8 {
  margin-right: 0.5rem; }

.mb-8 {
  margin-bottom: 0.5rem; }

.ml-8 {
  margin-left: 0.5rem; }

.mx-8 {
  margin-right: 0.5rem;
  margin-left: 0.5rem; }

.my-8 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.m-12 {
  margin: 0.75rem; }

.mt-12 {
  margin-top: 0.75rem; }

.mr-12 {
  margin-right: 0.75rem; }

.mb-12 {
  margin-bottom: 0.75rem; }

.ml-12, .top-nav .icon-line {
  margin-left: 0.75rem; }

.mx-12 {
  margin-right: 0.75rem;
  margin-left: 0.75rem; }

.my-12 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem; }

.m-16 {
  margin: 1rem; }

.mt-16 {
  margin-top: 1rem; }

.mr-16 {
  margin-right: 1rem; }

.mb-16 {
  margin-bottom: 1rem; }

.ml-16 {
  margin-left: 1rem; }

.mx-16 {
  margin-right: 1rem;
  margin-left: 1rem; }

.my-16 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.m-24 {
  margin: 1.5rem; }

.mt-24 {
  margin-top: 1.5rem; }

.mr-24, .nav-link:not(:last-child) {
  margin-right: 1.5rem; }

.mb-24 {
  margin-bottom: 1.5rem; }

.ml-24 {
  margin-left: 1.5rem; }

.mx-24 {
  margin-right: 1.5rem;
  margin-left: 1.5rem; }

.my-24 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.m-32 {
  margin: 2rem; }

.mt-32 {
  margin-top: 2rem; }

.mr-32 {
  margin-right: 2rem; }

.mb-32 {
  margin-bottom: 2rem; }

.ml-32 {
  margin-left: 2rem; }

.mx-32 {
  margin-right: 2rem;
  margin-left: 2rem; }

.my-32 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.m-48 {
  margin: 3rem; }

.mt-48 {
  margin-top: 3rem; }

.mr-48 {
  margin-right: 3rem; }

.mb-48 {
  margin-bottom: 3rem; }

.ml-48 {
  margin-left: 3rem; }

.mx-48 {
  margin-right: 3rem;
  margin-left: 3rem; }

.my-48 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.m-64 {
  margin: 4rem; }

.mt-64 {
  margin-top: 4rem; }

.mr-64 {
  margin-right: 4rem; }

.mb-64 {
  margin-bottom: 4rem; }

.ml-64 {
  margin-left: 4rem; }

.mx-64 {
  margin-right: 4rem;
  margin-left: 4rem; }

.my-64 {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.p-0 {
  padding: 0; }

.pt-0 {
  padding-top: 0; }

.pr-0 {
  padding-right: 0; }

.pb-0 {
  padding-bottom: 0; }

.pl-0 {
  padding-left: 0; }

.px-0 {
  padding-right: 0;
  padding-left: 0; }

.py-0 {
  padding-top: 0;
  padding-bottom: 0; }

.p-2 {
  padding: 0.125rem; }

.pt-2 {
  padding-top: 0.125rem; }

.pr-2 {
  padding-right: 0.125rem; }

.pb-2 {
  padding-bottom: 0.125rem; }

.pl-2 {
  padding-left: 0.125rem; }

.px-2 {
  padding-right: 0.125rem;
  padding-left: 0.125rem; }

.py-2 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem; }

.p-4 {
  padding: 0.25rem; }

.pt-4 {
  padding-top: 0.25rem; }

.pr-4 {
  padding-right: 0.25rem; }

.pb-4 {
  padding-bottom: 0.25rem; }

.pl-4 {
  padding-left: 0.25rem; }

.px-4 {
  padding-right: 0.25rem;
  padding-left: 0.25rem; }

.py-4, .List .news-item .date {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }

.p-8 {
  padding: 0.5rem; }

.pt-8 {
  padding-top: 0.5rem; }

.pr-8 {
  padding-right: 0.5rem; }

.pb-8 {
  padding-bottom: 0.5rem; }

.pl-8 {
  padding-left: 0.5rem; }

.px-8 {
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.py-8 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.p-12 {
  padding: 0.75rem; }

.pt-12 {
  padding-top: 0.75rem; }

.pr-12 {
  padding-right: 0.75rem; }

.pb-12 {
  padding-bottom: 0.75rem; }

.pl-12 {
  padding-left: 0.75rem; }

.px-12, .List .news-item .date {
  padding-right: 0.75rem;
  padding-left: 0.75rem; }

.py-12, .goTop {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; }

.p-16 {
  padding: 1rem; }

.pt-16 {
  padding-top: 1rem; }

.pr-16 {
  padding-right: 1rem; }

.pb-16, .foot-contacts {
  padding-bottom: 1rem; }

.pl-16 {
  padding-left: 1rem; }

.px-16, .goTop {
  padding-right: 1rem;
  padding-left: 1rem; }

.py-16, .top-nav {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.p-24 {
  padding: 1.5rem; }

.pt-24 {
  padding-top: 1.5rem; }

.pr-24 {
  padding-right: 1.5rem; }

.pb-24 {
  padding-bottom: 1.5rem; }

.pl-24 {
  padding-left: 1.5rem; }

.px-24 {
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

.py-24 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.p-32 {
  padding: 2rem; }

.pt-32 {
  padding-top: 2rem; }

.pr-32, .foot-about {
  padding-right: 2rem; }

.pb-32 {
  padding-bottom: 2rem; }

.pl-32, .foot-contacts {
  padding-left: 2rem; }

.px-32 {
  padding-right: 2rem;
  padding-left: 2rem; }

.py-32 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.p-48 {
  padding: 3rem; }

.pt-48 {
  padding-top: 3rem; }

.pr-48 {
  padding-right: 3rem; }

.pb-48 {
  padding-bottom: 3rem; }

.pl-48 {
  padding-left: 3rem; }

.px-48 {
  padding-right: 3rem;
  padding-left: 3rem; }

.py-48, #footer {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.p-64 {
  padding: 4rem; }

.pt-64 {
  padding-top: 4rem; }

.pr-64 {
  padding-right: 4rem; }

.pb-64 {
  padding-bottom: 4rem; }

.pl-64 {
  padding-left: 4rem; }

.px-64 {
  padding-right: 4rem;
  padding-left: 4rem; }

.py-64 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.align-top {
  vertical-align: top; }

.align-middle {
  vertical-align: middle; }

.align-bottom {
  vertical-align: bottom; }

.text-left, #footer {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-nowrap {
  white-space: nowrap; }

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.font-sp {
  font-family: "Montserrat"; }

.text-white, .btn.white:hover, .btn.white:active, .btn.white.active, .top-nav .mail, .goTop, .goTop:hover, .goTop:active, #footer, #footer a, .List .news-item .date {
  color: #fff; }

.text-black {
  color: #000; }

.bg-white, .btn.white, .scrolling #menu, .card, .Service .exper .wrap .card-2 {
  background-color: #fff; }

.bg-black {
  background-color: #000; }

.text-primary, .btn.white {
  color: #1599A3; }

.bg-primary, .List .news-item .date {
  background-color: #1599A3; }

.hover-primary {
  color: #1599A3; }
  .hover-primary:hover, .hover-primary:active {
    color: #11828a; }

.text-secondary, .nav-link {
  color: #005081; }

.bg-secondary, .top-nav {
  background-color: #005081; }

.hover-secondary {
  color: #005081; }
  .hover-secondary:hover, .hover-secondary:active {
    color: #00446d; }

.text-muted {
  color: #EFEFEF; }

.bg-muted {
  background-color: #EFEFEF; }

.hover-muted {
  color: #EFEFEF; }
  .hover-muted:hover, .hover-muted:active {
    color: #cbcbcb; }

.text-success {
  color: #7BD160; }

.bg-success {
  background-color: #7BD160; }

.hover-success {
  color: #7BD160; }
  .hover-success:hover, .hover-success:active {
    color: #68b151; }

.text-info {
  color: #007BA1; }

.bg-info {
  background-color: #007BA1; }

.hover-info {
  color: #007BA1; }
  .hover-info:hover, .hover-info:active {
    color: #006888; }

.text-warning {
  color: #FCDE6D; }

.bg-warning, ::selection {
  background-color: #FCDE6D; }

.hover-warning {
  color: #FCDE6D; }
  .hover-warning:hover, .hover-warning:active {
    color: #d6bc5c; }

.text-danger, .help {
  color: #FF5F73; }

.bg-danger {
  background-color: #FF5F73; }

.hover-danger {
  color: #FF5F73; }
  .hover-danger:hover, .hover-danger:active {
    color: #d85061; }

.text-words {
  color: #757575; }

.bg-words {
  background-color: #757575; }

.hover-words {
  color: #757575; }
  .hover-words:hover, .hover-words:active {
    color: #636363; }

[class*="text-"].disabled, [class*="text-"][disabled],
[class*="hover-"].disabled,
[class*="hover-"][disabled] {
  cursor: not-allowed;
  color: #EFEFEF; }

#menu {
  padding: 59px 0; }
  .scrolling #menu {
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    border-bottom: 1px solid #EFEFEF;
    z-index: 999;
    position: fixed;
    top: 0;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    -webkit-animation: scrolling 0.8s alternate both;
    animation: scrolling 0.8s alternate both; }
@-webkit-keyframes scrolling {
  from {
    opacity: 0.5;
    top: -100%; }
  to {
    opacity: 1;
    top: 0; } }
@keyframes scrolling {
  from {
    opacity: 0.5;
    top: -100%; }
  to {
    opacity: 1;
    top: 0; } }
.nav-link {
  text-shadow: 0 0 0 #005081; }
  .nav-link:hover, .nav-link:active, .nav-link.active {
    color: #1599A3; }

.top-nav .mail {
  margin-top: 18px; }
.top-nav .icon-fb, .top-nav .icon-line {
  display: block;
  float: left;
  background: url(../images/icon-social.gif) 0 0 no-repeat;
  width: 38px;
  height: 38px; }
.top-nav .icon-line {
  background-position: right 0; }

figure .full-link:empty {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

figure {
  position: relative;
  margin: 0; }
  figure .full-link:empty {
    z-index: 9;
    opacity: 0;
    background: #fff; }

.modal {
  z-index: 999;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: none;
  padding-top: 42px;
  padding-bottom: 42px; }
  .modal.in {
    display: block;
    -webkit-animation: fadeIn 0.4s forwards;
    animation: fadeIn 0.4s forwards; }
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
.modal-close {
  background: none;
  color: #fff;
  font-size: 3.125em;
  line-height: 1;
  z-index: 1000;
  -webkit-transition: color 0.35s;
  transition: color 0.35s; }
  .modal-close:hover, .modal-close:focus {
    color: #FCDE6D;
    cursor: pointer; }
  .modal > .modal-close {
    position: fixed;
    top: 1%;
    right: 1.5%; }
  .modal-content .modal-close {
    position: absolute;
    top: -40px;
    right: -50px; }

.modal-content {
  margin: auto;
  position: relative;
  background-color: #fff;
  max-width: 1120px;
  padding: 32px; }

.animate-top {
  position: relative;
  -webkit-animation: slide-down 0.4s;
  animation: slide-down 0.4s; }
@-webkit-keyframes slide-down {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
@keyframes slide-down {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
.animate-zoom {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s; }
@-webkit-keyframes animatezoom {
  from {
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }
  to {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes animatezoom {
  from {
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }
  to {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); } }
.font-tiny {
  font-size: 12px;
  font-size: 0.75rem; }

.font-sm {
  font-size: 13px;
  font-size: 0.8125rem; }

.font-md, .List .news-item .date {
  font-size: 15px;
  font-size: 0.9375rem; }

.font-lg, .nav-link, .help, .goTop, .card figcaption, #footer, .Service .exper .wrap .card-2 figcaption {
  font-size: 18px;
  font-size: 1.125rem; }

.font-xl {
  font-size: 21px;
  font-size: 1.3125rem; }

.font-xxl {
  font-size: 36px;
  font-size: 2.25rem; }

.font-xxxl, .title {
  font-size: 48px;
  font-size: 3rem; }

.font-jumbo, .Contact-Us #banner .title {
  font-size: 64px;
  font-size: 4rem; }

.font-normal {
  font-style: normal; }

.help {
  cursor: help; }

.btn:hover, .btn:active, .btn:focus {
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.3); }

.goTop {
  z-index: 99;
  opacity: 0;
  border-radius: 12px border-radius 0 0;
  background: rgba(15, 111, 118, 0.5);
  position: fixed;
  right: 1.6%;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s; }
  .goTop:hover, .goTop:active {
    background: #005081; }

.fade-in {
  -webkit-animation: fadeIn 1s 1 forwards;
  animation: fadeIn 1s 1 forwards; }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
.fade-out {
  -webkit-animation: fadeOut 1s 1 forwards;
  animation: fadeOut 1s 1 forwards; }
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); } }
@keyframes fadeOut {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); } }
.title {
  font-weight: bolder;
  line-height: 1.3; }

.bg-primary-light {
  background: #43adb5; }

.hover-underline, .top-nav .mail {
  position: relative; }
  .hover-underline:after, .top-nav .mail:after {
    border-bottom: 1px solid;
    width: 0;
    -webkit-transition: 0.35s;
    transition: 0.35s;
    position: absolute;
    bottom: -2px;
    left: 50%; }
    .hover-underline:after, .top-nav .mail:after {
      content: '';
      display: block; }
  .hover-underline:hover:after, .top-nav .mail:hover:after, .hover-underline:active:after, .top-nav .mail:active:after {
    width: 100%;
    left: 0; }

.card {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  border: 1px solid #EFEFEF;
  padding: 20px; }
  .card img {
    max-width: 100%; }
  .card figcaption {
    padding-bottom: 72px;
    position: relative; }
  .card .more {
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0;
    z-index: 10; }

/*      layout
-----------------------------------------------------------------------*/
.wrap {
  max-width: 1200px; }
  @media (max-width: 74.9375em) {
    .wrap {
      padding-left: 16px;
      padding-left: 1rem;
      padding-right: 16px;
      padding-right: 1rem; } }
  @media only screen and (min-device-width: 1024px) {
    .wrap {
      min-width: 1200px; } }

#wrapper {
  min-height: 100%;
  padding-bottom: 338px; }
  @media only screen and (min-device-width: 1024px) {
    #wrapper {
      min-width: 1200px; } }
  .scrolling #wrapper {
    padding-top: 54px; }

#header {
  z-index: 3; }

.logo {
  cursor: pointer;
  background: url(../images/logo.gif) 0 0 no-repeat;
  width: 217px;
  height: 69px;
  position: absolute;
  left: 50%;
  width: 217px;
  margin-left: -108.5px;
  top: 110px; }
  .scrolling .logo {
    top: 3px;
    background-image: url(../images/logo-s.gif);
    width: 48px;
    height: 48px;
    margin-left: -24px; }

#footer {
  background: #43adb5;
  color: #fff;
  min-height: 266px;
  margin-top: -266px;
  position: relative;
  z-index: 2;
  line-height: 1.7;
  letter-spacing: .05em; }
  #footer dt {
    font-weight: 500; }

.logo-foot {
  background: url(../images/logo-foot.gif) 0 0 no-repeat;
  height: 56px; }

.foot-about {
  margin-top: 42px; }
.foot-contacts {
  padding-top: 42px;
  border-left: 1px solid rgba(255, 255, 255, 0.35); }

.map {
  border: 1px solid #fff; }
  .map iframe {
    width: 100%;
    vertical-align: middle; }

.editor img {
  max-width: 100% !important; }

#banner {
  width: 100%;
  height: 360px;
  background-size: cover; }
  #banner h2 {
    margin-top: 10%;
    position: absolute;
    text-align: center;
    width: 100%;
    color: #005081; }
  .Info #banner, .Products-Contant #banner {
    height: 0; }

.intro {
  position: relative;
  text-align: left; }
  .intro article {
    position: relative;
    margin: 120px auto 100px;
    width: 1000px;
    color: #757575; }

.safe .wrap {
  position: relative;
  padding: 0 60px; }
  .safe .wrap img {
    position: absolute;
    top: 0; }
  .safe .wrap figcaption {
    position: relative;
    width: 500px;
    padding-top: 30px;
    margin-bottom: 200px; }

.Products #banner {
  background-image: url("../images/page/banner-pro.gif"); }
.Products .products .wrap {
  padding: 0 120px; }
  .Products .products .wrap .card {
    float: left;
    width: 48%;
    transition: all .3s;
    margin-top: 2%;
    position: relative; }
    .Products .products .wrap .card:hover {
      color: #1599A3; }
    .Products .products .wrap .card .img {
      width: 48%;
      text-align: center;
      min-height: 220px;
      max-height: 220px;
      line-height: 220px; }
    .Products .products .wrap .card figcaption {
      padding: 5px;
      width: 48%;
      vertical-align: middle; }
      .Products .products .wrap .card figcaption h5 {
        font-size: 20px;
        line-height: 1.5; }
    .Products .products .wrap .card:nth-child(even) {
      margin-left: 2%; }
.Products .fivetop .wrap {
  margin-top: 250px; }
  .Products .fivetop .wrap img {
    left: 0; }
  .Products .fivetop .wrap figcaption {
    left: 650px; }
    .Products .fivetop .wrap figcaption p {
      position: relative;
      color: #757575; }
    .Products .fivetop .wrap figcaption #p1 {
      left: -130px;
      margin-bottom: 90px; }
    .Products .fivetop .wrap figcaption #p2 {
      left: -15px;
      margin-bottom: 125px; }
    .Products .fivetop .wrap figcaption #p3 {
      left: 25px;
      margin-bottom: 125px; }
    .Products .fivetop .wrap figcaption #p4 {
      left: -15px;
      margin-bottom: 95px; }
    .Products .fivetop .wrap figcaption #p5 {
      left: -90px; }

.Service #banner {
  background-image: url("../images/page/banner-service.gif"); }
.Service .title {
  text-shadow: -2px -2px rgba(230, 245, 255, 0.7), -0.5px -0.5px rgba(230, 245, 255, 0.9); }
.Service .h2-line {
  border-bottom: #005081 5px solid;
  width: 430px;
  margin: 0 auto; }
.Service .wrap img {
  left: 100px; }
.Service .wrap figcaption {
  color: #757575;
  left: 750px; }
  .Service .wrap figcaption ul {
    position: relative; }
  .Service .wrap figcaption #test1 {
    left: -160px;
    margin: 55px 0 125px; }
  .Service .wrap figcaption #test2 {
    margin-bottom: 120px; }
  .Service .wrap figcaption #test3 {
    left: -160px;
    margin-bottom: 130px; }
  .Service .wrap figcaption #test4 {
    margin-bottom: 110px; }
  .Service .wrap figcaption #test5 {
    left: -160px;
    margin-bottom: 95px; }
  .Service .wrap figcaption #test6 {
    margin-bottom: 130px; }
  .Service .wrap figcaption #test7 {
    left: -160px; }
.Service .exper .shorter {
  width: 330px; }
.Service .exper .wrap {
  padding: 0 200px; }
  .Service .exper .wrap .card-2 {
    float: left;
    width: 48%;
    height: 620px; }
    .Service .exper .wrap .card-2 .shadow {
      -webkit-filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.2));
      filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.2)); }
    .Service .exper .wrap .card-2 .corner {
      position: relative;
      background-color: #F1F1F1;
      clear: both;
      height: 180px;
      width: 100%;
      border-top-right-radius: 12px;
      border-top-left-radius: 12px; }
      .Service .exper .wrap .card-2 .corner h5 {
        margin: 0;
        padding-top: 100px;
        color: #1786A6; }
      .Service .exper .wrap .card-2 .corner:after {
        content: "";
        position: absolute;
        bottom: -70px;
        left: 0;
        background: none;
        z-index: 1;
        width: 0;
        height: 0;
        border: 0 solid transparent;
        border-width: 70px 192px 0 192px;
        border-top-color: #F1F1F1; }
    .Service .exper .wrap .card-2 figcaption {
      height: 420px;
      background-color: #1786A6;
      padding: 110px 40px 20px;
      color: #ffffff;
      text-align: left;
      border-bottom-right-radius: 12px;
      border-bottom-left-radius: 12px; }
      .Service .exper .wrap .card-2 figcaption ul {
        margin-bottom: 0;
        line-height: 1.7;
        letter-spacing: 0.5px; }
    .Service .exper .wrap .card-2:last-child {
      margin-left: 4%; }
      .Service .exper .wrap .card-2:last-child h5 {
        color: #2BB7BB; }
      .Service .exper .wrap .card-2:last-child figcaption {
        background-color: #2BB7BB; }

.Info .intro {
  padding: 50px 0; }
  .Info .intro .wrap img {
    float: right;
    margin-top: 400px; }
  .Info .intro .wrap h6 {
    margin-top: 8px;
    font-size: 16px;
    font-weight: normal; }

.Products-Contant .product .inner {
  max-width: 1000px;
  margin-top: 80px; }
.Products-Contant .product img {
  margin-top: 50px; }
.Products-Contant .product article {
  padding: 0 25px; }
  .Products-Contant .product article h2 {
    margin: 175px 0 50px; }
  .Products-Contant .product article p {
    margin-top: 20px;
    line-height: 1.7; }
.Products-Contant .list {
  margin-top: 200px; }
  .Products-Contant .list ul {
    list-style-type: none; }
    .Products-Contant .list ul .list01 {
      height: 192px;
      width: 1200px;
      margin: 40px 0; }
      .Products-Contant .list ul .list01 h5 {
        width: 200px;
        padding-left: 90px;
        color: #ffffff;
        margin-top: 30px;
        vertical-align: top; }
      .Products-Contant .list ul .list01 article {
        padding: 45px 0 0 15px;
        line-height: 1.5; }
    .Products-Contant .list ul #list01 {
      background-image: url("../images/page/product/list01.gif"); }
    .Products-Contant .list ul #list02 {
      background-image: url("../images/page/product/list02.gif"); }
    .Products-Contant .list ul #list03 {
      background-image: url("../images/page/product/list03.gif"); }
    .Products-Contant .list ul #list04 {
      background-image: url("../images/page/product/list04.gif"); }
.Products-Contant .info h2 {
  color: #595757;
  padding: 100px 0 50px; }
.Products-Contant .info table {
  line-height: 1.5;
  margin: 20px 60px; }
.Products-Contant .info p {
  margin: 0 60px; }
.Products-Contant .table {
  color: #ffffff;
  margin-top: 100px; }
  .Products-Contant .table h2 {
    padding: 100px 0 50px; }
  .Products-Contant .table table {
    border: 4px solid #ffffff;
    border-collapse: collapse;
    width: 85%;
    margin: 0 auto; }
  .Products-Contant .table tr, .Products-Contant .table td {
    border: 1px solid #ffffff;
    padding: 20px;
    transition: all .35s, color .5s; }
  .Products-Contant .table tr:hover {
    background-color: #128088; }
  .Products-Contant .table .refer {
    margin: 50px 0 100px; }
.Products-Contant .qa {
  margin-bottom: 100px; }
  .Products-Contant .qa h2 {
    padding: 100px 0 50px; }
  .Products-Contant .qa .paragraph {
    margin: 20px auto;
    width: 1000px; }
    .Products-Contant .qa .paragraph p:first-child {
      color: #005081;
      font-weight: bold; }

.List #banner {
  background-image: url("../images/page/banner-list.jpg");
  margin-bottom: 100px; }
.List .news-item {
  background-color: #F7F8F8;
  display: inline-block;
  vertical-align: top;
  margin: 10px 2% 40px;
  width: 28.33333%; }
  .List .news-item .date {
    border-radius: 6px; }
  .List .news-item img {
    max-height: 170px;
    margin-top: 20px; }
  .List .news-item figcaption {
    margin-top: -8px; }
.List #blog-pager {
  clear: both;
  margin: 30px auto;
  text-align: center;
  padding: 7px; }
  .List #blog-pager .pagecurrent {
    font-weight: bold;
    color: #ffffff;
    background-color: #1599A3; }
  .List #blog-pager > span {
    margin-bottom: 10px; }
  .List #blog-pager .showPageOf {
    display: none !important; }
  .List #blog-pager .displaypageNum a, .List #blog-pager .showpage a, .List #blog-pager .pagecurrent {
    display: inline-block;
    font-size: 16px;
    padding: 10px 16px;
    margin: 10px;
    border-radius: 20px;
    color: #666;
    background-color: #eee; }
  .List #blog-pager .displaypageNum a:hover, .List #blog-pager .showpage a:hover, .List #blog-pager .pagecurrent {
    background-color: #1599A3;
    text-decoration: none;
    color: #ffffff; }

.News-Content #banner {
  background-image: url("../images/page/banner-list.jpg");
  margin-bottom: 100px; }
.News-Content img {
  margin: 60px 0; }
.News-Content article {
  margin: 30px 60px 60px;
  color: #757575; }
  .News-Content article p {
    margin: 20px 0;
    line-height: 1.8; }
.News-Content #blog-pager {
  clear: both;
  margin: 30px auto;
  text-align: center;
  padding: 7px; }
  .News-Content #blog-pager > span {
    margin-bottom: 10px; }
  .News-Content #blog-pager .showPageOf {
    display: none !important; }
  .News-Content #blog-pager .displaypageNum:last-child {
    margin-left: 35%; }
  .News-Content #blog-pager .displaypageNum a, .News-Content #blog-pager .showpage a {
    display: inline-block;
    font-size: 16px;
    padding: 10px 16px;
    margin: 10px;
    border-radius: 20px;
    color: #666;
    background-color: #eee; }
  .News-Content #blog-pager .displaypageNum a:hover, .News-Content #blog-pager .showpage a:hover {
    background-color: #1599A3;
    text-decoration: none;
    color: #ffffff; }

.Contact-Us {
  overflow-x: hidden; }
  .Contact-Us #banner {
    background-image: url("../images/page/banner-contactus.jpg");
    margin-bottom: 100px; }
    .Contact-Us #banner .title {
      color: #ffffff;
      margin: 8% 0 0 10%;
      -moz-transform: rotate(3deg);
      -webkit-transform: rotate(3deg);
      -o-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
      transform: rotate(3deg); }
      @media (max-width: 100em) {
        .Contact-Us #banner .title {
          margin-left: 300px; } }
      @media (max-width: 80em) {
        .Contact-Us #banner .title {
          margin-left: 400px; } }
  .Contact-Us .wrap h5 {
    color: #005081;
    font-weight: bold; }
  .Contact-Us .wrap form {
    margin: 100px 150px; }
    .Contact-Us .wrap form .boxleft {
      display: inline-block;
      vertical-align: top; }
      .Contact-Us .wrap form .boxleft .form-box {
        color: #005081;
        margin: 20px 20px 50px;
        position: relative; }
        .Contact-Us .wrap form .boxleft .form-box .label {
          vertical-align: middle;
          padding: 4px; }
        .Contact-Us .wrap form .boxleft .form-box select, .Contact-Us .wrap form .boxleft .form-box textarea, .Contact-Us .wrap form .boxleft .form-box input {
          width: 250px;
          border: #005081 2px solid;
          padding: 4px 10px;
          color: #005081; }
        .Contact-Us .wrap form .boxleft .form-box option {
          border: #005081 2px solid; }
        .Contact-Us .wrap form .boxleft .form-box textarea {
          vertical-align: top; }
        .Contact-Us .wrap form .boxleft .form-box .select {
          appearance: none;
          -moz-appearance: none;
          -webkit-appearance: none;
          background: url("../images/page/arrow.gif") no-repeat right center transparent; }
        .Contact-Us .wrap form .boxleft .form-box .red {
          color: #FF5F73; }
        .Contact-Us .wrap form .boxleft .form-box .none {
          visibility: hidden; }
      .Contact-Us .wrap form .boxleft .gender {
        position: relative;
        padding-left: 35px;
        padding-top: 7px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin-left: 20px; }
        .Contact-Us .wrap form .boxleft .gender:hover .input ~ .checkmark {
          background-color: #005081; }
        .Contact-Us .wrap form .boxleft .gender .input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          width: unset; }
          .Contact-Us .wrap form .boxleft .gender .input:checked ~ .checkmark:after {
            display: block; }
        .Contact-Us .wrap form .boxleft .gender .checkmark {
          position: absolute;
          top: 3px;
          left: 3px;
          height: 25px;
          width: 25px;
          border: #005081 2px solid;
          border-radius: 50%; }
        .Contact-Us .wrap form .boxleft .gender .input:checked ~ .checkmark {
          background-color: #005081; }
      .Contact-Us .wrap form .boxleft #robox {
        border: #005081 2px solid;
        width: 338px;
        padding: 20px 75px; }
      .Contact-Us .wrap form .boxleft .hover-underline, .Contact-Us .wrap form .boxleft .top-nav .mail, .top-nav .Contact-Us .wrap form .boxleft .mail {
        cursor: pointer; }
    .Contact-Us .wrap form #submit {
      display: block;
      width: 110px;
      padding: 15px 0;
      margin: 0 auto;
      background-color: #005081;
      color: #ffffff;
      border-radius: 30px;
      cursor: pointer;
      border: #005081 2px solid;
      transition: all .3s; }
      .Contact-Us .wrap form #submit:hover {
        background-color: #ffffff;
        color: #005081; }
  .Contact-Us .contact-form {
    border: #005081 1px solid; }
    .Contact-Us .contact-form li {
      margin: 10px 0;
      font-weight: bolder; }
  .Contact-Us .modal-close {
    position: relative;
    color: #005081;
    bottom: -15px;
    right: -950px;
    top: unset; }

.Buy #banner {
  background-image: url("../images/page/banner-buy.jpg"); }
.Buy .shop {
  margin: 200px; }
  .Buy .shop h2 {
    color: #005081;
    margin-bottom: 0; }
  .Buy .shop .h2-line {
    border-bottom: #005081 5px solid;
    width: 190px;
    margin: 0 auto; }
  .Buy .shop figure {
    margin: 60px; }
    .Buy .shop figure img {
      margin: 0 20px; }
    .Buy .shop figure a {
      cursor: pointer; }

.About #banner {
  background-image: url("../images/page/banner-about.jpg"); }
.About .wrap {
  position: relative;
  width: 100%; }
  .About .wrap .img {
    width: 40%;
    padding-top: 70px; }
  .About .wrap article {
    width: 50%;
    color: #757575; }
    .About .wrap article p {
      margin-top: 30px; }
.About .info {
  margin-top: 100px; }
.About .team {
  color: #ffffff;
  padding: 30px 0 50px;
  margin-top: 150px; }
.About .people {
  margin-top: 150px; }
  .About .people .card {
    background-color: #F7F8F8; }
