@charset "UTF-8";

// Sizing 只輸入一個值時是正方形
@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

// 做圓形
@mixin circle($size, $align:false, $bg-color:false) {
    border-radius: 50%;
    @include size($size);

    @if $align {
        text-align: center;
        line-height: $size;
    }
    @if $bg-color {
        background-color: $bg-color;
    }
}

// 做三角形
@mixin arrow($dir:right, $width: 11px, $height: $width, $color: inherit) {
    @include size(0);

    border: 0 solid transparent;

    @if ($dir == "top" or $dir =="up") {
        border-width: 0 $width/2 $height $width/2;
        border-bottom-color: $color;
        // border-color: transparent transparent $color transparent;
    }
    @else if ($dir == "bottom" or $dir == "down") {
        border-width: $height $width/2 0 $width/2;
        border-top-color: $color;
        // border-color: $color transparent transparent transparent;
    }
    @else if ($dir == "right") {
        border-width: $height/2 0 $height/2 $width;
        border-left-color: $color;
        // border-color: transparent transparent transparent $color;
    }
    @else if ($dir == "left") {
        border-width: $height/2 $width $height/2 0;
        border-right-color: $color;
        // border-color: transparent $color transparent transparent;
    }
}