
@{
    ViewBag.Title = "聯絡我們";
    ViewBag.BodyClass = "Contact-Us";
    ViewBag.bannerTitle = "聯絡我們";
}

<section class="wrap">
	<h5 class="font-xl">如果您有任何疑問，或是有專案需求欲更進一步瞭解，歡迎隨時來信，我們將竭誠為您服務。</h5>

	<form class="text-left">
		<p>類別</p>
		<select>
			<option value ="專案需求">專案需求</option>
			<option value ="專案需求">專案需求</option>
			<option value ="專案需求">專案需求</option>
			<option value ="專案需求">專案需求</option>
		</select>
		<p>內容</p>
		<textarea rows="5" cols="20"></textarea>
	</form>
</section>